<ion-view view-title="Executive Committee">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Division</th>
		<th>Address</th>
		<th>Superintendent</th>
		<th>Asst. Superintendent/s</th>
		<th>Contact Number</th>
		
	  </tr>
	  <tr>
			<td>Lanao del Sur I-A</td>
			<td>Marawi City</td>
			<td>Normillah R. Pangandaman</td>
			<td>Soraida B. Noor</td>
			<td>(063) 352-0117<br />
					0918-945-5441</td>
		
	  </tr>
	  <tr>
			<td>Lanao del Sur I-B</td>
			<td>Datu Saber, Marawi City</td>
			<td>Pharida L. Sansarona</td>
			<td>Sahanie M. Sumagayan</td>
			<td>---</td>
		
		</tr>
		
		<tr>
			<td>Lanao del Sur II</td>
			<td>Malabang, Lanao del Sur II</td>
			<td>Zenaida P. Ampatua</td>
			<td>Pendi M. Ibrahim</td>
			<td>---</td>
		</tr>

		<tr>
			<td>Maguindanao I</td>
			<td>Hagonoy, Maguindanao</td>
			<td>Bai Meriam A. Kawit</td>
			<td>Paharudin Z. Akot</td>
			<td>(064) 421-7858</td>
		</tr>
		<tr>
			<td>Maguindanao II</td>
			<td>Maguindanao</td>
			<td>Bai Alibai B. Aliuden</td>
			<td>Brahim Gulam</td>
			<td>---</td>
		</tr>
		<tr>
			<td>Sulu</td>
			<td>Jolo, Sulu</td>
			<td>Tim U. Arbison</td>
			<td>Saudi Janang</td>
			<td>(062) 992-4151</td>
		</tr>
		<tr>
			<td>Tawi-Tawi</td>
			<td>Bongao, Tawi-Tawi</td>
			<td>Nuhaila Amirulhadj</td>
			<td>Nihma L. Unda</td>
			<td>(062) 992-4151</td>
		</tr>
		<tr>
			<td>Basilan</td>
			<td>Isabela, Basilan</td>
			<td>Norhaya M. Abdurahim</td>
			<td>Noel B. Notario</td>
			<td>(062) 992-4151</td>
		</tr>

		<tr>
			<td>Marawi City</td>
			<td>Marawi City</td>
			<td>Pharida L. Sansarona (OIC)</td>
			<td>Ana Zenaida U. Alonto<br />
								Salamat Abedin</td>
			<td>(063) 352-0210</td>
		</tr>
		<tr>
			<td>Lamitan City</td>
			<td>Lamitan City</td>
			<td>Aida T. Alih</td>
			<td>Anicito C. Molijon</td>
			<td>---</td>
		</tr>
		
	</table>
  </div>
  </ion-content>
  </ion-view>