<ion-view view-title="Executive Committee">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Region</th>
        <th>Location</th>
        <th>Regional Director</th>
        <th>Asst. Regional Director</th>
		
	  </tr>
	 	<tr>
            <td>
	            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/CAR">CAR</a></td>
	            <td>Engineer&#039;s Hill, Baguio City</td>
	            <td><b>RD NERIE D. BUENO</b><br> Contact No(s).: (074) 444-3149 <br>
	            Fax No.: (074) 444-8838/(074) 444-6460 <br>
	             Email: <a href="mailto:bueno.nerie@dpwh.gov.ph">bueno.nerie@dpwh.gov.ph</a> 
	        </td>
            <td><b>ARD KHADAFFY D. TANGGOL (OIC)</b> <br>
            Contact No(s).: (074) 444-9168, (074) 442-5968 <br>
            Fax No.: <br>
            Email: <a>tanggol.khadaffy@dpwh.gov.ph</a>
          </td>
        </tr>
		
	</table>

<br><br>
	<table class="depttable">
	  	<tr>
			<th>Region</th>
	        <th>Office</th>
	        <th>Regional Director</th>
	        <th>Asst. Regional Director</th>
		
	  	</tr>
	 	<tr>
        	<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/region/car">CAR</a>  </td>
          	<td> <a href="http://www.dpwh.gov.ph/dpwh/node/1401"><b>Abra District Engineering Office</b> <br>
          	Bangued, Abra</a> </td>
			<td> <b> DE EDGARDO K. LIM (OIC)</b> <br>
			Contact No(s): (074) 752-8380, (074) 752-7734<br>
			Fax No: <br>
			Email Address: <a href="mailto:lim.edgardo@dpwh.gov.ph">lim.edgardo@dpwh.gov.ph</a> </td>
            <td> <b>ADE EDWIN T. BRINGAS (OIC)</b><br>
            Contact No(s).: (074) 752-5307<br>
            Fax No.: <br>
            Email Address: <a href="mailto:bringas.edwin@dpwh.gov.ph">bringas.edwin@dpwh.gov.ph</a>
          	</td>
        </tr>
        <tr>
	        <td> <a href="http://www.dpwh.gov.ph/dpwh/directory/region/car">CAR</a>  </td>
	        <td> <a href="http://www.dpwh.gov.ph/dpwh/node/1502"><b>Apayao 1st District Engineering Office</b> <br>
	        Conner, Apayao</a>  </td>
	        <td> <b> DE ALBERTO N. GAHID </b> <br>
	        Contact No(s): 09287712577 <br>
	        Fax No: <br>
	        Email Address: <a href="mailto:gahid.alberto@dpwh.gov.ph">gahid.alberto@dpwh.gov.ph</a> </td>
	        <td><b>ADE EDWARD P. MAGNO</b><br>
	        Contact No(s).: 09178821959 <br>
	        Fax No.: <br>
	        Email Address: <a href="mailto:magno.edward@dpwh.gov.ph">magno.edward@dpwh.gov.ph</a>
	          </td>
              
        </tr>
        <tr>
        	<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/region/car">CAR</a> </td>
            <td> <a href="http://www.dpwh.gov.ph/dpwh/node/1503"><b>Apayao 2nd District Engineering Office</b> <br>
            Luna, Apayao</a> </td>
            <td> <b>DE JANUARIO S. GARDE	</b><br>Contact No(s): 09175168077 <br>Fax No: <br>Email Address: <a href="mailto:garde.januario@dpwh.gov.ph.">garde.januario@dpwh.gov.ph.</a>          </td>
            <td><b>ADE RONALYN P. UBIÑA (OIC)</b><br>Contact No(s).: 09175544543 <br>Fax No.: <br>
            Email Address: <a href="mailto:ubina.ronalyn@dpwh.gov.ph">ubina.ronalyn@dpwh.gov.ph                     </a>
          	</td>
        </tr>
        <tr>
           	<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/car">CAR</a> </td>
			<td> <a href="http://www.dpwh.gov.ph/dpwh/node/1504"><b>Baguio City District Engineering Office</b><br>Baguio City</a>          </td>
			<td><b>DE RENE F. ZARATE  (OIC) </b><br>Contact No(s): (074) 442-8195 	<br>
			Fax No: (074) 442-8195 	<br>Email Address: <a href="mailto:zarate.rene@dpwh.gov.ph">zarate.rene@dpwh.gov.ph</a> </td>
            <td> <b>ADE GLENN V. REYES </b> <br>Contact No(s).: (074) 442-4576 <br>Fax No.: <br>Email Address: <a href="mailto:reyes.glenn@dpwh.gov.ph">reyes.glenn@dpwh.gov.ph</a>
          	</td>
        </tr>
        <tr>
        	<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/region/car">CAR</a>  </td>
            <td> <a href="http://www.dpwh.gov.ph/dpwh/node/1505"><b>Benguet 1st District Engineering Office</b><br>
            La Trinidad, Benguet</a> </td>
            <td> <b>DE DAVID A. BULIYAT </b> <br>Contact No(s): (074) 422-6163 	<br>Fax No: <br>
             Email Address: <a href="mailto:buliyat.david@dpwh.gov.ph">buliyat.david@dpwh.gov.ph</a>  </td>
             <td> <b>ADE BENEDICTA C. MENDOZA</b> <br>Contact No(s).: <br>Fax No.: <br>
             Email Address: <a href="mailto:mendoza.benedicta@dpwh.gov.ph">mendoza.benedicta@dpwh.gov.ph</a>
          	</td>
      	</tr>
	  	<tr>
          	<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/car">CAR</a></td>
            <td> <a href="http://www.dpwh.gov.ph/dpwh/node/1506"><b>Benguet 2nd District Engineering Office</b><br>Buguias, Benguet</a>          </td>
            <td> <b>DE ROMELDA A. BANGASAN	</b><br>Contact No(s): 0908-8856256, 0917-5949565<br>Fax No: <br>
            Email Address: <a href="mailto:bangasan.romelda@dpwh.gov.ph">bangasan.romelda@dpwh.gov.ph</a>          </td>
           <td>  <b>ADE EDUARDO S. GALANZA</b><br>Contact No(s).: 0928-2897246 <br>Fax No.: <br>
           Email Address: <a href="mailto:galanza.eduardo @dpwh.gov.ph">galanza.eduardo @dpwh.gov.ph</a>
          	</td>
        </tr>
        <tr>
        	<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/region/car">CAR</a> </td>
            <td> <a href="http://www.dpwh.gov.ph/dpwh/node/1507"><b>Ifugao 1st District Engineering Office</b> <br>Lagawe, Ifugao</a></td>
           	<td><b>DE LORNA T. RICARDO</b><br>Contact No(s): (074) 382-2123 	<br>Fax No: <br>
           	Email Address: <a href="mailto:ricardo.lorna@dpwh.gov.ph">ricardo.lorna@dpwh.gov.ph</a>          </td>
            <td><b>ADE JUANITO I. BALLOGAN </b><br>Contact No(s).: (074) 382-2123 <br>Fax No.: <br>
            Email Address: <a href="mailto:ballogan.juanito@dpwh.gov.ph">ballogan.juanito@dpwh.gov.ph</a>
          </td>
        </tr>
        <tr>
            <td> <a href="http://www.dpwh.gov.ph/dpwh/directory/region/car">CAR</a></td>
            <td><a href="http://www.dpwh.gov.ph/dpwh/node/1508"><b>Ifugao 2nd District Engineering Office</b><br>
            Galunugon, Aguinaldo, Ifugao</a>  </td>
            <td> <b>DE GAVINO A. CASTAÑEDA (OIC)</b><br>Contact No(s): (074) 382-2123 	<br>Fax No: <br>
            Email Address: <a href="mailto:castaneda.gavino@dpwh.gov.ph">castaneda.gavino@dpwh.gov.ph</a>          </td>
            <td> <b>ADE TEOFILO D. RAMIREZ, JR.</b><br>Contact No(s).: <br>Fax No.: <br>Email Address: <a href="mailto:ramirez.teofilo_jr@dpwh.gov.ph">ramirez.teofilo_jr@dpwh.gov.ph</a>
          	</td>
      	</tr>
      	<tr>
          	<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/region/car">CAR</a> </td>
     	 	<td> <a href="http://www.dpwh.gov.ph/dpwh/node/1509"><b>Lower Kalinga District Engineering Office</b> <br> Tabuk, Kalinga</a></td>
            <td> <b>DE IRENEO S. GALLATO </b><br>Contact No(s): 09063086889 <br>Fax No: <br>
            Email Address: <a href="mailto:gallato.ireneo@dpwh.gov.ph">gallato.ireneo@dpwh.gov.ph </a>  </td>
            <td> <b>ADE RUBY A. UYAM</b><br>Contact No(s).: 09088946906 <br>Fax No.: <br>
            Email Address: <a href="mailto:uyam.ruby@dpwh.gov.ph">uyam.ruby@dpwh.gov.ph</a>  </td>
        </tr>
        <tr>
           	<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/region/car">CAR</a> </td>
            <td> <a href="http://www.dpwh.gov.ph/dpwh/node/1510"><b>Mountain Province  District Engineering Office</b> <br>
            Bontoc, Mountain Province</a> </td>
           	<td> <b>DE ALEXANDER C. CASTAÑEDA</b> <br>Contact No(s): (074) 602-1074 	<br>Fax No: <br>
           	Email Address: <a href="mailto:castaneda.alexander@dpwh.gov.ph">castaneda.alexander@dpwh.gov.ph</a></td>
            <td> <b>ADE APOLONIA D. MALINGAN</b> <br>Contact No(s).: (074) 602-1074 <br>Fax No.: <br>Email Address: <a href="mailto:malingan.apolonia@dpwh.gov.ph">malingan.apolonia@dpwh.gov.ph</a> </td>
        </tr>
        <tr>
			<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/region/car">CAR</a> </td>
            <td> <a href="http://www.dpwh.gov.ph/dpwh/node/1511"><b>Upper Kalinga District Engineering Office</b> <br>Pasil, Kalinga</a>  </td>
            <td> <b>DE DOMINGO A. ENCISO	</b><br>Contact No(s): <br>Fax No: <br>
            Email Address: <a href="mailto:enciso.domingo@dpwh.gov.ph">enciso.domingo@dpwh.gov.ph</a> </td>
           	<td> <b>ADE TEODORO A. OWEK</b><br>Contact No(s).: <br>Fax No.: <br>
           	Email Address: <a href="mailto:owek.teodoro@dpwh.gov.ph">owek.teodoro@dpwh.gov.ph</a> </td>
        </tr>
        <tr>
            <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/car">CAR</a> </td>
         	<td> <a href="http://www.dpwh.gov.ph/dpwh/node/4240"><b>Mountain Province 2nd District Engineering Office</b>
             <br>Bontoc, Mountain  Province </a></td>
            <td><b>DE RUSTOM A. MARTIÑEZ (OIC)</b><br>Contact No(s): <br>Fax No: <br>
            Email Address: <a href="mailto:martiñez.rustom@dpwh.gov.ph">martiñez.rustom@dpwh.gov.ph</a> </td>
            <td>  <b>ADE ESTHER C. TAYNEC (OIC)</b><br>Contact No(s).: <br>Fax No.: <br>
            Email Address: <a href="mailto:taynec.esther@dpwh.gov.ph">taynec.esther@dpwh.gov.ph</a> </td>
        </tr>
		
	</table>

  </div>
  </ion-content>
  </ion-view>