<ion-view view-title="Executive Committee">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Division</th>
		<th>Address</th>
		<th>Superintendent</th>
		<th>Asst. Superintendent/s</th>
		<th>Contact Number</th>
		
	  </tr>
	  <tr>
		<td>Abra</td>
		<td>Bangued, Abra</td>
		<td>Irene S. Angway-Bakisan (OIC)</td>
		<td>Amador D. Garcia</td>
		<td>(074) 752-8039<br><br>
			752-8675<br><br>
			752-5358</td>
		
	  </tr>
	  <tr>
			<td>Apayao</td>
			<td>Kabugao, Apayao</td>
			<td>Ronald B. Castillo</td>
			<td>Samuel T. Egsaen,<br><br>
				 Jr. (OIC-ASDS)</td>
			<td>(0920) 405-0108</td>
		
		</tr>
		
		<tr>
			<td>Benguet</td>
			<td>La Trinidad, Benguet</td>
			<td>Marie Carolyn B. Verano</td>
			<td>Nestor L. Bolayo (OIC-ASDS)</td>
			<td>(074) 309-2047<br><br>
				422-2001<br><br>
				422-6570<br><br>
				422-7501</td>
		</tr>

		<tr>
			<td>Ifugao</td>
			<td>Lagawe, Ifugao</td>
			<td>Felipe L. Ballitoc (OIC)</td>
			<td>Geraldine B. Gawi (OIC-ASDS)</td>
			<td>(074) 382-2102<br><br>
				382-2140</td>
		</tr>
		<tr>
			<td>Kalinga</td>
			<td>Tabuk, Kalinga</td>
			<td>Gloria B. Buya-ao (OIC)</td>
			<td>Alfonso A. Estolas (OIC-ASDS)</td>
			<td>(0918) 371-1176<br><br>
				(0917) 801-3587</td>
		</tr>
		<tr>
			<td>Mt. Province</td>
			<td>Bontoc, Mt. Province</td>
			<td>Benedicta B. Gamatero (OIC)</td>
			<td>Benilda M. Daytaca (OIC-ASDS)</td>
			<td>(074) 462-4135</td>
		</tr>
		<tr>
			<td>Baguio City</td>
			<td>Baguio City</td>
			<td>Federico P. Martin</td>
			<td>Soraya T. Faculo (OIC-ASDS)</td>
			<td>(074) 442-7819<br><br>
				446-0275</td>
		</tr>
		<tr>
			<td>Tabuk City</td>
			<td>Tabuk City</td>
			<td>Sally B. Ullalim</td>
			<td>Virginia A. Batan (OIC-ASDS)</td>
			<td>---</td>
		</tr>
		
	</table>
  </div>
  </ion-content>
  </ion-view>