<ion-view view-title="Curriculum and Instruction ">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Office</th>
		<th>Head of Office</th>
		<th>Designation</th>
		<th>Contact Number</th>
		
	  </tr>
	  <tr>
		<td>BUREAU OF CURRICULUM DEVELOPMENT (BCD)</td>
		<td>Jocelyn DR. Andaya	</td>
		<td>Director IV	</td>
		<td>636-5096 <br><br>
			633-7267</td>
		
	  </tr>
	  <tr>
		<td>BCD</td>
		<td>---</td>
		<td>Director III	</td>
		<td>---</td>
		
		</tr>

		<tr>
			<td>ICurriculum Standards Development Division (CSDD)</td>
			<td>Isabel A. Victorino	</td>
			<td>Chief Education Program Specialist	</td>
			<td>632-7746 <br><br>
				635-9822</td>
				
		</tr>
		
		<tr>
			<td>Special Curricular Programs Division (SCPD)</td>
			<td>Sevilla A. Panaligan</td>
			<td>Chief Education Program Specialist</td>
			<td>632-7586 <br><br>
				632-0170</td>
		</tr>
		<tr>
			<td>BUREAU OF EDUCATION ASSESSMENT (BEA)</td>
			<td>Nelia V. Benito</td>
			<td>Director IV	</td>
			<td>655-2145 <br><br>
				631-6921 (fax)</td>
		</tr>
		<tr>
			<td>BUREAU OF EDUCATION ASSESSMENT (BEA)</td>
			<td>---</td>
			<td>Director III</td>
			<td>---</td>
		</tr>
		<tr>
			<td>Education Assessment Division (EAD)</td>
			<td>Abelardo B. Medes	</td>
			<td>Chief Education <br><br> Program Specialist	</td>
			<td>631-2589 <br><br>
				631-2571</td>
		</tr>
		<tr>
			<td>Education Research Division (ERD)</td>
			<td>Gretchen G. Cordero</td>
			<td>Chief Education Program Specialist</td>
			<td>631-2591</td>
		</tr>
		<tr>
			<td>BUREAU OF LEARNING DELIVERY (BLD)</td>
			<td>Marilette R. Almayda</td>
			<td>Director IV</td>
			<td>637-4346 <br>
				636-6540 (fax)</td>
		</tr>
		<tr>
			<td>BLD</td>
			<td>Marilette R. Almayda</td>
			<td>Director III</td>
			<td>633-9347</td>
		</tr>
		<tr>
			<td>Teaching and Learning Division (TLD)</td>
			<td>Rosalina J. Villaneza</td>
			<td>Chief Education Program Specialist</td>
			<td>638-4799 <br>
				687-2948</td>
		</tr>
		<tr>
			<td>Student Inclusion Division (SID)</td>
			<td>Jose D. Tuguinayo, Jr.</td>
			<td>Chief Education Program Specialist</td>
			<td>631-9993</td>
		</tr>
		<tr>
			<td>BUREAU OF LEARNING RESOURCES (BLR)</td>
			<td>Edel B. Carag (OIC)</td>
			<td>Director IV</td>
			<td>634-1072 <br><br>
				631-6922</td>
		</tr>
		<tr>
			<td>BLR</td>
			<td>Edel B. Carag</td>
			<td>Director III</td>
			<td>---</td>
		</tr>
		<tr>
			<td>Learning Resources Production Division (LRPD)</td>
			<td>Besy C. Agamata</td>
			<td>Chief Education Program Specialist</td>
			<td>634-0901 <br><br>
				631-3690</td>
		</tr>
		<tr>
			<td>Learning Resources Quality Assurance Division (LRPD)</td>
			<td>Daisy Asuncion O. Santos</td>
			<td>Chief Education Program Specialist</td>
			<td>634-1054 <br><br>
				631-9294</td>
		</tr>
	</table>
  </div>
  </ion-content>
  </ion-view>