<ion-view view-title="Account Delete">
	<ion-content>
		<div class="row responsive-sm ContentPad">
			<div class="col idenCol">
					<div class="row">
						<h2>Delete Account</h2><br>
					</div>
						<h4>All data will be deleted.</h4>
						<p>Are you sure you want to delete account</p>

					<div class="row">
						<div class="col col-50">
							<button class="button button-block sign_btn solution" ui-sref="app.dashboard">
			  				Back
							</button>
						</div>
						<div class="col col-50">
							<button class="button button-energized button-block sign_btn later" ng-click="delete_account()">
			  				Delete
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>