<ion-view view-title="Executive Committee">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Office</th>
		<th>Head of Office</th>
		<th>Designation</th>
		<th>Contact Number</th>
		
	  </tr>
	  <tr>
		<td>Office of the Secretary (OSEC)</td>
		<td>Leonor Magtolis Briones</td>
		<td>Secretary</td>
		<td>633-7208<br><br>
			633-7228<br><br>
			687-2922<br><br>
			636-4876 (fax)<br><br>
			637-6209 (fax)</td>
		
	  </tr>
	  <tr>
		<td>Chief of Staff</td>
		<td>Atty. Nepomuceno A. Malaluan</td>
		<td>Assistant Secretary </td>
		<td>638-8642<br><br>
			637-6208<br><br>
			636-4876 (fax)</td>
		
		</tr>
		
		<tr>
			<td>Bureau of Curriculum Development<br>
				Bureau of Learning Delivery<br>
				Bureau of Educational Assessment<br>
				Bureau of Learning Resources<br>
				National Educators Academy of the Philippines</td>
			<td>Lorna D. Dino</td>
			<td>Undersecretary</td>
			<td>633-7202<br><br>
				687-4146<br><br>
				631-5057 (fax)</td>
		</tr>

			<tr>
				<td>Planning and Field Operations</td>
				<td>Jesus Lorenzo R. Mateo</td>
				<td>Undersecretary</td>
				<td>633-7206
					631-8494 (fax)</td>
			</tr>
			<tr>
				<td>Legal Affairs
					Sites Titling Office</td>
				<td>Atty. Alberto T. Muyot</td>
				<td>Undersecretary</td>
				<td>633-7205<br><br>
					631-8491<br><br>
					637-3743<br><br>
					633-7259 (fax)</td>
			</tr>
			<tr>
				<td>Legal Affairs</td>
				<td>Atty. Josephine G. Maribojoc</td>
				<td>Assistant Secretary</td>
				<td>706-5332<br><br>
					633-5439 (fax)</td>
			</tr>
			<tr>
				<td>Accounting Division
					Employee Account Management Division</td>
				<td>Victoria M. Catibog</td>
				<td>Undersecretary</td>
				<td>636-1620<br><br>
					631-9640 (fax)</td>
			</tr>
			<tr>
				<td>Budget and Performance Monitoring</td>
				<td>Annalyn M. Sevilla</td>
				<td>Undersecretary</td>
				<td>633-9342<br><br>
					631-9640 (fax)</td>
			</tr>
			<tr>
				<td>Administrative Service
					Information and Communications Technology Service
					Bureau of Learner Support Services
					Disaster Risk Reduction and Management Service</td>
				<td>Alain Del B. Pascua</td>
				<td>Undersecretary</td>
				<td>637-6207<br><br>
					633-7203</td>
			</tr>
			<tr>
				<td>Legislative Affairs
					External Partnership 
					School Sports Division</td>
				<td>Atty. Tonisito M.C. Umali</td>
				<td>Assistant Secretary</td>
				<td>633-7224<br><br>
					631-9641<br><br>
					633-1940 (fax)</td>
			</tr>
			<tr>
				<td>Procurement Service
					Project Management Service
					Bureau of Human Resource and Organizational Development </td>
				<td>ARevsee A. Escobedo</td>
				<td>Assistant Secretary </td>
				<td>633-5313</td>
			</tr>
			<tr>
				<td>Public Affairs Service </td>
				<td>G.H. S. Ambat</td>
				<td>Assistant Secretary </td>
				<td>636-6547<br><br>
					631-8495</td>
			</tr>
			

	  
	</table>
  </div>
  </ion-content>
  </ion-view>