<ion-view view-title="Write Feedback Report">
	<ion-content>
		<div class="row responsive-sm ContentPad">
			<div class="col idenCol">
				<p class="padBottom">Write report</p>
				<form name="addIssueForm">
					<div class="list">
					  	<label class="item item-input item-floating-label">
						    <span class="input-label">Issue of</span>
						    <input type="text" placeholder="Issue of" ng-model="feedback.issueof" name="issueof" required="">
						<div ng-messages="addIssueForm.issueof.$error" ng-if='submitted'  style="color:red;font-size: 13px;" role="alert">
				            <div ng-message="required" class="error message"  ng-show="!addIssueForm.issueof.$valid">Please Enter field</div>
				        </div>
					  	</label>
					  	<label class="item item-input item-floating-label">
						    <span class="input-label">School in</span>
						    <input type="text" placeholder="School in" ng-model="feedback.schoolin" name="schoolin" required="">
						<div ng-messages="addIssueForm.schoolin.$error" ng-if='submitted'  style="color:red;font-size: 13px;" role="alert">
				            <div ng-message="required" class="error message"  ng-show="!addIssueForm.schoolin.$valid">Please Enter field</div>
				        </div>
						</label>
						<label class="item item-input item-floating-label">
						    <span class="input-label">Issue has existed for</span>
						    <input type="text" placeholder="Issue has existed for" ng-model="feedback.existedfor" name="existedfor" required="">
						<div ng-messages="addIssueForm.existedfor.$error" ng-if='submitted'  style="color:red;font-size: 13px;" role="alert">
				            <div ng-message="required" class="error message"  ng-show="!addIssueForm.existedfor.$valid">Please Enter field</div>
				        </div>
						</label>
						<label class="item item-input item-floating-label">
						    <span class="input-label">Other details</span>
						    <input type="text" placeholder="Other details" ng-model="feedback.other_details">
						</label>
						<!-- <label class="item item-input item-floating-label">
						    <span class="input-label">Date</span>
						    <input type="text" placeholder="Date">
						</label>
						 --><label class="item item-input item-floating-label">
						    <span class="input-label">Signed</span>
						    <input type="text" placeholder="Signed" ng-model="feedback.sign">
						</label>
					</div>
				</form>
				<div class="row">
					<div class="col col-50">
						<button ng-disabled="{{buttonDisabled}}" class="button button-energized button-block sign_btn" ng-click="save(addIssueForm)">
					  		Save
						</button>
					</div>
					<div class="col col-50">
						<button ng-disabled="{{buttonDisabled}}" class="button button-block resetBtn" ng-click="preview(addIssueForm)">
					  		Preview
						</button>
					</div>
				</div>	
			</div>	
		</div>
	</ion-content>
</ion-view>