<ion-view view-title="Finance and Administration">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
		  <tr>
			<th>Office</th>
			<th>Head of Office</th>
			<th>Designation</th>
			<th>Contact Number</th>
			
		  </tr>
		 <tr>
		 	<td>ADMINISTRATIVE SERVICE (AS)</strong></td>
			<td >Robert M. Agustin</td>
			<td >Director IV</td>
			<td >633-7223<br>
						635-0552</td>
		</tr>
		<tr>
			<td>Asset Management Division (AMD)</td>
			<td>Maritess L. Ablay</td>
			<td>Chief Administrative Officer</td>
			<td>635-0551<br>
				633-7217 (fax)</td>
		</tr>
		<tr>
			<td>Cash Division (AMD)</td>
			<td>Sonia R. De Leon</td>
			<td>Chief Administrative Officer</td>
			<td>637-2408<br>
				633-7220</td>
		</tr>
		<tr>
			<td>Education Facilities Division (EFD)</td>
			<td>Annabelle R. Pangan</td>
			<td>Engineer V</td>
			<td>633-7263<br>
				638-7110<br>
				636-4877</td>
		</tr>
		<tr>
			<td>General Services Division (GSD)</td>
			<td>Florentino M. Barte, Jr.</td>
			<td>Chief Administrative Officer</td>
			<td>636-4880<br>
				633-6680</td>
		</tr>
		<tr>
			<td>Personnel Division (PD)</td>
			<td>Francis Allen B. Dela Cruz</td>
			<td>Chief Administrative Officer</td>
			<td>633-9345<br>
				636-6546<br>
				633-6682 (fax)</td>
		</tr>
		<tr>
			<td>Records Division (RD)</td>
			<td>Nanette R. Mamoransing</td>
			<td>Chief Administrative Officer</td>
			<td>633-7218<br>
				687-1449</td>
		</tr>
		<tr>
			<td>Medical Clinic</td>
			<td>Laureen Nebab-Ortiz</td>
			<td>Medical Officer IV</td>
			<td>633-7214</td>
		</tr>
		<tr>
			<td>Library Unit</td>
			<td>Teofila B. Benito</td>
			<td>Librarian II</td>
			<td>634-1928</td>
		</tr>
		<tr>
			<td>Building Facilities and Maintenance Unit</td>
			<td>---</td>
			<td>---</td>
			<td>633-7236</td>
		</tr>
		<tr>
			<td>Baguio Teachers Camp (BTC)</td>
			<td>Diosdado S. Medina</td>
			<td>Teachers Camp Superintendent</td>
			<td>(074) 442-3517<br>
				442-2659<br>
				422-6887</td>	
		</tr>
		<tr>
			<td><strong>FINANCE SERVICE (FS)</strong><br>Budget and Performance Monitoring</td>
			<td>Theresa Anne M. Menardo</td>
			<td>Director IV</td>
			<td>637-4611</td>
		</tr>
		<tr>
			<td>Disbursements</td>
			<td>Armando C. Ruiz (OIC)</td>
			<td>Director III</td>
			<td>633-7231<br>
				683-0867</td>
			</tr>
			<tr>
				<td>Accounting Division (AD)</td>
				<td>Ma. Rhunna L. Catalan</td>
				<td>Chief Accountant</td>
				<td>633-7961<br>
					633-7233<br>
					633-7201</td>
		</tr>
		<tr>
			<td>Budget Division (BD)</td>
			<td>Selwyn C. Briones (OIC)</td>
			<td>Chief Administrative Officer</td>
			<td>637-4214<br>
				637-6203</td>
		</tr>
		<tr>
			<td>Employee Account Management Division (EAMD)</td>
			<td>Louisa S. Roberto</td>
			<td>Chief Administrative Officer</td>
			<td>633-7248<br>
				637-6207</td>
		</tr>
		<tr>
			<td><strong>PROCUREMENT SERVICE (Proc.S)</strong></td>
			<td>Aida N. Carpentero</td>
			<td>Director IV</td>
			<td>636-6542</td>
		</tr>
		<tr>
			<td>BAC Secretariat Division</td>
			<td>Ma. Teresa S. Fulgar (concurrent)</td>
			<td>Chief Administrative Officer</td>
			<td>633-9343</td>
		</tr>
		<tr>
			<td>Contract Management Division (CMD)</td>
			<td>Adonis R. Barraquias</td>
			<td>Chief Administrative Officer</td>
			<td>635-3762</td>
		</tr>
		<tr>
			<td>Procurement Planning and Management Division (PPMD)</td>
			<td>Ma. Teresa S. Fulgar</td>
			<td>Chief Administrative Officer</td>
			<td>638-4392<br>
				636-6543</td>
		</tr>
	</table>
  </div>
  </ion-content>
  </ion-view>