<ion-view view-title="Governance and Operations">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Office</th>
		<th>Head of Office</th>
		<th>Designation</th>
		<th>Contact Number</th>
		
	  </tr>
	  <tr>
		<td>BUREAU OF HUMAN RESOURCE AND ORGANIZATIONAL DEVELOPMENT (BHROD)</td>
		<td>Ma. Lourdes D. Pantoja	</td>
		<td>Director IV		</td>
		<td>633-7237</td>
		
	  	</tr>
		<tr>
			<td>BHROD</td>
			<td>---</td>
			<td>Director III</td>
			<td>---</td>	
		</tr>
		<tr>
			<td>BHROD</td>
			<td>---</td>
			<td>Director III</td>
			<td>---</td>	
		</tr>

		<tr>
			<td>Employee Welfare Division (EWD)</td>
			<td>Marcos A. Rodil (OIC)</td>
			<td>Chief Administrative Officer</td>
			<td>633-7229 <br><br>
				635-3760</td>
		</tr>
		<tr>
			<td>Human Resource Development Division (HRDD)</td>
			<td>---</td>
			<td>Project Development Officer V</td>
			<td>470-6630</td>
		</tr>
		<tr>
			<td>Organization Effectiveness Division (OED)	</td>
			<td>---	</td>
			<td>DProject Development Officer V	</td>
			<td>633-5375</td>
		</tr>
		<tr>
			<td>School Effectiveness Division (SED)</td>
			<td>Dexter N. Pante</td>
			<td>Project Development Officer V</td>
			<td>633-5397</td>
		</tr>
		<tr>
			<td>BUREAU OF LEARNER SUPPORT SERVICES (BLSS)</td>
			<td>Rizalino Jose T. Rosales	</td>
			<td>Director IV	</td>
			<td>632-9935 <br><br>
				638-8525</td>
		</tr>
		<tr>
			<td>BLSS</td>
			<td>Ella Cecilia G. Naliponguit</td>
			<td>Director III</td>
			<td>632-9935 <br><br>
				638-8525</td>
		</tr>
		<tr>
			<td>School Health Division (SHD)</td>
			<td>Ma. Corazon C. Dumlao</td>
			<td>Chief Health Program Officer</td>
			<td>635-9964 <br><br>
				633-7245</td>
		</tr>
		<tr>
			<td>School Sports Division (SSD)</td>
			<td>Cesar S. Abalon</td>
			<td>Chief Education Program Specialist</td>
			<td>632-0260</td>
		</tr>
		<tr>
			<td>Youth Formation Division (YFD)</td>
			<td>Juan R. Araojo, Jr.</td>
			<td>Project Development Officer V</td>
			<td>---</td>
		</tr>
		<tr>
			<td>NATIONAL EDUCATORS ACADEMY OF THE PHILIPPINES (NEAP)</td>
			<td>John Arnold S. Siena</td>
			<td>Director IV</td>
			<td>638-8638</td>
		</tr>
		<tr>
			<td>NEAP</td>
			<td>Priscila C. De Sagun (OIC)</td>
			<td>Director III</td>
			<td>638-8638</td>
		</tr>
		<tr>
			<td>BLR</td>
			<td>Edel B. Carag</td>
			<td>Director III</td>
			<td>---</td>
		</tr>
		<tr>
			<td>Professional Development Division (PDD)</td>
			<td></td>
			<td>Project Development Officer V</td>
			<td>633-9455</td>
		</tr>
		<tr>
			<td>Quality Assurance Division (QAD)</td>
			<td>---</td>
			<td>Project Development Officer V</td>
			<td>633-7207</td>
		</tr>
		<tr>
			<td>PROJECT MANAGEMENT SERVICE (PMS)</td>
			<td>---</td>
			<td>Director IV</td>
			<td>631-2579</td>
		</tr>
		<tr>
			<td>Project Development Division (PDD)</td>
			<td>Miriam N. Coprado (OIC)</td>
			<td>Project Development Officer V</td>
			<td>633-7256 <br><br>
				635-3983</td>
		</tr>
		<tr>
			<td>Project Management Division (PMD)</td>
			<td >Carolina T. Rivera (OIC)</td>
			<td >Project Development Officer V</td>
			<td >631-8378<br>
					631-8360<br>
					631-0595</td>
		</tr>
	</table>
  </div>
  </ion-content>
  </ion-view>