<ion-view view-title="Confirm issue">
	<ion-content>
			<div class="row responsive-sm ContentPad">
				<div class="col idenCol">
					<img src="img/CMS.png" class="RegLogo statefrm">
					<p class="padBottom">Inform School Head about the issue and the people who are concerned/affected.</p>
					<p class="padBottom">Convince SH to cooperate in your effort to address it.</p>
					<p class="padBottom">SH must sign on the <strong><a ui-sref="app.cooperationform">Cooperation Form</a></strong>. Upload signed Cooperation Form.</p>	
					<!-- <button class="button button-energized sign_btn button-block">
			  		Save
					</button> -->
				</div>	
			</div>
	</ion-content>
</ion-view>