<ion-view hide-nav-bar="true">
	<ion-content has-header="false" scroll="false">
		<div class="Logoimg">
			<img src="img/CMS.png" class="mainLogo">
		</div>
		<div class="row home_btns">
			<div class="col col-50">
				<button class="button button-energized button-block sign_btn" ui-sref="registration">
				  Sign Up
				</button>
			</div>
			<div class="col col-50">
				<button class="button button-energized button-block sign_btn" ui-sref="login">
				  Sign In
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>