<ion-view view-title="Executive Committee">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Name</th>
		<th>Position</th>
		<th>Email</th>
		<th>Contact Number(s)</th>
		
	  </tr>
	  <tr>
		<td><a href="http://www.dpwh.gov.ph/dpwh/directory/key_officials/secretary">Mark A. Villar</a></td>
		<td>Secretary</td>
		<td><a href="mailto:villar.mark@dpwh.gov.ph">villar.mark@dpwh.gov.ph</a></td>
		<td>+632-304-3300</td>
		
	  </tr>
	  <tr>
		<td><a href="http://www.dpwh.gov.ph/dpwh/directory/key_officials/senior_usec">Rafael C. Yabut</a></td>
		<td>Senior Undersecretary for Regional Operations in Mindanao</td>
		<td><a href="mailto:yabut.rafael@dpwh.gov.ph">yabut.rafael@dpwh.gov.ph</a></td>
		<td>+632-304-3214<br><br>
			+632-304-3231</td>
		
		</tr>
		
		<tr>
			<td><a href="http://www.dpwh.gov.ph/dpwh/directory/key_officials/usec_PPP">Maria Catalina  E. Cabral</a></td>
			<td>Undersecretary for Planning and PPP</td>
			<td><a href="mailto:cabral.ma_catalina@dpwh.gov.ph">cabral.ma_catalina@dpwh.gov.ph</a></td>
			<td>+632-304-3319</td>
		</tr>

			<tr>
				<td><a href="http://www.dpwh.gov.ph/dpwh/node/609">Ardeliza R. Medenilla</a></td>
				<td>Undersecretary for Support Services</td>
				<td><a href="mailto:medenilla.ardeliza@dpwh.gov.ph">medenilla.ardeliza@dpwh.gov.ph</a></td>
				<td>+632-304-3535</td>
			</tr>
			<tr>
				<td><a href="http://www.dpwh.gov.ph/dpwh/node/3326">Karen Olivia V. Jimeno</a></td>
				<td>Undersecretary for Legal Affairs and Priority Projects</td>
				<td> <a href="mailto:jimeno.karen@dpwh.gov.ph">jimeno.karen@dpwh.gov.ph</a></td>
				<td>+632-304-3255</td>
			</tr>
			<tr>
				<td><a href="http://www.dpwh.gov.ph/dpwh/node/655">Emil K. Sadain</a></td>
				<td>Undersecretary for UPMO Operations & Undersecretary for Technical Services (concurrent)</td>
				<td><a href="mailto:sadain.emil@dpwh.gov.ph">sadain.emil@dpwh.gov.ph</a></td>
				<td>+632-304-3555</td>
			</tr>
			<tr>
				<td><a href="http://www.dpwh.gov.ph/dpwh/node/659">Dimas S. Soguilon</a></td>
				<td>Undersecretary for Regional Operations in Luzon</td>
				<td><a href="mailto:soguilon.dimas@dpwh.gov.ph">soguilon.dimas@dpwh.gov.ph</a></td>
				<td>+632-304-3577</td>
			</tr>
			<tr>
				<td><a href="http://www.dpwh.gov.ph/dpwh/node/656">Roberto R. Bernardo</a></td>
				<td>Undersecretary for Regional Operations in Visayas, NCR and Region IV-B</td>
				<td><a href="mailto:bernardo.roberto@dpwh.gov.ph">bernardo.roberto@dpwh.gov.ph</a></td>
				<td>+632-304-3415</td>
			</tr>
			<tr>
				<td><a href="http://www.dpwh.gov.ph/dpwh/node/657">Eugenio R. Pipo, Jr.</a></td>
				<td>Assistant Secretary for Regional Operations in Luzon</td>
				<td><a href="mailto:pipo.eugenio@dpwh.gov.ph">pipo.eugenio@dpwh.gov.ph</a></td>
				<td>+632-304-3469</td>
			</tr>
			<tr>
				<td><a href="http://www.dpwh.gov.ph/dpwh/node/658">Gilberto S. Reyes</td>
				<td>Assistant Secretary for Technical Services</td>
				<td> <a href="mailto:reyes.gilberto@dpwh.gov.ph">reyes.gilberto@dpwh.gov.ph</a></td>
				<td>+632-304-3260</td>
			</tr>
			<tr>
				<td><a href="http://www.dpwh.gov.ph/dpwh/node/660">B. Elizabeth E. Yap</a></td>
				<td>Assistant Secretary for Support Services</td>
				<td><a href="mailto:yap.bess@dpwh.gov.ph">yap.bess@dpwh.gov.ph</a></td>
				<td>+632-304-3365</td>
			</tr>
			<tr>
				<td><a href="http://www.dpwh.gov.ph/dpwh/node/12561">Maximo L. Carvajal</a></td>
				<td>Assistant Secretary for UPMO Operations</td>
				<td><a href="mailto:carvajal.maximo@dpwh.gov.ph">carvajal.maximo@dpwh.gov.ph</a></td>
				<td>+632-304-3679</td>
			</tr>
			<tr>
				<td><a href="http://www.dpwh.gov.ph/dpwh/node/12562">Tingagun A. Umpa</a></td>
				<td>Assistant Secretary for the Autonomous Region in Muslim Mindanao (ARMM)</td>
				<td> <a href="mailto:umpa.tingagun@dpwh.gov.ph">umpa.tingagun@dpwh.gov.ph</a></td>
				<td>+632-304-3342</td>
			</tr>
	</table>

	<h3>Bureaus (Central Office - Manila)</h3>
	
	<table class="depttable">
	  <tr>
		<th>Name</th>
		<th>Position, Bureau</th>
		<th>Email</th>
		<th>Contact Number(s)</th>
		
	  </tr>
	  <tr>
		<td><a href="http://www.dpwh.gov.ph/dpwh/directory/bureau/BOC_director">Walter R. Ocampo</a></td>
		<td>Director, Bureau of Construction</td>
		<td><a href="mailto:ocampo.walter@dpwh.gov.ph">ocampo.walter@dpwh.gov.ph</a></td>
		<td>+632-304-3340</td>
		
	  </tr>
	  <tr>
		<td><a href="http://www.dpwh.gov.ph/dpwh/node/599">Lea N. Delfinado</a></td>
		<td>OIC-Director, Bureau of Design</td>
		<td><a href="mailto:delfinado.lea@dpwh.gov.ph">delfinado.lea@dpwh.gov.ph</a></td>
		<td>+632-304-3271</td>
		
	</tr>
		
		<tr>
			<td><a href="http://www.dpwh.gov.ph/dpwh/node/661">Toribio Noel L. Ilao</a></td>
			<td>Director, Bureau of Equipment</td>
			<td><a href="mailto:ilao.toribio_noel@dpwh.gov.ph">ilao.toribio_noel@dpwh.gov.ph</a></td>
			<td>+632-304-3639</td>
		</tr>

			<tr>
				<td><a href="http://www.dpwh.gov.ph/dpwh/node/662">Ernesto S. Gregorio, Jr</a></td>
				<td>Director, Bureau of Maintenance</td>
				<td><a href="mailto:gregoriojr.ernesto@dpwh.gov.ph">gregoriojr.ernesto@dpwh.gov.ph</a></td>
				<td>+632-304-3618</td>
			</tr>
			<tr>
				<td><a href="http://www.dpwh.gov.ph/dpwh/node/663">Medmier G. Malig</a></td>
				<td>Director, Bureau of Quality and Safety</td>
				<td> <a href="mailto:malig.medmier@dpwh.gov.ph">malig.medmier@dpwh.gov.ph</a></td>
				<td>+632-304-3582</td>
			</tr>
			<tr>
				<td><a href="http://www.dpwh.gov.ph/dpwh/node/664">Reynaldo G. Tagudando</a></td>
				<td>Director, Bureau of Research and Standards</td>
				<td><a href="mailto:tagudando.reynaldo@dpwh.gov.ph">tagudando.reynaldo@dpwh.gov.ph</a></td>
				<td>+632-926-3735</td>
			</tr>
	</table>

	<h3>SERVICES (CENTRAL OFFICE - MANILA)</h3>
		<table class="depttable">
	  <tr>
		<th>Name</th>
		<th>Position, Department</th>
		<th>Email</th>
		<th>Contact Number(s)</th>
		
	  </tr>
	  <tr>
          <td><a href="http://www.dpwh.gov.ph/dpwh/directory/service/finance">Marichu A. Palafox</a></td>
          <td>Director, Finance Service</td>
          <td><a href="mailto:palafox.marichu@dpwh.gov.ph">palafox.marichu@dpwh.gov.ph</a></td>
          <td>+632-304-3242</td>
       </tr>
       <tr>
          <td><a href="http://www.dpwh.gov.ph/dpwh/node/3325">Michael S. Villafranca </a></td>
          <td>Director, Human Resource and Administrative Service</td>
          <td><a href="mailto:villafranca.michael@dpwh.gov.ph">villafranca.michael@dpwh.gov.ph</a></td>
          <td>+632-304-3453</td>
       </tr>
       <tr>
          <td><a href="http://www.dpwh.gov.ph/dpwh/node/665">Ma. Nieva S. dela Paz</a></td>
          <td>Director, Information Management Service </td>
          <td><a href="mailto:delapaz.ma_nieva@dpwh.gov.ph">delapaz.ma_nieva@dpwh.gov.ph</a></td>
          <td>+632-304-3364</td>
       </tr>
       <tr>
          <td><a href="http://www.dpwh.gov.ph/dpwh/node/666">Gliricidia C. Tumaliuan-Ali</a></td>
          <td> Director, Internal Audit Service </td>
          <td><a href="mailto:tumaliuan.gliricidia@dpwh.gov.ph ">tumaliuan.gliricidia@dpwh.gov.ph </a></td>
          <td>+632-304-3106 </td>
       </tr>
       <tr>
          <td><a href="http://www.dpwh.gov.ph/dpwh/node/667">Estrella T. Decena-Zaldivar</a></td>
          <td>Director, Legal Service</td>
          <td> <a href="mailto:zaldivar.estrella@dpwh.gov.ph">zaldivar.estrella@dpwh.gov.ph</a></td>
          <td>+632-304-3238</td>
       </tr>
       <tr>
          <td><a href="http://www.dpwh.gov.ph/dpwh/node/668">Constante A. Llanes, Jr. </a> </td>
          <td> Director, Planning Service</td>
          <td><a href="mailto:llanes.constante@dpwh.gov.ph">llanes.constante@dpwh.gov.ph</a> </td>
          <td>+632-304-3195</td>
       </tr>
       <tr>
          <td><a href="http://www.dpwh.gov.ph/dpwh/node/669">Ma. Victoria S. Gregorio </a> </td>
          <td>OIC-Director, Procurement Service          </td>
          <td><a href="mailto:gregorio.ma_victoria@dpwh.gov.ph">gregorio.ma_victoria@dpwh.gov.ph</a></td>
          <td>+632-304-3122 </td>
       </tr>
       <tr>
          <td><a href="http://www.dpwh.gov.ph/dpwh/node/670">Alex G. Bote</a></td>
          <td>Director, Public-Private Partnership Service </td>
          <td><a href="mailto:bote.alex@dpwh.gov.ph">bote.alex@dpwh.gov.ph</a> </td>
          <td>+632-304-3762 </td>
       </tr>
       <tr>
          <td><a href="http://www.dpwh.gov.ph/dpwh/node/671">Elizabeth P. Pilorin</a> </td>
          <td>Director, Stakeholders Relations Service </td>
          <td> <a href="mailto:pilorin.elizabeth@dpwh.gov.ph">pilorin.elizabeth@dpwh.gov.ph</a></td>
          <td >+632-304-3280</td>
       </tr>
	</table>

<h3>UNIFIED PROJECT MANAGEMENT OFFICES (UPMO)</h3>
<table class="depttable">
 <tr>
		<th>Name</th>
		<th>Position, Department</th>
		<th>Email</th>
		<th>Contact Number(s)</th>
		
</tr>
<tr>
   <td><a href="http://www.dpwh.gov.ph/dpwh/directory/UPMO/BMC">Gil R. Villanueva</a></td>
   <td>Project Director, Bridges Management Cluster</td>
   <td><a href="mailto:villanueva.gil@dpwh.gov.ph">villanueva.gil@dpwh.gov.ph</a></td>
   <td>+632-304-3862</td>
</tr>
<tr>
   <td><a href="http://www.dpwh.gov.ph/dpwh/directory/UPMO/BASPMC">Atty. Johnson V. Domingo</a></td>
   <td>Project Director, Buildings Management Cluster</td>
   <td><a href="mailto:domingo.johnson@dpwh.gov.ph.">domingo.johnson@dpwh.gov.ph.</a></td>
   <td>+632-256-6836</td>
</tr>
<tr>
   <td><a href="http://www.dpwh.gov.ph/dpwh/directory/UPMO/FCMC">Patrick B. Gatan</a></td>
   <td>Project Director, Flood Control Management Cluster </td>
   <td><a href="mailto:gatan.patrick@dpwh.gov.ph">gatan.patrick@dpwh.gov.ph</a></td>
   <td>+632-304- 3813<br><br>+632-304-3752</td>
</tr>
<tr>
   <td><a href="http://www.dpwh.gov.ph/dpwh/directory/UPMO/RMC1">Virgilio C. Castillo</a></td>
   <td>Project Director, Roads Management Cluster I (Bilateral)</td>
   <td><a href="mailto:castillo.virgilio@dpwh.gov.ph">castillo.virgilio@dpwh.gov.ph</a></td>
   <td>+632-304-3750<br><br>+632-304-3757<br><br>+632-304-3679</td>
</tr>
<tr>
   <td><a href="http://www.dpwh.gov.ph/dpwh/directory/UPMO/RMC2">Sharif Madsmo  H. Hasim</a></td>
   <td>Project Director, Roads Management Cluster II (Multilateral) </td>
   <td><a href="mailto:hasim.sharif_madsmo@dpwh.gov.ph">asim.sharif_madsmo@dpwh.gov.ph</a></td>
   <td>+632-304-3779</td>
</tr>

</table>

<h3>REGIONAL DIRECTORY</h3>
<table class="depttable">
 <tr>
		<th>Region</th>
		<th>Location</th>
		<th>Regional Director</th>
		<th></th>
		<th>Asst. Regional Director</th>
		<th></th>
</tr>

<tr>
    <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/ncr">NCR</a></td>
    <td>2nd St., Port Area, Manila</td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/RD%20MELVIN%20B.%20NAVARRO">RD MELVIN B. NAVARRO</a>          </td>
    <td>Contact No(s).: (02) 304-3700<br>
		Fax No.: (02)304-3910<br>
		Email: <a href="mailto:navarro.melvin@dpwh.gov.ph">navarro.melvin@dpwh.gov.ph</a></td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/ARD%20TIBURCIO%20L.%20CANLAS%20%28OIC%29%20">ARD TIBURCIO L. CANLAS (OIC)</a></td>
    <td>Contact No(s).: (02) 304 3834, (02) 304-3911<br>
		Fax No.: <br>
		Email: <a>canlas.tiburcio@dpwh.gov.ph</a></td>
</tr>
<tr>
    <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/car">CAR</a></td>
    <td>Engineer&#039;s Hill, Baguio City </td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/RD%20NERIE%20D.%20BUENO">RD NERIE D. BUENO</a></td>
    <td>Contact No(s).: (074) 444-3149<br>
		Fax No.: (074) 444-8838/(074) 444-6460<br>
		Email: <a href="mailto:bueno.nerie@dpwh.gov.ph">bueno.nerie@dpwh.gov.ph</a></td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/ARD%20KHADAFFY%20D.%20TANGGOL%20%28OIC%29%20">ARD KHADAFFY D. TANGGOL (OIC)</a></td>
    <td>Contact No(s).: (074) 444-9168, (074) 442-5968<br>
		Fax No.: <br>
		Email: <a>tanggol.khadaffy@dpwh.gov.ph</a></td>
</tr>
<tr>
    <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-i">Region I</a></td>
    <td>Aguila Road, Sevilla, San Fernando City, La Union </td>
	<td><a href="http://www.dpwh.gov.ph/dpwh/RD%20RONNEL%20M.%20TAN%20%28OIC%29">RD RONNEL M. TAN (OIC)</a></td>
    <td>Contact No(s).: (072) 242-9333<br>
		Fax No.: (072) 242-9372<br>
		Email: <a href="mailto:tan.ronnel@dpwh.gov.ph">tan.ronnel@dpwh.gov.ph</a></td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/ARD%20EMMANUEL%20W.%20DIAZ%20%28OIC%29%20">ARD EMMANUEL W. DIAZ (OIC)</a></td>
    <td>Contact No(s).: (072) 242-9363<br>
		Fax No.: (072) 242-9363<br>
		Email: <a>diaz.emmanuel@dpwh.gov.ph</a></td>
</tr>
<tr>
    <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-ii">Region II</a></td>
    <td>Regional Government Center, Carig Sur Tuguegarao City, Cagayan</td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/RD%20MELANIO%20C.%20BRIOSOS">RD MELANIO C. BRIOSOS</a></td>
    <td>Contact No(s).: (078) 304-1185<br>
		Fax No.: (078) 844-9524<br>
		Email: <a href="mailto:briosos.melanio@dpwh.gov.ph">briosos.melanio@dpwh.gov.ph</a></td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/ARD%20ALEXANDER%20D.%20NOLA%20">ARD ALEXANDER D. NOLA</a></td>
    <td>Contact No(s).: (078) 844-4788<br>
		Fax No.: <br>
		Email: <a>nola.alexander@dpwh.gov.ph</a></td>
</tr>
<tr>
    <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-iii">Region III</a>          </td>
    <td>Sindalan, San Fernando, Pampanga </td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/RD%20ANTONIO%20V.%20MOLANO%2C%20JR">RD ANTONIO V. MOLANO, JR</a></td>
    <td>Contact No(s).: (045)455-0645<br>
		Fax No.: (045)455-0347<br>
		Email: <a href="mailto:molano.antonio_jr@dpwh.gov.ph">molano.antonio_jr@dpwh.gov.ph</a> </td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/ARD%20LORETA%20M.%20MALALUAN%20">ARD LORETA M. MALALUAN</a></td>
    <td>Contact No(s).: (045) 961-6632	<br>
		Fax No.: <br>
		Email: <a>malaluan.loreta@dpwh.gov.ph</a>
    </td>
</tr>
<tr>
    <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-iv">Region IV-A</a>          </td>
    <td>EDSA, Quezon City          </td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/RD%20SAMSON%20L.%20HEBRA">RD SAMSON L. HEBRA</a>  </td>
    <td>Contact No(s).: (02) 481-0202<br>
		Fax No.: (02) 927-3276	<br>
		Email: <a href="mailto:hebra.samson@dpwh.gov.ph">hebra.samson@dpwh.gov.ph</a> </td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/ARD%20YOLANDA%20L.%20TANGCO%20">ARD YOLANDA L. TANGCO</a></td>
    <td>Contact No(s).: (02) 481-0206	<br>
		Fax No.: (02) 926-8779	<br>
		Email: <a>tangco.yolanda@dpwh.gov.ph</a></td>
</tr>
<tr>
    <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-iv-b">Region IV-B</a>          </td>
    <td> EDSA, Quezon City</td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/RD%20WILFREDO%20S.%20MALLARI%20%28OIC%29">RD WILFREDO S. MALLARI (OIC)</a>   </td>
     <td>Contact No(s).: (02) 425-1977, (02) 481-0304<br>
		Fax No.: (02) 425-1975	<br>
		Email: <a href="mailto:mallari.wilfredo@dpwh.gov.ph">mallari.wilfredo@dpwh.gov.ph</a></td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/ARD%20ARMANDO%20G.%20ESTRELLA%20%20">ARD ARMANDO G. ESTRELLA </a> </td>
    <td>Contact No(s).: (02) 481-0306, (02) 481-0307<br>
		Fax No.: (02) 425-1975<br>
		Email: <a>estrella.armando@dpwh.gov.ph</a></td>
</tr>
<tr>
    <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-v">Region V</a>          </td>
    <td>Rawis, Legaspi City</td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/RD%20DANILO%20E.%20VERSOLA%20">RD DANILO E. VERSOLA </a></td>
    <td>Contact No(s).: (052) 482-0395	<br>
		Fax No.: (052) 482-0395	<br>
		Email: <a href="mailto:versola.danilo@dpwh.gov.ph">versola.danilo@dpwh.gov.ph</a> </td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/ARD%20ESMERALDO%20S.%20SARMIENTO%20%28OIC%29%20">ARD ESMERALDO S. SARMIENTO (OIC)</a>  </td>
    <td>Contact No(s).: (052) 481- 2093	<br>
		Fax No.: <br>
		Email: <a>sarmiento.esmeraldo@dpwh.gov.ph</a></td>
</tr>
<tr>
    <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-vi">Region VI</a>          </td>
    <td>Fort San Pedro, Iloilo City          </td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/RD%20WENCESLAO%20M.%20LEANO%2C%20JR.">RD WENCESLAO M. LEANO, JR.</a></td>
    <td>Contact No(s).: (033) 329-9001	, (033) 329-9002<br>
		Fax No.: (033) 335-0257<br>
		Email: <a href="mailto:leano.wenceslao_jr@dpwh.gov.ph">leano.wenceslao_jr@dpwh.gov.ph</a> </td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/ARD%20JOSE%20AL%20V.%20FRUTO%20%20">ARD JOSE AL V. FRUTO </a></td>
    <td>Contact No(s).: (033) 329-9006	<br>
		Fax No.: <br>
		Email: <a>fruto.jose_al@dpwh.gov.ph</a></td>
</tr>
<tr>
    <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-vii">Region VII</a>          </td>
    <td>South Road Properties, Cebu City  </td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/RD%20ADOR%20G.%20CANLAS">RD ADOR G. CANLAS</a>          </td>
    <td>Contact No(s).: (032)-411-6714	, (032)-411-6715<br>
		Fax No.: <br>
		Email: <a href="mailto:canlas.ador@dpwh.gov.ph">canlas.ador@dpwh.gov.ph</a></td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/ARD%20JUBY%20B.%20CORDON%20">ARD JUBY B. CORDON</a>          </td>
    <td>Contact No(s).: (032)-411-6757<br>
		Fax No.: <br>
		Email: <a>cordon.juby@dpwh.gov.ph</a></td>
</tr>
<tr>
    <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-viii">Region VIII</a>  </td>
    <td>Government Center, Baras, Palo, Leyte          </td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/RD%20EDGAR%20B.%20TABACON%20">RD EDGAR B. TABACON </a></td>
    <td>Contact No(s).: (053) 323-1004	<br>Fax No.: (053) 323-3121	<br>Email: <a href="mailto:tabacon.edgar@dpwh.gov.ph">tabacon.edgar@dpwh.gov.ph</a>       </td>
    <td> <a href="http://www.dpwh.gov.ph/dpwh/ARD%20ERIC%20A.%20AYAPANA%20">ARD ERIC A. AYAPANA</a> </td>
    <td>Contact No(s).: (053) 323-1002	<br>Fax No.: (053) 323-3122	<br>
    Email: <a>ayapana.eric@dpwh.gov.ph</a></td>
</tr>
<tr>
    <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-ix">Region IX</a>          </td>
    <td>Tetuan, Zamboanga City</td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/RD%20JORGE%20U.%20SEBASTIAN%20JR.">RD JORGE U. SEBASTIAN JR.</a></td>
    <td>Contact No(s).: (062) 991-0626	<br>Fax No.: (062) 993-3008	<br>Email: <a href="mailto:sebastian.jorge_jr@dpwh.gov.ph">sebastian.jorge_jr@dpwh.gov.ph</a></td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/ARD%20CAYAMOMBAO%20D.%20DIA%20">ARD CAYAMOMBAO D. DIA</a></td>
    <td>Contact No(s).: (062) 955-1099	<br>Fax No.: <br>Email: <a></td>
</tr>
<tr>
    <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-x">Region X</a>  </td>
    <td>Engineer’s Hill, Bulua, Cagayan de Oro City </td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/RD%20VIRGILIO%20C.%20EDUARTE%20%20">RD VIRGILIO C. EDUARTE  </a></td>
    <td> Contact No(s).: (088) 853-2002	<br>Fax No.: (088) 858-4323	<br>Email: <a href="mailto:eduarte.virgilio@dpwh.gov.ph">eduarte.virgilio@dpwh.gov.ph</a>          </td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/ARD%20EFREN%20A.%20BERBA%2C%20CEO%20VI%2C%20CESE%20">ARD EFREN A. BERBA, CEO VI, CESE</a>     </td>
   <td>     Contact No(s).: (088) 853-2006	<br>Fax No.: (088) 853-2060	<br>Email: <a>berba.efren@dpwh.gov.ph</a></td>
</tr>
<tr>
    <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xi">Region XI</a>          </td>
    <td>Ramon Magsaysay Avenue, Davao City          </td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/RD%20ALLAN%20S.%20BORROMEO%20">RD ALLAN S. BORROMEO </a></td>
    <td> Contact No(s).: (082) 226-9302 (local 75002)	<br>Fax No.: (082) 226-9370	<br>Email: <a href="mailto:borromeo.allan@dpwh.gov.ph">borromeo.allan@dpwh.gov.ph</a> </td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/ARD%20ZENAIDA%20T.%20TAN%20%20">ARD ZENAIDA T. TAN </a></td>
    <td>            Contact No(s).: (082) 226-9306 (local 75006)	<br>Fax No.: <br>Email: <a> tan.zenaida@dpwh.gov.ph</a></td>
</tr>
<tr>
    <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xii">Region XII</a></td>
    <td>Mabini St. corner Alunan Avenue, Korondal City  </td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/RD%20%20BASIR%20M.%20IBRAHIM%20">RD  BASIR M. IBRAHIM </a></td>
    <td>            Contact No(s).: (083)228-3908	<br>Fax No.: (083)228-9577	<br>Email: <a href="mailto:ibrahim.basir@dpwh.gov.ph">ibrahim.basir@dpwh.gov.ph</a></td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/ARD%20ROSIE%20C.%20JAVATE%20">ARD ROSIE C. JAVATE</a>          </td>
    <td>            Contact No(s).: (083)228-9577	<br>Fax No.: <br>Email: <a>javate.rosie@dpwh.gov.ph</a></td>
</tr>
<tr">
    <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xiii">Region XIII</a>          </td>
    <td>J. Rosales Avenue, Butuan City          </td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/RD%20POL%20M.%20DELOS%20SANTOS%20%20%28OIC%29">RD POL M. DELOS SANTOS  (OIC)</a> </td>
    <td>    Contact No(s).: (085) 815-3502	, (085)-815-3503<br>Fax No.: (085)-815-3551	<br>Email: <a href="mailto:delossantos.pol@dpwh.gov.ph">delossantos.pol@dpwh.gov.ph</a>          </td>
    <td><a href="http://www.dpwh.gov.ph/dpwh/ARD%20NOMER%20ABEL%20P.%20CANLAS%20%28OIC%29%20">ARD NOMER ABEL P. CANLAS (OIC)</a>      </td>
    <td>            Contact No(s).: (085) 815-3504	<br>Fax No.: <br>Email: <a>canlas.nomer_abel@dpwh.gov.ph</a></td>
</tr>
</table>


  </div>
  </ion-content>
  </ion-view>