<ion-view view-title="Legal and Legislative Affairs">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
		 <tr>
			<th>Office</th>
			<th>Head of Office</th>
			<th>Designation</th>
			<th>Contact Number</th>
		 </tr>
		 <tr>
		 	<td><strong>LEGAL SERVICE (LS)</strong></td>
			<td>Jose Mario M. Macarilay (OIC) &nbsp;&nbsp;</td>
			<td>Director IV</td>
			<td>636-6550<br>
			633-5444</td>
		</tr>
		<tr>
			<td>Investigation Division (ID)</td>
			<td>Cornelio A. Pacala</td>
			<td>Attorney V</td>
			<td>631-5773</td>
		</tr>
		<tr>
			<td>Legal Division (LD)</td>
			<td>---</td>
			<td>Attorney V</td>
			<td>633-7247</td>
		</tr>
		<tr>
			<td>Legislative &nbsp;Liaison Office</td>
			<td>---</td>
			<td>---</td>
			<td>631-9641</td>
		</tr>
		<tr>
			<td>Sites Titling Office</td>
			<td>---</td>
			<td>---</td>
			<td>631-8491<br>
				637-3743</td>
		</tr>
	  
	</table>
  </div>
  </ion-content>
  </ion-view>