<ion-view view-title="Executive Committee">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Region</th>
        <th>Location</th>
        <th>Regional Director</th>
        <th>Asst. Regional Director</th>
		
	  </tr>
	 <tr>
            <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/NCR">NCR</a></td>
            <td>2nd St., Port Area, Manila   </td>
            <td >
            <b>RD MELVIN B. NAVARRO</b><br>Contact No(s).: (02) 304-3700<br>Fax No.: (02)304-3910<br>Email: <a href="mailto:navarro.melvin@dpwh.gov.ph">navarro.melvin@dpwh.gov.ph</a></td>
           <td>
            <b>ARD TIBURCIO L. CANLAS (OIC)</b><br>Contact No(s).: (02) 304 3834, (02) 304-3911<br>Fax No.: <br>Email: <a>canlas.tiburcio@dpwh.gov.ph</a>
          </td>
     </tr>
		
	</table>
<br><br>
<table class="depttable">
	  	<tr>
			<th>Region</th>
	        <th>Office</th>
	        <th>District Engineer</th>
	        <th>Asst. District Engineer</th>
		</tr>
	 	<tr>
            <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/ncr" >NCR</a>    </td>
            <td>  <a href="http://www.dpwh.gov.ph/dpwh/node/1399"><b>Las Pinas-Muntinlupa District Engineering Office</b><br>2nd Street Port Area Manila</a>       </td>
            <td>
            <b>DE CORAZON V. CABATBAT (OIC)</b><br>Contact No(s): (02) 527-8855, (02) 304-3996<br>Fax No: <br>Email Address: <a href="mailto:cabatbat.corazon@dpwh.gov.ph">cabatbat.corazon@dpwh.gov.ph</a></td>
            <td>
            <b>ADE  ELPIDIO Y. TRINIDAD (OIC)</b><br>Contact No(s).: (02) 524-3923<br>Fax No.: <br>Email Address: <a href="mailto:trinidad.elpidio@dpwh.gov.ph">trinidad.elpidio@dpwh.gov.ph</a>
          </td>
        </tr>
        <tr>
            <td>  <a href="http://www.dpwh.gov.ph/dpwh/directory/region/ncr" >NCR</a>          </td>
            <td> <a href="http://www.dpwh.gov.ph/dpwh/node/1400"><b>Malabon-Navotas District Engineering Office</b><br>C-4 Road, Bagumbayan North, Navotas City</a>          </td>
            <td>
            <b>DE MARLO B. CORREA</b><br>Contact No(s): (02) T/F 355-4215, (02) 352-5432 loc. 35501<br>Fax No: <br>Email Address: <a href="mailto:correa.marlo@dpwh.gov.ph">correa.marlo@dpwh.gov.ph</a> </td>
            <td>
            <b>ADE FERNANDO C. GARCIA </b><br>Contact No(s).: (02) 352-5253 to 57 loc. 35517<br>Fax No.: <br>Email Address: <a href="mailto:garcia.fernando@dpwh.gov.ph">garcia.fernando@dpwh.gov.ph</a>
          </td>
        </tr>
        <tr>
            <td> <a href="http://www.dpwh.gov.ph/dpwh/directory/region/ncr" >NCR</a>          </td>
            <td> <a href="http://www.dpwh.gov.ph/dpwh/node/1495"><b>Metro Manila 1st District Engineering Office</b><br>West Bank Road Manggahan Floodway Rosario, Pasig City</a></td>
            <td>
            <b>DE ROBERTO S. NICOLAS	</b><br>Contact No(s): (02) 641-0713 	, (02) 641-2370 	<br>Fax No: (02) 641-4408 	<br>Email Address: <a href="mailto:nicolas.roberto@dpwh.gov.ph 	">nicolas.roberto@dpwh.gov.ph 	</a></td>
            <td>
            <b>ADE EULOGIO V. YDIO</b><br>Contact No(s).: (02)643-9481 <br>Fax No.: 
<br>Email Address: <a href="mailto:ydio.eulogio@dpwh.gov.ph">ydio.eulogio@dpwh.gov.ph</a>
      </td>
        </tr>
        <tr>
            <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/ncr" >NCR</a>          </td>
            <td> <a href="http://www.dpwh.gov.ph/dpwh/node/1496"><b>Metro Manila 2nd District Engineering Office</b><br>Bonifacio Drive cor. 8th St. Port Area Manila</a>          </td>
            <td>
        <b>DE ARLEEN D. BELTRAN	</b><br>Contact No(s): (02) 304-3977 	, (02) 304-3980 	<br>Fax No: (02) 405-0494 	<br>Email Address: <a href="mailto:beltran.arleen@dpwh.gov.ph 	">beltran.arleen@dpwh.gov.ph 	</a> </td>
                  <td>
        <b>ADE FRANCISCO N. GARCES</b><br>Contact No(s).: (02)304-3978 , (02)304-3979 <br>Fax No.: <br>Email Address: <a href="mailto:garces.francisco@dpwh.gov.ph">garces.francisco@dpwh.gov.ph</a>
          </td>
        </tr>
          <tr>
             <td> <a href="http://www.dpwh.gov.ph/dpwh/directory/region/ncr" >NCR</a>          </td>
             <td> <a href="http://www.dpwh.gov.ph/dpwh/node/1497"><b>Metro Manila 3rd District Engineering Office</b><br>APDC-Compound, R. Valenzuela Extension, Marulas, Valenzuela City</a> </td>
             <td><b>DE CASIANO P. DE GUZMAN </b><br>Contact No(s): telefax (02) 294-1037<br>Fax No: <br>Email Address: <a href="mailto:deguzman.casiano@dpwh.gov.ph">deguzman.casiano@dpwh.gov.ph</a>   </td>
              <td><b>ADE ALAN REY PAJIMNA </b><br>Contact No(s).: telefax (02) 294-1036 <br>Fax No.: <br>Email Address: <a href="mailto:pajimna.alan_rey@dpwh.gov.ph">pajimna.alan_rey@dpwh.gov.ph</a>
          </td>
        </tr>
        <tr>
        <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/ncr" >NCR</a>          </td>
        <td><a href="http://www.dpwh.gov.ph/dpwh/node/1498"><b>North Manila District Engineering Office</b><br>Nagtahan, Manila</a>          </td>
        <td><b>DE MEDEL F. CHUA	</b><br>Contact No(s): (02)714-0612 	<br>Fax No: (02) 714-0604 	<br>Email Address: <a href="mailto:chua.medel@dpwh.gov.ph 	">chua.medel@dpwh.gov.ph 	</a>          </td>
        <td> <b>ADE GERARD P. OPULENCIA</b><br>Contact No(s).: (02) 714-0605 <br>Fax No.: (02) 714-0010 <br>Email Address: <a href="mailto:opulencia.gerard@dpwh.gov.ph">opulencia.gerard@dpwh.gov.ph</a>
          </td>
        </tr>
        <tr><td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/ncr" >NCR</a>          </td>
        <td> <a href="http://www.dpwh.gov.ph/dpwh/node/1499"><b>Quezon City 1st District Engineering Office</b><br>Sta. Catalina St. Brgy. Holy Spirit, Quezon City</a>          </td>
         <td><b>DE MARLYN G. INGUILLO (OIC)</b><br>Contact No(s): (02)951-4654 	<br>Fax No: (02) 951-4696 	<br>Email Address: <a href="mailto:inguillo.marlyn@dpwh.gov.ph">inguillo.marlyn@dpwh.gov.ph</a>          </td>
        <td><b>ADE EDILBERTO G. QUIAMBAO, JR.</b><br>Contact No(s).: (02) 431-4598 , 02) 431-4597 <br>Fax No.: <br>Email Address: <a href="mailto:quiambao.edilberto@dpwh.gov.ph">quiambao.edilberto@dpwh.gov.ph</a>
          </td>
        </tr>
        <tr>
          <td>  <a href="http://www.dpwh.gov.ph/dpwh/directory/region/ncr" >NCR</a>          </td>
           <td>  <a href="http://www.dpwh.gov.ph/dpwh/node/1500"><b>Quezon City 2nd District Engineering Office</b><br>790 EDSA, Quezon City</a>          </td>
           <td>   <b>DE RAMON P. DEVANADERA	</b><br>Contact No(s): (02) 481-0046 <br>
Fax No: (02) 920-2744 	<br>Email Address: <a href="mailto:devanadera.ramon@dpwh.gov.ph">devanadera.ramon@dpwh.gov.ph 	</a>  </td>
<td> <b>ADE LOIDA S. BUSA (OIC)</b><br>Contact No(s).: telefax(02) 929-6913 <br>Fax No.: <br>
Email Address: <a href="mailto:busa.loida@dpwh.gov.ph">busa.loida@dpwh.gov.ph</a>
          </td>
</tr>
 <tr>
    <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/ncr" >NCR</a></td>
    <td> <a href="http://www.dpwh.gov.ph/dpwh/node/1501"><b>South Manila District Engineering Office</b><br>8th Street, corner Bonifacio Drive, Port Area, Manila</a></td>
    <td><b>DE MIKUNUG D. MACUD	</b><br>Contact No(s): (02)304-3962 	, (02) 304-4010 <br>
Fax No: (02) 527-2930 	<br>Email Address: <a href="mailto:macud.mikunug@dpwh.gov.ph">macud.mikunug@dpwh.gov.ph 	</a> </td>
     <td>  <b>ADE RAFAEL C. VALENZUELA</b><br>Contact No(s).: (02) 304-3964 <br>Fax No.: (02) 304-3965 <br>Email Address: <a href="mailto:valenzuela.rafael@dpwh.gov.ph">valenzuela.rafael@dpwh.gov.ph</a>  </td>
</tr>
		
</table>

  </div>
  </ion-content>
  </ion-view>