<ion-view view-title="Executive Committee">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Division</th>
		<th>Address</th>
		<th>Superintendent</th>
		<th>Asst. Superintendent/s</th>
		<th>Contact Number</th>
		
	  </tr>
	  <tr>
			<td>Caloocan City</td>
			<td>10th Ave., Kalookan HS, Caloocan City</td>
			<td>Cecille G. Carandang (OIC)</td>
			<td>Aurelio G. Alfonso (OIC-ASDS)</td>
			<td>(02) 361-1463<br><br>
				323-1713<br><br>
				323-1968</td>
		
	  </tr>
	  <tr>
			<td>Las Piñas City</td>
			<td>Las Piñas City	</td>
			<td>Loreta B. Torrecampo</td>
			<td>---</td>
			<td>(02) 822-3840<br><br>
				875-0778<br><br>
				829-8891 (fax)</td>
		
		</tr>
		
		<tr>
			<td>Makati City</td>
			<td>Makati ES, Gen. Luna St., Makati City</td>
			<td>Rita E. Riddle (OIC)</td>
			<td>Maria Teresa A. Namoro (OIC-ASDS)</td>
			<td>(02) 882-5862<br><br>
				882-5861<br><br>
				895-0235 (telefax)</td>
		</tr>

		<tr>
			<td>Malabon City</td>
			<td>N. Aquino ES, Maya-maya St. Dagat-dagatan, Malabon City </td>
			<td>Helen Grace V. Go</td>
			<td>Imelda C. Caro (OIC-ASDS)</td>
			<td>(02) 285-7525<br><br>
				287-1373<br><br>
				285-1605 (telefax)</td>
		</tr>
		<tr>
			<td>Mandaluyong City</td>
			<td>H-way Hills ES, Calbayog St. Mandaluyong City</td>
			<td>Nerissa L. Losaria (OIC)</td>
			<td>Romela M. Cruz (OIC-ASDS)</td>
			<td>(02) 533-4931-35<br><br>
				532-7117 (fax)</td>
		</tr>
		<tr>
			<td>Manila</td>
			<td>City Hall, Manila</td>
			<td>Jenilyn Rose B. Corpuz (OIC)</td>
			<td>Alejandro G. Ibañez Marivic R. Leaño (OIC-ASDS)</td>
			<td>(02) 527-5180-84<br><br>
				302-6890 <br><br>
				302-6735 <br><br>
				527-2315 <br><br>
				527-2339<br><br>
				527-4969 (fax)</td>
		</tr>
		<tr>
			<td>Marikina City</td>
			<td>Shoe Ave., Sta. Elena, Marikina City</td>
			<td>Sheryll T. Gayola (OIC)</td>
			<td>---</td>
			<td>(02) 646-8642<br><br>
				933-4214<br><br>
				682-2472 (fax)</td>
		</tr>
		<tr>
			<td>Muntinlupa City</td>
			<td>Muntinlupa ES, Poblacion Muntinlupa City</td>
			<td>Mauro C. De Gulan (OIC)</td>
			<td>Noel D. Bagano (OIC-ASDS)</td>
			<td>(02) 861-0567<br><br>
				553-2782<br><br>
				861-4953 (telefax)</td>
		</tr>
		<tr>
			<td>Navotas City</td>
			<td>Bagumbayan, 
				Navotas City</td>
			<td>Meliton P. Zurbano (OIC)</td>
			<td>Ma. Evalou A. Agustin (OIC-ASDS)</td>
			<td>(02) 351-5797</td>
		</tr>
		<tr>
			<td>Parañaque City</td>
			<td>Paranaque Central School,
				Kabihasnan Metro Manila	</td>
			<td>Maria Magdalena M. Lim</td>
			<td>Margarito B. Materum (OIC-ASDS)</td>
			<td>(02) 826-8648 <br><br>
				826-5886<br><br>
				826-7937 (telefax)</td>
		</tr>
		<tr>
			<td>Pasay City</td>
			<td>P. Burgos ES, Pasay City</td>
			<td>Evangeline P. Ladines</td>
			<td>Melody P. Cruz (OIC-ASDS)</td>
			<td>(02) 831-0331<br />
				834-1179<br />
				831-6660 (fax)</td>
		</tr>
		<tr>
			<td>Pasig City</td>
			<td>Pasig ES, Caruncho Ave., Pasig City</td>
			<td>Dominico C. Idanan (OIC)</td>
			<td>Arniel A. Aro (OIC-ASDS)</td>
			<td>(02) 641-1883<br />
					640-3193<br />
					641-8885 (telefax)</td>
		</tr>
		<tr>
			<td>Quezon City</td>
			<td>San Francisco Compound, Misamis St., Bago Bantay, Quezon City</td>
			<td>Elizabeth E. Quesada</td>
			<td>Fredie V. Avendano<br />
					Betty C. Cavo (City Rolls)<br />
					Marc Voltaire A. Padilla (OIC-ASDS)<br />
					 </td>
			<td>(02) 352-6809<br />
					920-3229<br />
					456-0343<br />
					352-6746<br />
					920-3586<br />
					927-0850<br />
					456-0521</td>
		</tr>
		<tr>
			<td>San Juan City</td>
			<td>San Juan City</td>
			<td>Joel T. Torrecampo (OIC)</td>
			<td>Flordelisa D. Pereyra (OIC-ASDS)</td>
			<td>(02) 724-3765<br />
					724-6612</td>
		</tr>
		<tr>
			<td>Taguig City - Pateros</td>
			<td>Capinga ES, Taguig City</td>
			<td>Romulo B. Rocena (OIC)</td>
			<td>Carleen S. Sedilla (OIC-ASDS)</td>
			<td>(02) 838-4251<br />
					837-5554<br />
					839-2103 (fax)</td>
		</tr>
		<tr>
			<td>Valenzuela City</td>
			<td>P. Valenzuela St., Marulas, Valenzuela City</td>
			<td>Benjamin D. Samson (OIC)</td>
			<td>Cynthia L. Ayles (OIC-ASDS)</td>
			<td>(02) 293-4507<br />
					292-3247 (telefax)</td>
		</tr>
		
	</table>
  </div>
  </ion-content>
  </ion-view>