<ion-view view-title="Office of the Secretary">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Office</th>
		<th>Head of Office</th>
		<th>Designation</th>
		<th>Contact Number</th>
		
	  </tr>
	  <tr>
		<td>TEACHER EDUCATION COUNCIL SECRETARIAT (TECS)</td>
		<td>Runvi V. Manguerra</td>
		<td>Executive Director II</td>
		<td>638-6170 <br><br>
			638-6172</td>
		
	  </tr>
	  <tr>
		<td>LITERACY COORDINATING COUNCIL SECRETARIAT (LCCS)</td>
		<td>---</td>
		<td>Project Development Officer V </td>
		<td>631-0567<br><br>
				635-9996</td>
		
		</tr>

		<tr>
			<td>INTERNAL AUDIT SERVICE (IAS)	</td>
			<td>Milagros T. Talinio	</td>
			<td>Director IV	</td>
			<td>706-5663</td>
				
		</tr>
		
		<tr>
			<td>Management Audit Division (MAD)</td>
			<td>Buena B. Wagan</td>
			<td>Internal Auditor V</td>
			<td>706-5961</td>
		</tr>

			<tr>
				<td>Operations Audit Division (OAD)	</td>
				<td>Emilio Q. Agamanos, Jr.	</td>
				<td>Internal Auditor V	</td>
				<td>706-5664</td>
			</tr>
	</table>
  </div>
  </ion-content>
  </ion-view>