<ion-view view-title="Region I">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Division</th>
		<th>Address</th>
		<th>Superintendent</th>
		<th>Asst. Superintendent/s</th>
		<th>Contact Number</th>
		
	  </tr>
	  <tr><td>Ilocos Norte</td>
			<td>Bgy. 7B, Giron St., Laoag City</td>
			<td>Vilma D. Eda</td>
			<td>Mariecon G. Ramirez (OIC-ASDS)</td>
			<td>(077) 771-5253<br>
					772-1993<br>
					771-0960 (fax)</td>
	</tr>
	  <tr><td>Ilocos Sur</td>
			<td>Qurino Blvd., Zone V, Bantay, Ilocos Sur</td>
			<td>Gemma Q. Tacuycuy</td>
			<td>Arnel C. Doctolero (OIC-ASDS)</td>
			<td>(077) 722-4394<br>
					722-3290<br>
					722-2055 (telefax)</td>
		</tr>
		
		<tr><td>La Union</td>
			<td>Flores St., Catbangen,San Fernando City, La Union</td>
			<td>Rowena C. Banzon</td>
			<td>Marciano U. Soriano, Jr. (OIC-ASDS)</td>
			<td>(072) 242-4464<br>
					242-3570 (telefax)</td>
		</tr>

			<tr><td>Pangasinan I</td>
				<td>Alviar St., East, Capitol Grounds, Lingayen, Pangasinan</td>
				<td>Maria Celia J. Fernandez</td>
				<td>Teodora V. Nabor<br>
									Marilu N. Cardenas</td>
				<td>(075) 542-5965<br>
					542-6132<br>
					542-5812<br>
					542-5969<br>
					542-2374</td>
			</tr>
	<tr><td>Pangasinan II</td>
		<td>Canarvacanan, Binalonan, Pangasinan</td>
		<td>Donato D. Balderas, Jr.</td>
		<td>Vivian Luz S. Pagatpatan (OIC-ASDS)<br>
							Ely S. Ubaldo (OIC-ASDS)<br>
							&nbsp;</td>
		<td>(075) 513-4281<br>
					513-3411</td>
	</tr>
			<tr><td>Alaminos City</td>
				<td>San Jose Drive, Alaminos City</td>
				<td>Danilo C. Sison</td>
				<td>Aguedo C. Fernandez (OIC-ASDS)</td>
				<td>(075) 654-0212</td>
				</tr>
			<tr><td>Batac City</td>
			<td>Batac City, Ilocos Norte</td>
			<td>Joann A. Corpuz (OIC)</td>
			<td>---</td>
			<td>(077) 792-3554</td>
			</tr>
			<tr><td>Candon City</td>
			<td>Candon II Central School, San Isidro, Candon City</td>
			<td>Jorge M. Reinante</td>
			<td>Nestor C. Heraña (OIC-ASDS)</td>
			<td>(077) 742-6065</td>
			</tr>
			<tr><td>Dagupan City</td>
			<td>Burgos St., Dagupan City</td>
			<td>Lorna G. Bugayong (OIC)</td>
			<td>Lourdes D. Servito (OIC-ASDS)</td>
			<td>(075) 515-6009<br>
					522-0875<br>
					523-4742 (telefax)</td>
			</tr>
			<tr><td>Laoag City</td>
				<td>Brgy. 14, Nolasco St., Laoag City</td>
				<td>Joel B. Lopez (OIC)</td>
				<td>Froserfina J. Bravo</td>
				<td>(077) 771-1526<br>
					773-2514 (fax)<br>
					771-3678</td>
			</tr>
			<tr><td>San Carlos City</td>
				<td>Rizal St., San Carlos City</td>
				<td>Shiela Marie A. Primicias (OIC)</td>
				<td>Mario S. Cariño&nbsp;(OIC-ASDS)</td>
				<td>(075) 532-5343<br>
					531-2062<br>
					532-2328 (fax)</td>
			</tr>
			<tr><td>San Fernando City</td>
				<td>San Fernando City</td>
				<td>Fatima R. Boado</td>
				<td>Diosdado I. Cayabyab (OIC ASDS)</td>
				<td>(072) 888-6925<br>
					868-4161</td>
			</tr>
			<tr><td>Urdaneta City</td>
				<td>San Vicente Drive, Urdaneta City</td>
				<td>Gloria R. Torres</td>
				<td>Rosario O. Cabrera (OIC-ASDS)</td>
				<td>(075) 568-3056<br>
					568-3055 (telefax)</td>
			</tr>
			<tr><td>Vigan City</td>
				<td>Mena Crisologo St. cor. Rivero St. Barangay 9, Vigan City</td>
				<td>Anselmo R. Aludino (OIC)</td>
				<td>Meneleo S. Palma (OIC-ASDS)</td>
				<td>(077) 632-0523<br>
					632-0533</td>
			</tr>
			
			

	  
	</table>
  </div>
  </ion-content>
  </ion-view>