<ion-view view-title="Region IV-B (MIMAROPA)">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Division</th>
		<th>Address</th>
		<th>Superintendent</th>
		<th>Asst. Superintendent/s</th>
		<th>Contact Number</th>
	  </tr>
	  <tr>
		<td>Calapan City</td>
		<td>Calapan City</td>
		<td>Susana M. Bautista</td>
		<td>Lynn G. Mendoza (OIC-ASDS)</td>
		<td>(043) 288-1542<br>
288-1581 (telefax)</td>
	  </tr>
	   <tr>
		<td>Marinduque</td>
		<td>Boac, Marinduque</td>
		<td>Carlito M. Matibag (OIC)</td>
		<td>Laida L. Mascareñas (OIC-ASDS)</td>
		<td>(042) 332-1009<br>
332-1611</td>
	  </tr>
		  <tr>
		<td>Occidental Mindoro</td>
		<td>Mamburao, Occ. Mindoro</td>
		<td>Danilo R. Roxas (OIC)</td>
		<td>Rafael G. Manalo (OIC-ASDS)</td>
		<td>(043) 711-5290<br>
711-1126 (telefax)</td>
	  </tr>

			  <tr>
		<td>Oriental Mindoro</td>
		<td>Calapan, Or. Mindoro</td>
		<td>Maria Luisa D. Servando (OIC)</td>
		<td>Cynthia Eleanor G. Manalo (OIC-ASDS)</td>
		<td>(043) 288-2270<br>
441-0160 (telefax)</td>
	  </tr>
			  <tr>
		<td>Palawan</td>
		<td>Puerto Princesa City</td>
		<td>Servillano A. Arzaga</td>
		<td>Roseline P. Vicente (OIC-ASDS)
Loida P. Olivario (OIC-ASDS)</td>
		<td>(048) 433-6391<br>
433-9941<br>
433-6394</td>
	  </tr>
			  <tr>
		<td>Puerto Princesa City</td>
		<td>Puerto Princesa City</td>
		<td>Elsie T. Barrios (OIC)</td>
		<td>Sherron V. Laurente (OIC-ASDS)</td>
		<td>(048) 433-8458<br>
434-9438</td>
	  </tr>
			<tr>
				<td>Romblon</td>
				<td>Romblon, Romblon</td>
				<td>Roger F. Capa (OIC)</td>
				<td>Rufino B. Foz (OIC-ASDS)</td>
				<td>(054) 472-8218<br> loc. 2055</td>
			</tr>
		
			

	  
	</table>
  </div>
  </ion-content>
  </ion-view>