<ion-view view-title="Region VI">
	
    <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
    
  <div style="overflow-x:auto;">
      <table class="depttable">
        <tr>
          <th>Region</th>
          <th>Locatione</th>
          <th>Regional Director</th>
          <th>Asst. Regional Director</th>
          
        </tr>
        <tr>
          <td>Region VI</td>
          <td>Fort San Pedro, Iloilo City/td>
          <td>RD WENCESLAO M. LEANO, JR. 
            Contact No(s).: (033) 329-9001	, (033) 329-9002 
            Fax No.: (033) 335-0257 
            Email:<a href="#"> leano.wenceslao_jr@dpwh.gov.ph</a></td>
          <td>ARD JOSE AL V. FRUTO 
            Contact No(s).: (033) 329-9006	
            Fax No.: 
            Email:<a href="#">fruto.jose_al@dpwh.gov.ph</a></td>
          
        </tr>
        </table>
        <br><br><br>
        <table class="depttable">
            <tr>
                <th>Region</th>
                <th>Office</th>
                <th>District Engineer</th>
                <th>Asst. District Engineer</th>
                
              </tr>
          
          <tr>
              <td>Region VI</td>
              <td><a href="http://www.dpwh.gov.ph/dpwh/node/1408">Aklan District Engineering Office 
                Kalibo, Aklan</a></td>
              <td>DE NOEL L. FUENTEBELLA 
                Contact No(s): (036) 262-4845 
                Fax No: 
                Email Address:<a href="fuentebella.noel@dpwh.gov.ph">fuentebella.noel@dpwh.gov.ph</a></td>
              <td>ADE LEO P. BIONAT 
                Contact No(s).: (036) 262-3141 
                Fax No.: 
                Email Address:<a href="bionat.leo@dpwh.gov.ph">bionat.leo@dpwh.gov.ph</a></td>
          </tr>

              <tr>
                  <td>Region VI</td>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/node/1594">Antique District Engineering Office 
                    San Jose, Antique</a></td>
                  <td>DE ELSIE V. SABAY (OIC) 
                    Contact No(s): (036) 320-1934 
                    Fax No: 
                    Email Address: <a href="sabay.elsie@dpwh.gov.ph"> sabay.elsie@dpwh.gov.ph</a></td>
                  <td>ADE JOSELITO A. ANTONIO (OIC) 
                    Contact No(s).: (036) 320-1936 
                    Fax No.: 
                    Email Address: <a href="antonio.joselito@dpwh.gov.ph">antonio.joselito@dpwh.gov.ph</a></td>
              </tr>
              <tr>
                  <td>Region VI</td>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/node/1599">Guimaras District Engineering Office 
                    Jordan, Guimaras</a></td>
                  <td>DE ROLANDO P. UBALDO 
                    Contact No(s): (033) 237-1393 
                    Fax No: 
                    Email Address: <a href="ubaldo.rolando@dpwh.gov.ph">ubaldo.rolando@dpwh.gov.ph</a></td>
                  <td>ADE RHODORA B. NUÑAL (OIC) 
                    Contact No(s).: (033) 237-1393 
                    Fax No.: 
                    Email Address: <a href="nunal.rhodora@dpwh.gov.ph">nunal.rhodora@dpwh.gov.ph</a></td>
              </tr>
              <tr>
                  <td>Region VI</td>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/node/1600">	Iloilo 1st District Engineering Office 
                    Fort San Pedro, Iloilo City</a></td>
                  <td>DE JAIME J. URIARTE 
                    Contact No(s): (033) 337-9116 
                    Fax No: 
                    Email Address:<a href="uriarte.jaime@dpwh.gov.ph">uriarte.jaime@dpwh.gov.ph</a></td>
                  <td>ADE JOEMAR M. HARO (OIC) 
                    Contact No(s).: (033) 337-9116 
                    Fax No.: 
                    Email Address: <a href="haro.joemar@dpwh.gov.ph">haro.joemar@dpwh.gov.ph</a></td>
              </tr>
              <tr>
                  <td>Region VI</td>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/node/1601">Iloilo 2nd District Engineering Office 
                    Balabag, Dumangas</a></td>
                  <td>DE SANNY BOY O. OROPEL 
                    Contact No(s): (033) 527-3013 
                    Fax No: 
                    Email Address: <a href="oropel.sanny_boy@dpwh.gov.ph">oropel.sanny_boy@dpwh.gov.ph</a></td>
                  <td>ADE EDNA MAY D. CAÑETE 
                    Contact No(s).: (033) 527-3011 
                    Fax No.: 
                    Email Address: <a href="canete.edna_may@dpwh.gov.ph"> canete.edna_may@dpwh.gov.ph</a></td>
              </tr>
              <tr>
                  <td>Region VI</td>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/node/1602">Iloilo 3rd District Engineering Office 
                    Barotac, Viejo</a></td>
                  <td>DE FLORDELIS C. ENRIQUEZ (OIC) 
                        Contact No(s): (033) 320-1420 
                        Fax No: 
                        Email Address: <a href="enriquez.flordelis@dpwh.gov.ph">enriquez.flordelis@dpwh.gov.ph</a></td>
                  <td>ADE RENATO H. COGOLLO (OIC) 
                        Contact No(s).: (033) 320-1420 
                        Fax No.: 
                        Email Address: <a href="cogollo.renato@dpwh.gov.ph">cogollo.renato@dpwh.gov.ph</a></td>
              </tr>
              <tr>
                  <td>Region VI</td>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/node/1604">Iloilo 4th District Engineering Office 
                    Sta. Barbara, Iloilo</a></td>
                  <td>DE EDMUND V. OPINION	
                        Contact No(s): (033) 523-9340 
                        Fax No: 
                        Email Address: <a href="opinion.edmund@dpwh.gov.ph">opinion.edmund@dpwh.gov.ph</a></td>
                  <td>ADE PERLA S. LAGUARDIA (OIC) 
                        Contact No(s).: (033) 523-8557 
                        Fax No.: 
                        Email Address: <a href="laguardia.perla@dpwh.gov.ph">laguardia.perla@dpwh.gov.ph</a></td>
              </tr>
              <tr>
                  <td>Region VI</td>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/node/1605">Iloilo City District Engineering Office 
                    Iloilo City</a></td>
                  <td>DE RODNEY A. GUSTILO	
                        Contact No(s): (033) 337-3263 
                        Fax No: 
                        Email Address:<a href="gustilo.rodney@dpwh.gov.ph">gustilo.rodney@dpwh.gov.ph</a></td>
                  <td>ADE GERARDO G. PARRA, JR. (OIC) 
                        Contact No(s).: (033) 337-3363 
                        Fax No.: 
                        Email Address: <a href="parrajr.gerardo@dpwh.gov.ph">parrajr.gerardo@dpwh.gov.ph</a></td>
              </tr>
              <tr>
                  <td>Region VI</td>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/node/1607"> Negros Occ. 1st District Engineering Office 
                    Talisay City, Negros Occidental</a></td>
                  <td>DE JAIME SJ. JAVELLANA	
                        Contact No(s): (034) 495-1299 
                        Fax No: (034) 441-0016 
                        Email Address: <a href="javellana.jaime@dpwh.gov.ph">javellana.jaime@dpwh.gov.ph</a></td>
                  <td>ADE NORMITA A. NOBLE (OIC) 
                        Contact No(s).: (034) 495-1299 
                        Fax No.: 
                        Email Address: <a href="noble.normita@dpwh.gov.ph">noble.normita@dpwh.gov.ph</a></td>
              </tr>
              <tr>
                <td>Region VI</td>
                <td><a href="http://www.dpwh.gov.ph/dpwh/node/1608">Negros Occ. 2nd District Engineering Office 
                    Binalbagan,Negros Occidental</a></td>
                <td>DE RANDOLFO A. MELOSANTOS	
                        Contact No(s): (034) 388-8478 
                        Fax No: 
                        Email Address: <a href="melosantos.randolfo@dpwh.gov.ph">melosantos.randolfo@dpwh.gov.ph</a></td>
                <td>ADE RODERICK G. TURINGAN 
                        Contact No(s).: (034) 388-8745 
                        Fax No.: 
                        Email Address: <a href="turingan.roderick@dpwh.gov.ph">turingan.roderick@dpwh.gov.ph</a></td>
            </tr>
            <tr>
                <td>Region VI</td>
                <td><a href="http://www.dpwh.gov.ph/dpwh/node/1609">Negros Occ. 3rd District Engineering Office 
                    Kabankalan , Negros Occidental</a></td>
                <td>DE HAYDEE S. ALUNAN	
                        Contact No(s): (034) 471-2314 
                        Fax No: 
                        Email Address: <a href="alunan.haydee@dpwh.gov.ph">alunan.haydee@dpwh.gov.ph</a> </td>
                <td>ADE FERLYNDO M. IMBANG 
                        Contact No(s).: (034) 471-3034 
                        Fax No.: 
                        Email Address: <a href="imbang.ferlyndo@dpwh.gov.ph">imbang.ferlyndo@dpwh.gov.ph
                            </a></td>
            </tr>
            <tr>
                <td>Region VI</td>
                <td><a href="http://www.dpwh.gov.ph/dpwh/node/1610">Negros Occ. 4th District Engineering Office 
                    Bago City, Negros Occidental</a></td>
                <td>DE GENARO M. PANGANIBAN (OIC)	
                        Contact No(s): (034) 461-1907 
                        Fax No: 
                        Email Address: <a href="panganiban.genaro@dpwh.gov.ph">panganiban.genaro@dpwh.gov.ph</a></td>
                <td>ADE JOSEFINO O. ABRIGO (OIC) 
                        Contact No(s).: (034) 461-1907 
                        Fax No.: 
                        Email Address: <a href="abrigo.josefino@dpwh.gov.ph">abrigo.josefino@dpwh.gov.ph</a></td>
            </tr>
            <tr>
                <td>Region VI</td>
                <td><a href="http://www.dpwh.gov.ph/dpwh/node/1409">Bacolod City District Engineering Office 
                    Bacolod City</a></td>
                <td>DE ABRAHAM C. VILLAREAL 
                        Contact No(s): (034) 434-7994 
                        Fax No: 
                        Email Address: <a href="villareal.abraham2@dpwh.gov.ph">villareal.abraham2@dpwh.gov.ph</a></td>
                <td>ADE LEAH G. JAMERO 
                        Contact No(s).: (034) 433-2804 
                        Fax No.: 
                        Email Address:<a href="jamero.leah@dpwh.gov.ph">jamero.leah@dpwh.gov.ph</a></td>
            </tr>
            
      </table>
    </div>
    </ion-content>
    </ion-view>