<ion-view view-title="Region III">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Region</th>
		<th>Location</th>
		<th>Regional Director</th>
		<th>Asst. Regional Director</th>
		
	  </tr>
	  <tr>
		<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iii">Region III </a></td>
		<td>Sindalan, San Fernando, Pampanga</td>
		<td>RD ANTONIO V. MOLANO, JR <br>
			Contact No(s).: (045)455-0645 <br>
			Fax No.: (045)455-0347	<br>
			Email: <a href="molano.antonio_jr@dpwh.gov.ph">molano.antonio_jr@dpwh.gov.ph</a></td>
		<td>ARD LORETA M. MALALUAN <br>
			Contact No(s).: (045) 961-6632<br>	
			Fax No.:   <br>
			Email: <a href="malaluan.loreta@dpwh.gov.ph"> malaluan.loreta@dpwh.gov.ph</a></td>
		
	  </tr>
	</table><br><br><br>



	<table class="depttable">
	 <tr>
		<th>Region</th>
		<th>Office	</th>
		<th>District Engineer</th>
		<th>Asst. District Engineer</th>
		
	  </tr>
		<tr>
			<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iii">Region III </a></td>
			<td><a href="http://www.dpwh.gov.ph/dpwh/node/1404">Aurora District Engineering Office <br>
							Barangay Reserva, Baler, Aurora</a></td>
			<td>DE REYNALDO C. ALCONCEL <br>
				Contact No(s): (042) 209-4235  <br>
				Fax No: <br>
				Email Address: <a href="alconcel.reynaldo@dpwh.gov.ph">alconcel.reynaldo@dpwh.gov.ph</a></td>
					<td>ADE RODERICK A. ANDAL <br>
						Contact No(s).: 0929-518-7756 <br>
						Fax No.: <br>
						Email Address:  <br>
					Email Address: <a href="andal.reynaldo@dpwh.gov.ph">andal.reynaldo@dpwh.gov.ph</a></td>
		</tr>

			<tr>
			<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iii">Region III </a></td>
			<td><a href="http://www.dpwh.gov.ph/dpwh/node/1531">Bataan 2nd District Engineering Office<br> 
							Balanga, Bataan</a></td>
			<td>DE ULYSSES C. LLADO <br>
				Contact No(s): (047) 791-3044 <br>
				Fax No: <br>
				Email Address: <a href="llado.ulysses@dpwh.gov.ph">llado.ulysses@dpwh.gov.ph</a></td>
					<td>ADE MARIBEL D. NAVARRO (OIC) <br>
						Contact No(s).: (047) 791-3089  <br>
						Fax No.: <br>
						Email Address:  <br>
					Email Address: <a href="navarro.maribel@dpwh.gov.ph">navarro.maribel@dpwh.gov.ph</a></td>
		</tr>


			<tr>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iii">Region III</a></td>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/node/1533">Bulacan 1st District Engineering Office
					Tikay, City of Malolos, Bulacan</a></td>
				<td><b>DE RUEL V. ANGELES	</b>
					<br>
					Contact No(s): (044) 794-2245 	
					<br>
					Fax No: (044) 794-2245 	
					<br>
					Email Address: <a href="angeles.ruel@dpwh.gov.ph">angeles.ruel@dpwh.gov.ph</a>
				</td>
					<td>
					<b>ADE GERONIMO F. ASONZA</b>
					<br>
					Contact No(s).: (044) 794-2245 
					<br>
					Fax No.: 
					<br>
					Email Address: <a href="asonza.geronimo@dpwh.gov.ph">asonza.geronimo@dpwh.gov.ph</a>
          		</td>
              </tr>


			<tr>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iii">Region III</a> </td>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/node/1534"><b>Bulacan 2nd District Engineering Office</b>
<br>
Pulong Buhangin, Sta. Maria ,Bulacan</a>          </td>
                  <td>
            <b>DE RAMIRO M. CRUZ	</b>
<br>
Contact No(s): (044) 641-2421 	
<br>
Fax No: 
<br>
Email Address: <a href="cruz.ramiro@dpwh.gov.ph">cruz.ramiro@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE GENE S. LEAÑO</b>
<br>
Contact No(s).: (044) 641-3519 
<br>
Fax No.: 
<br>
Email Address: <a href="leano.gene@dpwh.gov.ph">leano.gene@dpwh.gov.ph</a>
          </td>
              </tr>



			<tr>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iii">Region III</a></td>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/node/1535"><b>Nueva Ecija 1st District Engineering Office
                  </b><br>Talavera, Nueva Ecija</a></td>
                  <td><b>DE GEORGE D. SANTOS	</b>
                  	<br>
					Contact No(s): (044) 411-1024  	
					<br>
					Fax No: 
					<br>
					Email Address: <a href="santos.george@dpwh.gov.ph">santos.george@dpwh.gov.ph</a>  
				</td>
                  <td>
            <b>ADE ARMANDO Z. MANABAT</b>
<br>
Contact No(s).: (044) 411-4039
<br>
Fax No.: 
<br>
Email Address: <a href="manabat.armando@dpwh.gov.ph">manabat.armando@dpwh.gov.ph</a>
          </td>
              </tr>



			<tr >
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iii">Region III</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1536"><b>Nueva Ecija 2nd District Engineering Office</b>
<br>
San Isidro, Cabanatuan City, Nueva Ecija</a>          </td>
                  <td>
            <b>DE RICARDO M. PUNO (OIC)</b>
<br>
Contact No(s): (044) 958-1324
<br>
Fax No: 
<br>
Email Address: <a href="puno.ricardo@dpwh.gov.ph">puno.ricardo@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE EDUARDO  V. DE GUZMAN (OIC)</b>
<br>
Contact No(s).: (044) 958-1324
<br>
Fax No.: 
<br>
Email Address: <a href="deguzman.eduardo@dpwh.gov.ph">deguzman.eduardo@dpwh.gov.ph</a>
          </td>
              </tr>
			


<tr>
                  <td >
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iii">Region III</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1537"><b>Pampanga 1st District Engineering Office</b>
<br>
Sindalan, City of San Fernando, Pampanga</a>          </td>
                  <td>
            <b>DE WILLIAM C. BUSTOS (OIC)</b>
<br>
Contact No(s): (045) 455-2328 	
<br>
Fax No: (045) 455-2328 	
<br>
Email Address: <a href="bustos.william@dpwh.gov.ph">bustos.william@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE  ALMER C. MIRANDA (OIC)</b>
<br>
Contact No(s).: (045) 455-2329 
<br>
Fax No.: 
<br>
Email Address: <a href="miranda.almer@dpwh.gov.ph">miranda.almer@dpwh.gov.ph</a>
          </td>
              </tr>
	  

	  <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iii">Region III</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1538"><b>Pampanga 2nd District Engineering Office</b>
<br>
San Nicolas, Lubao, Pampanga</a>          </td>
                  <td>
            <b>DE GREGORIO D. AUDEA, JR. (OIC)</b>
<br>
Contact No(s): (045) 434-1004 	
<br>
Fax No: 
<br>
Email Address: <a href="audea.gregorio@dpwh.gov.ph">audea.gregorio@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE CECIL LAWRENCE M. CRUZ</b>
<br>
Contact No(s).: (045) 434-1005 
<br>
Fax No.: 
<br>
Email Address: <a href="cruz.cecil_lawrence@dpwh.gov.ph">cruz.cecil_lawrence@dpwh.gov.ph</a>
          </td>
              </tr>
	

	<tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iii">Region III</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1539"><b>Pampanga 3rd District Engineering Office</b>
<br>
Angeles City, Pampanga (former Pampanga Sub-Engineering District)</a> </td>
                  <td>
            <b>DE TITO JESUS T. SALVADOR	</b>
<br>
Contact No(s): (045) 887-5249 Telefax 	
<br>
Fax No: (045) 323-5782 Fax 	
<br>
Email Address: <a href="salvador.tito_jesus@dpwh.gov.ph">salvador.tito_jesus@dpwh.gov.ph</a>  </td>
                  <td>
            <b>ADE ORVILL S. GAMBOA</b>
<br>
Contact No(s).: (045) 887-3121 
<br>
Fax No.: 
<br>
Email Address: <a href="gamboa.orvill@dpwh.gov.ph">gamboa.orvill@dpwh.gov.ph</a>
          </td>
              </tr>


              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iii">Region III</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1540"><b>Tarlac  I District Engineering Office</b>
<br>
Parsolingan,Gerona, Tarlac</a>          </td>
                  <td>
            <b>DE ERELINA B. SANTOS	</b>
<br>
Contact No(s): (045) 491-1529 	
<br>
Fax No: 
<br>
Email Address: <a href="santos.erelina@dpwh.gov.ph">santos.erelina@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE HERMON G. INES</b>
<br>
Contact No(s).: (045) 982-0672 
<br>
Fax No.: 
<br>
Email Address: <a href="ines.hermon@dpwh.gov.ph">ines.hermon@dpwh.gov.ph</a>
          </td>
              </tr>

              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iii">Region III</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1541"><b>Tarlac 2nd District Engineering Office</b>
<br>
NIA Compound, Concepcion, Tarlac (former Tarlac Sub-DEO)</a>          </td>
                  <td>
            <b>DE NEIL C. FARALA	</b>
<br>
Contact No(s): (045) 982-0672 	
<br>
Fax No: 
<br>
Email Address: <a href="farala.neil@dpwh.gov.ph">farala.neil@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE ROSITA A. TINAWIN (OIC)</b>
<br>
Contact No(s).: (045) 923-0960 
<br>
Fax No.: 
<br>
Email Address: <a href="tinawin.rosita@dpwh.gov.ph">tinawin.rosita@dpwh.gov.ph</a>
          </td>
              </tr>



              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iii">Region III</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1542"><b>Zambales 1st District Engineering Office</b>
<br>
Iba, Zambales</a>          </td>
                  <td>
            <b>DE EDWARD RICARDO G. RAMOS	</b>
<br>
Contact No(s): (047) 811-1327 	
<br>
Fax No: 
<br>
Email Address: <a href="ramos.edward_ricardo@dpwh.gov.ph">ramos.edward_ricardo@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE ARMANDO G. PAMONAG</b>
<br>
Contact No(s).: (047) 811-3558 
<br>
Fax No.: 
<br>
Email Address: <a href="ramos.edward_ricardo@dpwh.gov.ph">pamonag.armando@dpwh.gov.ph</a>
          </td>
              </tr>


              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iii">Region III</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1543"><b>Zambales 2nd District Engineering Office</b>
<br>
Castillejos, Zambales</a>          </td>
                  <td>
            <b>DE HERCULES C. MANGLICMOT	</b>
<br>
Contact No(s): (047)623-2196 	
<br>
Fax No: 
<br>
Email Address: <a href="manglicmot.hercules@dpwh.gov.ph">manglicmot.hercules@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE ROSBE S. DIZON</b>
<br>
Contact No(s).: (047)623-2195 
<br>
Fax No.: 
<br>
Email Address: <a href="dizon.rosbe@dpwh.gov.ph">dizon.rosbe@dpwh.gov.ph</a>
          </td>
              </tr>
              
  </table>
  </div>
  </ion-content>
  </ion-view>