<ion-view view-title="Region V">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Division</th>
		<th>Address</th>
		<th>Superintendent</th>
		<th>Asst. Superintendent/s</th>
		<th>Contact Number</th>
	  </tr>
	  <tr>
		<td>Albay</td>
		<td>Legazpi City</td>
		<td>Bebiano I. Sentillas</td>
		<td>Nelson S. Morales, Jr.
Fatima D. Buen</td>
		<td>(052) 481-5939<br>
820-2981<br>
824-8300<br>
480-6151<br>
821-1288<br>
211-2108 (fax)</td>
	  </tr>
	   <tr>
		<td>Camarines Norte</td>
		<td>Daet, Camarines Norte</td>
		<td>Wilfredo J. Gavarra (OIC)</td>
		<td>--</td>
		<td>(054) 721-3042<br>
440-1834<br>
299-2500</td>
	  </tr>
		  <tr>
		<td>Occidental Mindoro</td>
		<td>Mamburao, Occ. Mindoro</td>
		<td>Danilo R. Roxas (OIC)</td>
		<td>Rafael G. Manalo (OIC-ASDS)</td>
		<td>(043) 711-5290<br>
711-1126 (telefax)</td>
	  </tr>

			  <tr>
		<td>Camarines Sur</td>
		<td>Freedom Sports Complex San Jose, Pili, Cam. Sur</td>
		<td>Arnulfo M. Balane</td>
		<td>Susan S. Collano
Dolores Q. Mapusao</td>
		<td>(054) 477-3354<br>
361-2715<br>
361-2697<br>
477-3097<br>
741-1028<br>
811-8068 (fax)</td>
	  </tr>
			  <tr>
		<td>Catanduanes</td>
		<td>Virac, Catanduanes</td>
		<td>Socorro V. Dela Rosa</td>
		<td>Bernie C. Despabiladero (OIC-ASDS)</td>
		<td>(052) 811-2193</td>
	  </tr>
			  <tr>
		<td>Masbate</td>
		<td>Masbate, Masbate</td>
		<td>Jose L. Doncillo</td>
		<td>Raymundo M. Cantonjos
Melchizedek C. Tongco (OIC-ASDS)</td>
		<td>(056) 333-4372<br>
333-2118</td>
	  </tr>
			<tr>
				<td>Sorsogon</td>
				<td>Sorsogon, Sorsogon</td>
				<td>Loida N. Nidea</td>
				<td>Ma. Jeany T. Postrado</td>
				<td>(056) 211-1929<br>
211-3385<br>
211-2774<br>
211-2087</td>
			</tr>
		
					<tr>
				<td>Iriga City	</td>
				<td>Iriga City	</td>
				<td>Crestito M. Morcilla (OIC)</td>
				<td>Maria Magnolia F. Brioso (OIC-ASDS)</td>
				<td>(054) 299-2506 (fax)</td>
			</tr>
					<tr>
				<td>Legazpi City</td>
				<td>Legazpi City</td>
				<td>Cecille Bernadette P. Rivera</td>
				<td>Norma B. Samantela</td>
				<td>(052) 821-7921<br>
820-5949<br>
820-5003</td>
			</tr>
					<tr>
				<td>Ligao City</td>
				<td>Ligao City</td>
				<td>Ma. Luisa P. Samaniego (OIC)</td>
				<td>Osias S. Monforte</td>
				<td>	(052) 485-1336<br>
838-0526<br>
485-2496 (telefax)</td>
			</tr>
	<tr>
				<td>Masbate City</td>
				<td>Masbate City</td>
				<td>Nene R. Merioles</td>
				<td>Ma. Flora T. Pandes (OIC-ASDS)</td>
				<td>(056) 333-6815</td>
			</tr>
	<tr>
				<td>Naga City</td>
				<td>Naga City</td>
				<td>William E. Gando (OIC)</td>
				<td>Mariano B. De Guzman</td>
				<td>(054) 473-8211<br>
473-6079</td>
			</tr>
<tr>
				<td>Sorsogon City</td>
				<td>Sorsogon City</td>
				<td>Nympha D. Guemo (OIC)</td>
				<td>Cecile C. Ferro (OIC-ASDS)</td>
				<td>(056) 421-5516<br>
453-1798 (fax)</td>
			</tr>
			<tr>
				<td>Tabaco City</td>
				<td>Tabaco City</td>
				<td>Evangeline P. Palencia</td>
				<td>Ma. Luisa T. Dela Rosa (OIC-ASDS)</td>
				<td>(052) 830-2664<br>
838-7273 (fax)</td>
			</tr>
	  
	</table>
  </div>
  </ion-content>
  </ion-view>