<ion-view view-title="RegionX">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable" border="2">
		 		<tr>
					<th>Region</th>
					<th>Location</th>
					<th>Regional Director</th>
					<th>Asst. Regional Director</th>
				</tr>

		  		<tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-x">Region X</a></td>
					<td>Engineer’s Hill, Bulua, Cagayan de Oro City</td>
					<td><strong>RD VIRGILIO C. EDUARTE</strong><br>
					Contact No(s).: (088) 853-2002	<br>
					Fax No.: (088) 858-4323	<br>
					Email:<b>eduarte.virgilio@dpwh.gov.ph</b>
					</td>

					<td><strong>ARD EFREN A. BERBA, CEO VI, CESE</strong><br>
							Contact No(s).: (088) 853-2006<br>
							Fax No.: (088) 853-2060<br>
							Email:<b>berba.efren@dpwh.gov.ph</b>
					</td>
			    </tr>
	</table>
<br><br>

	<table class="depttable"  border="2">
	  <tr>
		<th>Region</th>
		<th>Office</th>
		<th>District Engineer </th>
		<th>Asst. District Engineer</th>
		
	  </tr>

	  <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-x">Region X</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1413"><b>Bukidnon 1st District Engineering Office </b></a><br>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1413">Malaybalay, Bukidnon</a>
					</td>
					<td><strong>DE VIRGINIA G. BATOCAIL</strong><br>
					Contact No(s): (088) 813-2087<br>
					Fax No: <br>
					Email Address: <br>
					<b>batocail.virginia@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE OCTAVIOS CESAR E. AZURA </strong><br>
							Contact No(s).: (088) 813-2393<br>
							Fax No.: <br>
							Email Address:<br>
							<b>azura.octavios_cesar@dpwh.gov.ph</b>
					</td>
			    </tr>



	    <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-x">Region X</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1656"><b>Bukidnon 2nd District Engineering Office</b></a><br>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1656">Pinamoloy, Bukidnon</a>
					</td>
					<td><strong>DE LIBERATO S. TAN, JR.	</strong><br>
					Contact No(s): (088) 226-2355<br>
					Fax No: (088) 226-2393<br>
					Email Address: <br>
					<b>tan.liberato_jr.@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE SALOME M. SARTILLO (OIC)</strong><br>
							Contact No(s).: (088) 226-2409 <br>
							Fax No.: <br>
							Email Address: <br>
							<b>sartillo.salome@dpwh.gov.ph</b>
					</td>
		</tr>


		
		
	      <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-x">Region X</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1657"><b>Bukidnon 3rd District Engineering Office </b></a><br>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1657">Dicklum Manolo Fortich</a>
					</td>
					<td><strong>DE DENISE MARIA M. AYAG	</strong><br>
					Contact No(s): (088) 228-2204 <br>
					Fax No: <br>
					Email Address: <br>
					<b>ayag.denise_maria@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE ANA LEE M. MANZANO (OIC) </strong><br>
							Contact No(s).: (088) 221-4641 <br>
							Fax No.: <br>
							Email Address: <br>
							<b>manzano.ana_lee@dpwh.gov.ph</b>
					</td>
		</tr>


		
	      <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-x">Region X</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1658"><b>Cagayan de Oro City 1st District Engineering Office </b></a><br>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1658">RES Compound (Regional Office) Cagayan de Oro City</a>
					</td>
					<td><strong>DE YOLANDA T. EGAM</strong><br>
					Contact No(s): (088) 858-9876<br>
					Fax No: <br>
					Email Address: <br>
					<b>egam.yolanda@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE EVELYN A. TIRADO</strong><br>
							Contact No(s).: (088) 858-9876 <br>
							Fax No.: <br>
							Email Address: <br>
							<b>tirado.evelyn@dpwh.gov.ph</b>
					</td>
		</tr>



		   <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-x">Region X</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1659"><b>Cagayan de Oro City 2nd District Engineering Office </b>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1659">Puntod, Cagayan de Oro City</a>
					</td>
					<td><strong>DE ANASTACIO G. MARUNDAN	</strong><br>
					Contact No(s): (088) 856-8774<br>
					Fax No: <br>
					Email Address: <br>
					<b>marundan.anastacio@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE GABRIEL L. GUINITARAN </strong><br>
							Contact No(s).: (088) 856-8775<br>
							Fax No.: <br>
							Email Address: <br>
							<b>guinitaran.gabriel@dpwh.gov.ph</b>
					</td>
		</tr>






		  <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-x">Region X</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1660"><b>Camiguin District Engineering Office </b>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1660">Mambajao, Camiguin</a>
					</td>
					<td><strong>DE CESAR M. HIPONA, JR.	</strong><br>
					Contact No(s): (088) 387-2111 <br>
					Fax No: <br>
					Email Address: <br>
					<b>hipona.cesar_jr@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE FLORDELIS C. ENRIQUEZ </strong><br>
							Contact No(s).: (088) 387-0061<br>
							Fax No.: <br>
							Email Address: <br>
							<b>enriquez.flordelis@dpwh.gov.ph</b>
					</td>
		</tr>


 <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-x">Region X</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1661"><b>Lanao del Norte 1st District Engineering Office  </b>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1661">Seminary Drive, Del Carmen, Iligan City</a>
					</td>
					<td><strong>DE KHALIL D. SULTAN	</strong><br>
					Contact No(s): (063) 221-7774 <br>
					Fax No: <br>
					Email Address: <br>
					<b>sultan.hadji_khalil@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE MUSTAPHA D. DERON </strong><br>
							Contact No(s).: (063) 351-6720 <br>
							Fax No.: <br>
							Email Address: <br>
							<b>deron.mustapha@dpwh.gov.ph</b>
					</td>
		</tr>





		 <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-x">Region X</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1662"><b>Lanao del Norte 2nd District Engineering Office </b>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1662">Palao, Iligan City</a>
					</td>
					<td><strong>DE REY PETER B. GILLE	</strong><br>
					Contact No(s): (063) 221-5703<br>
					Fax No: <br>
					Email Address: <br>
					<b>gille.rey_peter@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE ALY KHAN U. ALI (OIC)</strong><br>
							Contact No(s).: (063) 221-5703 <br>
							Fax No.: <br>
							Email Address: <br>
							<b>ali.aly_khan@dpwh.gov.ph</b>
					</td>
		</tr>


	 <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-x">Region X</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1663"><b>Misamis Occidental 1st District Engineering Office </b>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1663">Oroquieta City</a>
					</td>
					<td><strong>DE OMAR P. DIRON	</strong><br>
					Contact No(s): (088) 531-1960<br>
					Fax No: <br>
					Email Address: <br>
					<b>diron.omar@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE CHARITO B. MADULA </strong><br>
							Contact No(s).: (088) 531-1289<br>
							Fax No.: <br>
							Email Address: <br>
							<b>madula.charito@dpwh.gov.ph</b>
					</td>
		</tr>

		 <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-x">Region X</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1664"><b>Misamis Occidental 2nd District Engineering Office </b>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1664">Tangub City</a>
					</td>
					<td><strong>DE REYNALDO Z. SAGUN (OIC)</strong><br>
					Contact No(s): (088) 545-0081 , (088) 545-1350 <br>
					Fax No: <br>
					Email Address: <br>
					<b>sagun.reynaldo@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE CHARITO B. MADULA </strong><br>
							Contact No(s).: (088) 545-0081 , (088) 545-1350 <br>
							Fax No.: <br>
							Email Address: <br>
							<b>lumingkit.vivian@dpwh.gov.ph</b>
					</td>
		</tr>




		 <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-x">Region X</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1666"><b>Misamis Oriental 1st District Engineering Office </b>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1666">Purok 26, Gingoog City</a>
					</td>
					<td><strong>DE MARIVEL FRANCES L. ONG	</strong><br>
					Contact No(s): (088) 861-1185  <br>
					Fax No: <br>
					Email Address: <br>
					<b>ong.marivel_frances@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE RONALD T. GEMPISAO </strong><br>
							Contact No(s).: (088) 861-1185 <br>
							Fax No.: <br>
							Email Address: <br>
							<b>gempisao.ronald@dpwh.gov.ph</b>
					</td>
		</tr>



		 <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-x">Region X</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1667"><b>Misamis Oriental 2nd District Engineering Office  </b>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1667">Balase St., El Salvador City</a>
					</td>
					<td><strong>DE LILIBETH N. APARECIO	</strong><br>
					Contact No(s): (088) 555-0069<br>
					Fax No: <br>
					Email Address: <br>
					<b>aparecio.lilibeth@dpwh.gov.ph </b>
					</td>

					<td><strong>ADE CAROLYN C. ABINALES</strong><br>
							Contact No(s).: (088) 555-0069  <br>
							Fax No.: <br>
							Email Address: <br>
							<b>abinales.carol_lyn@dpwh.gov.ph</b>
					</td>
		</tr>





	</table>
  </div>
  </ion-content>
  </ion-view>
