<ion-view view-title="RegionIX">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable" border="2">
		 		<tr>
					<th>Region</th>
					<th>Location</th>
					<th>Regional Director</th>
					<th>Asst. Regional Director</th>
				</tr>

		  		<tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1490">Region IX</a></td>
					<td>Tetuan, Zamboanga City</td>
					<td><strong>RD JORGE U. SEBASTIAN JR.</strong><br>
					Contact No(s).: (062) 991-0626<br>
					Fax No.: (062) 993-3008<br>
					Email:<b>sebastian.jorge_jr@dpwh.gov.ph</b>
					</td>

					<td><strong>ARD CAYAMOMBAO D. DIA</strong><br>
							Contact No(s).: (062) 955-1099<br>
							Fax No.:<br>
							Email:<b>dia.cayamombao@dpwh.gov.ph</b>
					</td>
			    </tr>
	</table>

<br><br>
	<table class="depttable"  border="2">
	  <tr>
		<th>Region</th>
		<th>Office</th>
		<th>District Engineer </th>
		<th>Asst. District Engineer</th>
		
	  </tr>

	  <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-ix">Region IX</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1412"><b>Isabela City District Engineering Office</b></a><br>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1412">Tabuk, Isabela City, Basilan</a>
					</td>
					<td><strong>DE BENSALI A. KASIM</strong><br>
					Contact No(s): (062) 200-3494<br>
					Fax No: <br>
					Email Address: <br>
					<b>kasim.bensali@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE SUKARNO J. MINSUAREZ</strong><br>
							Contact No(s).: (062) 200-3494<br>
							Fax No.: <br>
							Email Address:<br>
							<b>minsuarez.sukarno@dpwh.gov.ph</b>
					</td>
			    </tr>



	    <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-ix">Region IX</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1648"><b>Zamboanga City District Engineering Office</b></a><br>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1648">Divisoria, Zamboanga City</a>
					</td>
					<td><strong>DE CHOLIE M. ROBLE	</strong><br>
					Contact No(s): (062) 991-0768<br>
					Fax No: (062) 984-2453  <br>
					Email Address: <br>
					<b>roble.cholie@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE ANTONIO A. GONZALES (OIC)</strong><br>
							Contact No(s).: (062) 991-4671 <br>
							Fax No.: <br>
							Email Address: <br>
							<b>gonzales.antonio@dpwh.gov.ph</b>
					</td>
		</tr>


		
		
	    <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-ix">Region IX</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1649"><b>Zamboanga del Norte 1st District Engineering Office </b></a><br>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1649">Sta. Isabel Dipolog City, Zamboanga del Norte</a>
					</td>
					<td><strong>DE INOCENCIO P. SABUGAL	</strong><br>
					Contact No(s): (065) 212-3538<br>
					Fax No: (065) 908-2881  <br>
					Email Address: <br>
					<b>sabugal.inocencio@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE REY F. JANOLINO </strong><br>
							Contact No(s).: (065) 212-3538  <br>
							Fax No.: <br>
							Email Address: <br>
							<b>janolino.rey@dpwh..gov.ph</b>
					</td>
		</tr>



		 <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-ix">Region IX</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1650"><b>Zamboanga del Norte 2nd District Engineering Office </b></a><br>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1650">Osukan, Labason, ,Zamboanga del Norte</a>
					</td>
					<td><strong>DE ROMEO A. SALADAGA (OIC)</strong><br>
					Contact No(s): (065) 311-4592<br>
					Fax No: <br>
					Email Address: <br>
					<b>saladaga.romeo@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE MARY JEAN G. TORREFRANCA  </strong><br>
							Contact No(s).: (065) 311-4592  <br>
							Fax No.: <br>
							Email Address: <br>
							<b>torrefranca.mary_jean@dpwh.gov.ph</b>
					</td>
		</tr>



		 <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-ix">Region IX</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1651"><b>Zamboanga del Norte 3rd District Engineering Office  </b></a><br>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1651">Segabe, Piñan, Zamboanga del Norte</a>
					</td>
					<td><strong>DE VERONICO O. MICARANDAYO (OIC) </strong><br>
					Contact No(s): (065) 213-6395<br>
					Fax No: <br>
					Email Address: <br>
					<b>micarandayo.veronico@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE WILFREDO L. DE GUZMAN</strong><br>
							Contact No(s).: (065) 213-6393<br>
							Fax No.: <br>
							Email Address: <br>
							<b>deguzman.wilfredo@dpwh.gov.ph</b>
					</td>
		</tr>





		 <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-ix">Region IX</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1652"><b>Zamboanga del Sur 1st District Engineering Office   </b></a><br>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1652">Pagadian City</a>
					</td>
					<td><strong>DE REYNERIO P. ALCACHUPAS</strong><br>
					Contact No(s): (062) 214-1460<br>
					Fax No: <br>
					Email Address: <br>
					<b>alcachupas.reynerio@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE MIGUEL C. BAYA </strong><br>
							Contact No(s).: (062) 211-3665 <br>
							Fax No.: <br>
							Email Address: <br>
							<b>baya.miguel@dpwh.gov.ph</b>
					</td>
		</tr>



 <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-ix">Region IX</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1653"><b>Zamboanga del Sur 2nd District Engineering Office    </b></a><br>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1653">Guipos, Zamboanga del Sur</a>
					</td>
					<td><strong>DE AMINODIN P. MANIRI</strong><br>
					Contact No(s): (062) 211-3664 <br>
					Fax No: <br>
					Email Address: <br>
					<b>maniri.aminodin@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE MANUEL J. INOFERIO</strong><br>
							Contact No(s).: (062) 214-1458<br>
							Fax No.: <br>
							Email Address: <br>
							<b>inoferio.manuel@dpwh.gov.ph</b>
					</td>
		</tr>


		<tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-ix">Region IX</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1654"><b>Zamboanga Sibugay 1st District Engineering Office     </b></a><br>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1654">Diplahan, Zamboanga-Sibugay</a>
					</td>
					<td><strong>DE ELNORA P. GONGOB	</strong><br>
					Contact No(s): 0918-6898044<br>
					Fax No: <br>
					Email Address: <br>
					<b>gongob.elnora@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE </strong><br>
							Contact No(s).: <br>
							Fax No.: <br>
							Email Address: <br>
							 
					</td>
		</tr>



		<tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-ix">Region IX</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1655"><b>Zamboanga Sibugay 2nd District Engineering Office     </b></a><br>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1655">Ipil, Zamboanga-Sibugay, Zamboanga del Sur</a>
					</td>
					<td><strong>DE NAJIB B. DILANGALEN, CEO VI	</strong><br>
					Contact No(s): (062) 333-5562<br>
					Fax No: (062) 333-2674 <br>
					Email Address: <br>
					<b>dilangalen.najib@dpwh.gov.ph	</b>
					</td>

					<td><strong>ADE</strong><br>
							Contact No(s).: (062) 333-5562<br>
							Fax No.: <br>
							Email Address: <br>
							
					</td>
		</tr>



	</table>
  </div>
  </ion-content>
  </ion-view>
