<ion-view view-title="Region II">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Region</th>
		<th>Location</th>
		<th>Regional Director</th>
		<th>Asst. Regional Director</th>
		
	  </tr>
	  <tr>
		<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-ii">Region II </a></td>
		<td>Regional Government Center, Carig Sur Tuguegarao City,<br> Cagayan</td>
		<td>RD MELANIO C. BRIOSOS <br>
			Contact No(s).: (078) 304-1185 <br>
			Fax No.: (078) 844-9524 <br>
			Email: <a href="#">briosos.melanio@dpwh.gov.ph</a></td>
		<td>ARD ALEXANDER D. NOLA <br>
			Contact No(s).: (078) 844-4788 <br>
			Fax No.:  <br>
			Email: <a href="#">nola.alexander@dpwh.gov.ph</a></td>
		
	  </tr>
</table><br><br><br>



	<table class="depttable">
	 <tr>
		<th>Region</th>
		<th>Office	</th>
		<th>District Engineer</th>
		<th>Asst. District Engineer</th>
		
	  </tr>
		<tr>
			<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-ii">Region II </a></td>
			<td><a href="http://www.dpwh.gov.ph/dpwh/node/1403">Batanes District Engineering Office <br>
							Basco, Batanes</a></td>
			<td>DE ROMMEL E. FABI <br>
				Contact No(s): 0921-2567574 <br>
				Fax No: <br>
				Email Address: <br>
				Email Address: <a href="fabi.romel@dpwh.gov.ph">fabi.romel@dpwh.gov.ph</a></td>
					<td>ADE RONALD MERIN (OIC) <br>
						Contact No(s).: <br>
						Fax No.: <br>
						Email Address:  <br>
					Email Address: <a href="merin.ronald@dpwh.gov.ph">merin.ronald@dpwh.gov.ph</a></td>
		</tr>

			<tr>
			<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-ii">Region II </a></td>
			<td><a href="http://www.dpwh.gov.ph/dpwh/node/1521">Cagayan 1st District Engineering <br> Office<br> 
							Aparri, Cagayan</a></td>
			<td>DE ROSAURO R. GUERRERO <br>
				Contact No(s): (078) 822-8056 <br>
				Fax No: <br>
				Email Address: <a href="guerrero.rosauro@dpwh.gov.ph">guerrero.rosauro@dpwh.gov.ph</a></td>
			<td>ADE RONALD MERIN (OIC) <br>
				Contact No(s).: <br>
				Fax No.: <br>
				Email Address:  <br>
					Email Address: <a href="merin.ronald@dpwh.gov.ph">merin.ronald@dpwh.gov.ph</a></td>
		</tr>



			<tr>
			<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-ii">Region II </a></td>
			<td><a href="http://www.dpwh.gov.ph/dpwh/node/1522">Cagayan 2nd District Engineering<br> Office <br>
							Libertad, Abulug, Cagayan</a></td>
			<td>DE LORNA B. ASUTEN	<br>
				Contact No(s): 0927-6169592 <br>
				Fax No: <br>
				Email Address:  <a href="asuten.lorna@dpwh.gov.ph">asuten.lorna@dpwh.gov.ph</a></td>
			<td>ADE RELLIE S. ULEP <br>
				Contact No(s).: <br>
				Fax No.:  <br>
				Email Address: <a href="ulep.rellie@dpwh.gov.ph">ulep.rellie@dpwh.gov.ph</a></td>
		</tr>
			<tr>
			<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-ii">Region II </a></td>
			<td><a href="http://www.dpwh.gov.ph/dpwh/node/1523">Cagayan 3rd District Engineering <br> Office <br>
							Tuguegarao City, Cagayan<br></a></td>
			<td>DE DANILO U. TABILAS	<br>
				Contact No(s): (078) 846-4380 <br>
				Fax No: <br>
				Email Address:   <a href="tabilas.danilo@dpwh.gov.ph">tabilas.danilo@dpwh.gov.ph</a></td>
			<td>ADE MARIANO B. MALUPENG <br>
				Contact No(s).: (078) 846-4380 <br>
				Fax No.: <br>
				Email Address: <a href="malupeng.mariano@dpwh.gov.ph">malupeng.mariano@dpwh.gov.ph</a></td>
		</tr>


			<tr>
			<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-ii">Region II </a></td>
			<td><a href="http://www.dpwh.gov.ph/dpwh/node/1524">Isabela 1st District Engineering <br>Office<br> 
							Ilagan, Isabela<br></a></td>
			<td>DE EVELYN C. COSTALES, Ph.D.	<br>
				Contact No(s): (078) 624-2223 <br>
				Fax No: <br>
				Email Address:   <a href="costales.evelyn@dpwh.gov.ph">costales.evelyn@dpwh.gov.ph</a></td>
			<td>ADE OSCAR G. GUMIRAN <br>
				Contact No(s).: (078) 624-2223<br> 
				Fax No.: <br>
				Email Address: <a href="gumiran.oscar@dpwh.gov.ph">gumiran.oscar@dpwh.gov.ph</a></td>
		</tr>

			<tr>
			<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-ii">Region II </a></td>
			<td><a href="http://www.dpwh.gov.ph/dpwh/node/1525">Isabela 2nd District Engineering <br>Office<br> 
							Roxas, Isabela<br></a></td>
			<td>DE REYNATO M. UBIÑA	<br>
				Contact No(s): (078) 642-8139 <br>
				Fax No: <br>
				Email Address:<a href="ubina.reynato@dpwh.gov.ph">ubina.reynato@dpwh.gov.ph</a></td>
			<td>ADE JOCELYN P. PALEG <br>
				Contact No(s).: (078) 622-3581 <br>
				Fax No.:  <br>
				Email Address: <a href="paleg.jocelyn@dpwh.gov.ph">paleg.jocelyn@dpwh.gov.ph</a></td>
		</tr>



			<tr>
			<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-ii">Region II </a></td>
			<td><a href="http://www.dpwh.gov.ph/dpwh/node/1526">Isabela 3rd District Engineering <br>Office<br> 
							Cauayan City, Isabela<br></a></td>
			<td>DE EDITHA R. BABARAN	<br>
				Contact No(s): (078) 652-1059 <br>
				Fax No: <br>
				Email Address:<a href="babaran.editha@dpwh.gov.ph">babaran.editha@dpwh.gov.ph</a></td>
			<td>ADE ADONIS A. ASIS <br>
				Contact No(s).: (078) 652-1059 <br>
				Fax No.:   <br>
				Email Address: <a href="asis.adonis@dpwh.gov.ph">asis.adonis@dpwh.gov.ph</a></td>
		</tr>
			<tr>
			<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-ii">Region II </a></td>
			<td><a href="http://www.dpwh.gov.ph/dpwh/node/1527">Isabela 4th District Engineering <br>Office<br> 
							San Isidro, Isabela<br></a></td>
			<td>DE EDMUND B. DE LUNA (OIC) <br>
				Contact No(s): (078) 662-1786 , (078) 682-3585 <br>
				Fax No: <br>
				Email Address:<a href="deluna.edmund@dpwh.gov.ph">deluna.edmund@dpwh.gov.ph</a></td>
			<td>ADE EMMANUEL A. MANSIBANG (OIC) <br>
				Contact No(s).: (078) 662-1786 <br>
				Fax No.:   <br>
				Email Address: <a href="mansibang.emmanuel@dpwh.gov.ph">mansibang.emmanuel@dpwh.gov.ph</a></td>
		</tr>

		
			<tr>
			<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-ii">Region II </a></td>
			<td><a href="http://www.dpwh.gov.ph/dpwh/node/1529">Nueva Vizcaya 1st District <br>Engineering Office<br> 
							Bayombong, Nueva Vizcaya<br></a></td>
			<td>DE RODOLFO M. TORRALBA, JR., CEO VI	<br>
				Contact No(s): (078) 362 0234 <br>
				Fax No: (078) 362 0234 <br>
				Email Address:<a href="torralba.rodolfo_jr@dpwh.gov.ph">torralba.rodolfo_jr@dpwh.gov.ph</a></td>
			<td>ADE EDUARDO B. SIBAYAN <br>
				Contact No(s).: (078) 362 0234 <br>
				Fax No.:   <br>
				Email Address: <a href="sibayan.eduardo@dpwh.gov.ph">sibayan.eduardo@dpwh.gov.ph</a></td>
		</tr>

		<tr>
			<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-ii">Region II </a></td>
			<td><a href="http://www.dpwh.gov.ph/dpwh/node/1529">Nueva Vizcaya 2nd District <br> Engineering Office<br>Malasin, Dupax del Norte, Nueva Vizcaya<br></a></td>
			<td>ADE GLENN C. MIGUEL	<br>
				Contact No(s): <br>
				Fax No: <br>
				Email Address:<a href="reyes.rondald@dpwh.gov.ph">reyes.rondald@dpwh.gov.ph</a></td>
			<td>ADE EDUARDO B. SIBAYAN <br>
				Contact No(s).: (078) 362 0234 <br>
				Fax No.:   <br>
				Email Address: <a href="miguel.glenn@dpwh.gov.ph">miguel.glenn@dpwh.gov.ph</a></td>
		</tr>


		<tr>
			<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-ii">Region II </a></td>
			<td><a href="http://www.dpwh.gov.ph/dpwh/node/1530">Quirino District Engineering Office <br>
							Cabarroguis, Quirino<br></a></td>
			<td>DE MARIFEL T. ANDES, CSEE	<br>
				Contact No(s): (078) 321-2591  <br>
				Fax No: <br>
				Email Address:<a href="andes.marifel@dpwh.gov.ph">andes.marifel@dpwh.gov.ph</a></td>
			<td>ADE ARNOLD A. SABUG <br>
				Contact No(s).: (078) 321-2088 <br>
				Fax No.:   <br>
				Email Address: <a href="sabug.arnold@dpwh.gov.ph">sabug.arnold@dpwh.gov.ph</a></td>
		</tr>
			

	  
	</table>
  </div>
  </ion-content>
  </ion-view>