<ion-view view-title="Region IV-A (CALABARZON)">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Division</th>
		<th>Address</th>
		<th>Superintendent</th>
		<th>Asst. Superintendent/s</th>
		<th>Contact Number</th>
		
	  </tr>
	 <tr><td >Batangas</td>
<td >Bolboc, Batangas City</td>
<td >Carlito D. Rocafort</td>
<td >Hermogenes M. Panganiban (OIC-ASDS)<br>
					Felizardo O. Bolaños (OIC-ASDS)</td>
<td >(043) 723-2816 (telefax)<br>
					723-0962</td>
</tr><tr><td >Cavite</td>
<td >Trece Martirez City</td>
<td >Cherrylou D. De Mesa (OIC)</td>
<td >Elias A. Alicaya, Jr. (OIC-ASDS)</td>
<td >(046) 864-0189<br>
					864-0188<br>
					419-0482<br>
					419-1506<br>
					419-1286<br>
					419-1739</td>
</tr><tr><td >Laguna</td>
<td >Sta. Cruz, Laguna</td>
<td >Josilyn S. Solana</td>
<td >Rogelio F. Opulencia (OIC-ASDS)<br>
					Neil G. Angeles (OIC-ASDS)</td>
<td >(049) 808-4163 (telefax)<br>
					808-4218</td>
</tr><tr><td >Quezon</td>
<td >Talipan, Pagbilao, Quezon</td>
<td >Merthel M. Evardome (OIC)</td>
<td >Girlie M. Ilagan (OIC-ASDS)<br>
					Nadine C. Celindro (OIC-ASDS)</td>
<td >(042) 710-3915<br>
					731-1915 (telefax)</td>
</tr><tr><td >Rizal</td>
<td >Cabrera Rd., Hilltop, Taytay, Rizal</td>
<td >Marites A. Ibañez</td>
<td >Ernesto D. Lindo (OIC-ASDS)<br>
					Christopher R. Diaz (OIC-ASDS)</td>
<td >(02) 284-2082<br>
					284-2070<br>
					284-2083</td>
</tr><tr><td >Antipolo City</td>
<td >Antipolo City</td>
<td >Rommel C. Bautista</td>
<td >---</td>
<td >(02) 630-6854<br>
					630-3110 (telefax)</td>
</tr><tr><td >Bacoor City</td>
<td >Bacoor City</td>
<td >Ruth L. Fuentes</td>
<td >Bernadette T. Luna (OIC-ASDS)</td>
<td >(046) 434-5055<br>
					235-0021</td>
</tr><tr><td >Batangas City</td>
<td >Batangas City</td>
<td >Donato G. Bueno (OIC)</td>
<td >Rhina I. Silva (OIC-ASDS)</td>
<td >(043) 300-1138<br>
					723-8507<br>
					723-3586 (telefax)</td>
</tr><tr><td >Biñan City</td>
<td >Biñan City, Laguna</td>
<td >Hereberto Jose D. Miranda</td>
<td >Nicolas M. Burgos (OIC-ASDS)</td>
<td >---</td>
</tr><tr><td >Cabuyao City</td>
<td >Cabuyao City</td>
<td >Doris SJ. Estalilla</td>
<td >---</td>
<td >---</td>
</tr><tr><td >Calamba City</td>
<td >Calamba City</td>
<td >Rosemarie D. Torres&nbsp;(OIC)</td>
<td >Lourdes T. Bermudez (OIC-ASDS)</td>
<td >(049) 545-7331<br>
					420-8265<br>
					545-1121 (fax)</td>
</tr><tr><td >Cavite City</td>
<td >Cavite City</td>
<td >&nbsp;Celedonio B. Balderas (OIC)</td>
<td >Edgardo B. Militante (OIC-ASDS)</td>
<td >(046) 431-1282<br>
					431-0842<br>
					504-2928 (fax)</td>
</tr><tr><td >Dasmariñas City</td>
<td >Dasmariñas City</td>
<td >Manuela S. Tolentino (OIC)</td>
<td >---</td>
<td >(046) 973-2534</td>
</tr><tr><td >Imus City</td>
<td >Imus City, Cavite</td>
<td >Editha Atendido (OIC)&nbsp;</td>
<td >Lualhati O. Cadavedo (OIC)</td>
<td >---</td>
</tr><tr><td >Lipa City</td>
<td >Lipa City</td>
<td >Ludy N. Pasagui (OIC)</td>
<td >Homer N. Mendoza (OIC-ASDS)</td>
<td >(043) 756-1910<br>
					756-1233 (telefax)</td>
</tr><tr><td >Lucena City</td>
<td >Lucena City</td>
<td >Aniano M. Ogayon</td>
<td >Joepi F. Falqueza (OIC-ASDS)</td>
<td >(042) 660-2157<br>
					660-4471 (telefax)</td>
</tr><tr><td >San Pablo City</td>
<td >San Pablo City</td>
<td >Susan DL. Oribiana (OIC)</td>
<td >Merced B. Rienda (OIC-ASDS)</td>
<td >(049) 562-0685<br>
					562-7509 (telefax)</td>
</tr><tr><td >Sta. Rosa City</td>
<td >Sta. Rosa City</td>
<td >Helen A. Ramos (OIC)</td>
<td >Daisy Z. Miranda (OIC-ASDS)</td>
<td >(049) 534-5283</td>
</tr><tr><td >Tanauan City</td>
<td >Tanauan City</td>
<td >Edna F. Agustin (OIC)</td>
<td >Shirley C. Siman (OIC-ASDS)</td>
<td >(043) 778-5861<br>
					778-5652 (telefax)</td>
</tr><tr><td >Tayabas City</td>
<td >Tayabas City</td>
<td >Catherine P. Talavera (OIC)</td>
<td >Edwin Paul M. Navarro (OIC-ASDS)</td>
<td >---</td>
</tr>
			

	  
	</table>
  </div>
  </ion-content>
  </ion-view>