<ion-view view-title="Region III">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">

	 <tr>
		<th>Division</th>
		<th>Address</th>
		<th>Superintendent</th>
		<th>Asst. Superintendent/s</th>
		<th>Contact Number</th>
		
	  </tr>
	  <tr><td >Aurora</td>
<td >Baler, Aurora</td>
<td >Edgard C. Domingo</td>
<td >Emilyn D. Macaraeg (OIC-ASDS)</td>
<td >(042) 209-4254<br>
					209-9212<br>
					209-4408 (fax)</td>
</tr><tr><td >Bataan</td>
<td >Balanga, Bataan</td>
<td >Jessie D. Ferrer</td>
<td >Roland M. Fronda (OIC-ASDS)</td>
<td >(047) 237-3303<br>
					237-2102<br>
					791-7004</td>
</tr><tr><td >Bulacan</td>
<td >Malolos, Bulacan</td>
<td >Romeo M. Alip</td>
<td >Cecilia E. Valderama (OIC-ASDS)<br>
					Mina Gracia L. Acosta (OIC-ASDS)</td>
<td ><span style="color:rgb(34, 34, 34); font-family:arial,sans-serif; font-size:12.8px">(044)796-1361<br>
					662-4314<br>
					791-0256</span></td>
</tr><tr><td >Nueva Ecija</td>
<td >Cabanatuan City</td>
<td >Ronaldo A. Pozon</td>
<td >Ericson S. Sabacan (OIC-ASDS)<br>
					Johanna N. Gervacio (OIC-ASDS)</td>
<td >(044) 463-1586<br>
					463-1707<br>
					600-0582</td>
</tr><tr><td >Pampanga</td>
<td >San Fernando, Pampanga</td>
<td >Leonardo D. Zapanta (OIC)</td>
<td >Rowena T. Quiambao (OIC-ASDS)</td>
<td >(045) 961-2148<br>
					961-3010<br>
					961-3219</td>
</tr><tr><td >Tarlac</td>
<td >Tarlac, Tarlac</td>
<td >Estrelita S. Cunanan (OIC)</td>
<td >Rodel G. Aragon (OIC-ASDS)<br>
					Noel L. Linsao (OIC-ASDS)</td>
<td >(045) 982-0374<br>
					982-4286<br>
					982-2463</td>
</tr><tr><td >Zambales</td>
<td >Iba, Zambales</td>
<td >Zenia G. Mostoles</td>
<td >Merlina P. Cruz</td>
<td >(047) 811-1421<br>
					811-3578<br>
					811-3031</td>
</tr><tr><td >Angeles City</td>
<td >Angeles City</td>
<td >Leilani S. Cunanan (OIC)</td>
<td >Ma. Celina L. Vega (OIC-ASDS)</td>
<td >(045) 888-0582<br>
					322-5722<br>
					322-4702<br>
					887-6099</td>
</tr><tr><td >Balanga City</td>
<td >Balanga City</td>
<td >Carolina S. Violeta (OIC)</td>
<td >Armando C. Capili (OIC-ASDS)</td>
<td >(047) 791-1077<br>
					662-7562</td>
</tr><tr><td >Cabanatuan City</td>
<td >Cabanatuan City</td>
<td >Rhoda T. Razon</td>
<td >Josie C. Palioc (OIC-ASDS)</td>
<td >(044) 463-7334<br>
					463-1627<br>
					600-3595</td>
</tr><tr><td >Gapan City</td>
<td >Gapan City</td>
<td >Silverlina A. De Jesus (OIC)</td>
<td >Enrique E. Angeles (OIC-ASDS)</td>
<td >(044) 486-6524<br>
					486-7910<br>
					486-7252</td>
</tr><tr><td >Mabalacat City</td>
<td >Mabalacat City, Pampanga</td>
<td >Ma. Irelyn P. Tamayo (OIC-SDS)</td>
<td >---</td>
<td >---</td>
</tr><tr><td >Malolos City</td>
<td >Malolos City</td>
<td >Nicolas T. Capulong (OIC)</td>
<td >Melissa S. Sanchez (OIC-ASDS)</td>
<td >(044) 791-6429<br>
					662-3034</td>
</tr><tr><td >Meycauayan City</td>
<td >Meycauayan City, Bulacan</td>
<td >Norma P. Esteban (OIC)</td>
<td >Leilanie Zorayda M. Mendoza (OIC-ASDS)</td>
<td >---</td>
</tr><tr><td >Olongapo City</td>
<td >Olongapo City</td>
<td >Bernadette F. Tamayo (OIC)</td>
<td >Samson J. Boqueron (OIC-ASDS)</td>
<td >(047) 222-6569<br>
					222-2568 (fax)</td>
</tr><tr><td >San Fernando City</td>
<td >San Fernando City, Pampanga</td>
<td >Imelda P. Macaspac (OIC)</td>
<td >Ronnie A. Mallari (OIC-ASDS)</td>
<td >(045) 636-4233<br>
					636-4209<br>
					636-4459</td>
</tr><tr><td >San Jose City</td>
<td >San Jose City, Nueva Ecija</td>
<td >Teresa D. Mababa</td>
<td >Dante G. Parungao (OIC-ASDS)</td>
<td >---</td>
</tr><tr><td >San Jose Del Monte</td>
<td >San Jose del Monte City</td>
<td >Germelina H. Pascual</td>
<td >Maria Carmen P. Cuenco</td>
<td >(044) 691-5830<br>
					691-6863</td>
</tr><tr><td >Science City of Muñoz</td>
<td >Science City of Muñoz</td>
<td >Catalina P. Paez (OIC)</td>
<td >Ronilo E. Hilario (OIC-ASDS)</td>
<td >(044) 456-5534<br>
					456-5895</td>
</tr><tr><td >Tarlac City</td>
<td >Tarlac City</td>
<td >Alberto P. Saludez</td>
<td >Sol L. Cariaga (OIC-ASDS)</td>
<td >(045) 982-4439<br>
					982-4514</td>
</tr>
			
			

	  
	</table>
  </div>
  </ion-content>
  </ion-view>