<ion-view view-title="Region I">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Region</th>
		<th>Location</th>
		<th>Regional Director</th>
		<th>Asst. Regional Director</th>
		
	  </tr>
	  <tr>
		<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-i">Region I </a></td>
		<td>Aguila Road, Sevilla, San Fernando City, <br> La Union</td>
		<td>RD RONNEL M. TAN (OIC) <br>
			Contact No(s).: (072) 242-9333 <br>
			Fax No.: (072) 242-9372 <br>
			Email: <a href="#">tan.ronnel@dpwh.gov.ph</a></td>
		<td>ARD EMMANUEL W. DIAZ (OIC) <br>
			Contact No(s).: (072) 242-9363 <br>
			Fax No.: (072) 242-9363 <br>
			Email: <a href="#">diaz.emmanuel@dpwh.gov.ph</a></td>
		
	  </tr>
</table><br><br><br>



	<table class="depttable">
	 <tr>
		<th>Region</th>
		<th>Office	</th>
		<th>District Engineer</th>
		<th>Asst. District Engineer</th>
		
	  </tr>
		<tr>
			<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-i">Region I </a></td>
			<td><a href="http://www.dpwh.gov.ph/dpwh/node/1402">Ilocos Norte 2nd District Engineering Office <br>
				San Nicolas, Ilocos Norte</a></td>
			<td>DE MATHIAS L. MALENAB<br>	
				Contact No(s): (077) 781-3420 <br>
				Fax No: <br>
				Email Address: <a href="malenab.matias@dpwh.gov.ph">malenab.matias@dpwh.gov.ph</a></td>
			<td>ADE JAMES P. FERRER <br>
					Contact No(s).: (077) 781-3420 <br>
					Fax No.: <br>
					Email Address: <a href="ferrer.james@dpwh.gov.ph">ferrer.james@dpwh.gov.ph</a></td>
		</tr>

			<tr>
				<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-i">Region I </a></td>
				<td><a href="http://www.dpwh.gov.ph/dpwh/node/1512">Ilocos Sur 1st District Engineering Office <br>
								Bantay, Ilocos Sur</a></td>
				<td>DE REYNALDO S. ORGANO	<br>
					Contact No(s): (077) 722-8054 <br>
					Fax No: (077) 722-8054 <br>
					Email Address: <a href="organo.reynaldo@dpwh.gov.ph">organo.reynaldo@dpwh.gov.ph</a></td>
				<td>ADE RAYNALDO R. ABLOG (OIC) <br>
					Contact No(s).: (077) 722-7490 <br>
					Fax No.: <br>
					Email Address: <a href="ablog.raynaldo@dpwh.gov.ph">ablog.raynaldo@dpwh.gov.ph</a></td>
			</tr>
			<tr>
				<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-i">Region I </a></td>
				<td><a href="http://www.dpwh.gov.ph/dpwh/node/1513">Ilocos Sur 2nd District Engineering Office<br>
								Candon, Ilocos Sur</a></td>
				<td>DE JOSE G. GINETE, JR.	<br>
				Contact No(s): (077) 742-6032 <br>
				Fax No: (077) 742-5893 <br>
				Email Address: <a href="ginetejr.jose@dpwh.gov.ph">ginetejr.jose@dpwh.gov.ph</a></td>
				<td>ADE RENATO G. GAGNO <br>
					Contact No(s).: (077) 742-6032 <br>
					Fax No.: <br>
					Email Address: <a href="gagno.renato@dpwh.gov.ph">gagno.renato@dpwh.gov.ph</a></td>
			</tr>
			<tr>
				<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-i">Region I </a></td>
				<td><a href="http://www.dpwh.gov.ph/dpwh/node/1515">La Union 1st District Engineering Office <br>
								Lingsat,San Fernando City, La Union</a></td>
				<td>DE EMIL R. GANADEN	<br>
					Contact No(s): (072) 700-2938 <br>
					Fax No: (077) 700-2938 <br>
					Email Address:<a href="ganaden.emil@dpwh.gov.ph"> ganaden.emil@dpwh.gov.ph</a></td>
				<td>ADE GIL M. LORENZO <br>
					Contact No(s).: (072) 700-2937 <br>
					Fax No.: <br>
					Email Address: <a href="lorenzo.gil@dpwh.gov.ph">lorenzo.gil@dpwh.gov.ph</a></td>
			</tr>
			<tr>
				<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-i">Region I </a></td>
				<td><a href="http://www.dpwh.gov.ph/dpwh/node/1516">La Union 2nd District Engineering Office <br>
								Naguilian, La Union</a></td>
				<td>DE AQUILINO M. NICER	<br>
					Contact No(s): (072) 609-1716<br> 
					Fax No: (072) 609-1716 <br>
					Email Address: <a href="nicer.aquilino@dpwh.gov.ph">nicer.aquilino@dpwh.gov.ph</a></td>
				<td>ADE RAUL P. GALI (OIC) <br>
					Contact No(s).: (072) 609-1070 <br>
					Fax No.:  <br>
					Email Address: <a href="gali.raul@dpwh.gov.ph">gali.raul@dpwh.gov.ph</a></td>
			</tr>
			<tr>
				<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-i">Region I </a></td>
				<td><a href="http://www.dpwh.gov.ph/dpwh/node/1517">Pangasinan 1st District Engineering Office <br>
								Alaminos City</a></td>
				<td>DE MARIETA B. MENDOZA <br>
					Contact No(s): (075) 552-7213 <br>
					Fax No: (075) 552-7213  <br>
					Email Address: <a href="mendoza.marieta@dpwh.gov.ph">mendoza.marieta@dpwh.gov.ph</a></td>
				<td>ADE RAUL P. GALI (OIC) <br>
					Contact No(s).: (072) 609-1070 <br>
					Fax No.: 
					Email Address: <a href="gali.raul@dpwh.gov.ph">gali.raul@dpwh.gov.ph</a></td>
			</tr>
			<tr>
				<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-i">Region I </a></td>
				<td><a href="http://www.dpwh.gov.ph/dpwh/node/1518">Pangasinan 2nd District Engineering Office <br>
								Lingayen, Pangasinan</a></td>
				<td>DE RODOLFO C. DION	<br>
					Contact No(s): (075) 662-1689<br> 
					Fax No: (075) 662-1689 <br>
					Email Address: <a href="dion.rodolfo@dpwh.gov.ph">dion.rodolfo@dpwh.gov.ph</a></td>
				<td>ADE MARIA VENUS S. TORIO (OIC) <br>
					Contact No(s).: (075) 542-6751 <br>
					Fax No.: <br>
					Email Address: <a href="torio.maria_venus@dpwh.gov.ph">torio.maria_venus@dpwh.gov.ph</a></td>
			</tr>
			<tr>
				<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-i">Region I </a></td>
				<td><a href="http://www.dpwh.gov.ph/dpwh/node/1519">Pangasinan 3rd District Engineering Office <br>
								Tumana, Rosales, Pangasinan</a></td>
						<td>DE GERARDO T. DE GUZMAN (OIC) <br>
							Contact No(s): (075) 541-5469 <br>
							Fax No: (075) 582-3993  <br>
							Email Address: <a href="deguzman.gerardo@dpwh.gov.ph">deguzman.gerardo@dpwh.gov.ph</a></td>
						<td>ADE ANDRES M. NICER <br>
							Contact No(s).: <br>
							Fax No.: <br>
					Email Address: <a href="nicer.andres@dpwh.gov.ph">nicer.andres@dpwh.gov.ph</a></td>
			</tr>


			<tr>
				<td> <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-i">Region I </a></td>
				<td><a href="http://www.dpwh.gov.ph/dpwh/node/1520">Pangasinan 4th District Engineering Office <br>
								Sta Barbara, Pangasinan (former Pangasinan Sub-DEO)</a><br>
							</td>
						<td>DE SIMPLICIO D. GONZALES	<br>
							Contact No(s): (075) 653-6418 <br>
							Fax No: (075) 653-6418 <br>
							Email Address: <a href="gonzales.simplicio@dpwh.gov.ph">gonzales.simplicio@dpwh.gov.ph</a></td>
						<td>ADE EDITA L. MANUEL <br>
							Contact No(s).: (075) 653-6418 <br>
							Fax No.:  <br>
					Email Address: <a href="manuel.edita@dpwh.gov.ph">manuel.edita@dpwh.gov.ph</a></td>
			</tr>
			

	  
	</table>
  </div>
  </ion-content>
  </ion-view>