<ion-view view-title="Region III">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Region</th>
		<th>Location</th>
		<th>Regional Director</th>
		<th>Asst. Regional Director</th>
		
	  </tr>
	  <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv">Region IV-A</a>          </td>
                  <td>
            EDSA, Quezon City          </td>
                  <td>
            <b>RD SAMSON L. HEBRA</b>
<br>
Contact No(s).: (02) 481-0202
<br>
Fax No.: (02) 927-3276	
<br>
Email: <a href="hebra.samson@dpwh.gov.ph">hebra.samson@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ARD YOLANDA L. TANGCO</b>
<br>
Contact No(s).: (02) 481-0206	
<br>
Fax No.: (02) 926-8779	
<br>
Email: <a href="tangco.yolanda@dpwh.gov.ph">tangco.yolanda@dpwh.gov.ph</a>
          </td>
              </tr>
	</table><br><br><br>



	<table class="depttable">
	 <tr>
		<th>Region</th>
		<th>Office	</th>
		<th>District Engineer</th>
		<th>Asst. District Engineer</th>
		
	  </tr>
		<tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv">Region IV-A</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1405"><b>Batangas 1st District Engineering Office</b>
<br>
Batangas City</a>          </td>
                  <td>
            <b>DE JOEL F. LIMPENGCO</b>
<br>
Contact No(s): (043) 402-5900
<br>
Fax No: (043)723-7934
<br>
Email Address: <a href="limpengco.joel@dpwh.gov.ph">limpengco.joel@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE BENCIO A. AGUZAR</b>
<br>
Contact No(s).: (043) 723-1767
<br>
Fax No.: 
<br>
Email Address: <a href="aguzar.bencio@dpwh.gov.ph">aguzar.bencio@dpwh.gov.ph</a>
          </td>
              </tr>


              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv">Region IV-A</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1551"><b>Batangas 2nd District Engineering Office</b>
<br>
Kumintang Ilaya, Batangas City</a>          </td>
                  <td>
            <b>EDWIN D. ABRIGONDA (OIC)</b>
<br>
Contact No(s): (043) 723-9791 	
<br>
Fax No: (043) 723-2172 	
<br>
Email Address: <a href="abrigonda.edwin@dpwh.gov.ph">abrigonda.edwin@dpwh.gov.ph	</a>          </td>
                  <td>
            <b>ADE SONIA D. PAGLICAUAN (OIC)</b>
<br>
Contact No(s).: (043) 723-2172 
<br>
Fax No.: 
<br>
Email Address: <a href="paglicauan.sonia@dpwh.gov.ph">paglicauan.sonia@dpwh.gov.ph</a>
          </td>
              </tr>

              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv">Region IV-A</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1552"><b>Batangas 3rd District Engineering Office</b>
<br>
J. Gonzales St,, Tanauan City, Batangas</a>          </td>
                  <td>
            <b>DE PRESCILA R. RAMOS	</b>
<br>
Contact No(s): (043) 778-5134 	
<br>
Fax No: (043) 778-0738 	
<br>
Email Address: <a href="ramos.prescila@dpwh.gov.ph">ramos.prescila@dpwh.gov.ph	</a>          </td>
                  <td>
            <b>ADE GIL B. AGARRI</b>
<br>
Contact No(s).: (043) 778-2420 
<br>
Fax No.: 
<br>
Email Address: <a href="aggari.gil@dpwh.gov.ph">aggari.gil@dpwh.gov.ph</a>
          </td>
              </tr>

              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv">Region IV-A</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1553"><b>Batangas 4th District Engineering Office</b>
<br>
Lipa City</a>          </td>
                  <td>
            <b>DE RODY A. ANGULO 	</b>
<br>
Contact No(s): (043) 756-3896 	
<br>
Fax No: (043)702-5204 	
<br>
Email Address: <a href="angulo.rody@dpwh.gov.ph">angulo.rody@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE NOLI M. ALCANTARA</b>
<br>
Contact No(s).: (043) 754-5067 
<br>
Fax No.: 
<br>
Email Address: <a href="alcantara.noli@dpwh.gov.ph">alcantara.noli@dpwh.gov.ph</a>
          </td>
              </tr>

              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv">Region IV-A</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1554"><b>Cavite 1st  District Engineering Office</b>
<br>
Capitol Compound, Trece Martirez City</a>          </td>
                  <td>
            <b>DE OSCAR U. DELA CRUZ	</b>
<br>
Contact No(s): (046) 419-0058 	
<br>
Fax No: (046) 419-0478 	
<br>
Email Address: <a href="delacruz.oscar@dpwh.gov.ph">delacruz.oscar@dpwh.gov.ph	</a>          </td>
                  <td>
            <b>ADE NENETTE K. IGNA</b>
<br>
Contact No(s).: (046) 419-0058 
<br>
Fax No.: 
<br>
Email Address: <a href="igna.nenette@dpwh.gov.ph">igna.nenette@dpwh.gov.ph</a>
          </td>
              </tr>

              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv">Region IV-A</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1555"><b>Cavite 2nd District Engineering Office</b>
<br>
Akle St. cor. Mahogany Ave. Brgy Kaybagal South, Tagaytay City (former Cavite Sub-Engineering District)</a>          </td>
                  <td>
            <b>DE ARTHUR D. PASCUAL, JR.</b>
<br>
Contact No(s): (046) 860-3127 	
<br>
Fax No: 
<br>
Email Address: <a href="pascual.arthur_jr@dpwh.gov.ph">pascual.arthur_jr@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE ESMERALDO B. BAYOT</b>
<br>
Contact No(s).: (046) 860-3127 
<br>
Fax No.: 
<br>
Email Address: <a href="bayot.esmeraldo@dpwh.gov.ph">bayot.esmeraldo@dpwh.gov.ph</a>
          </td>
              </tr>

              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv">Region IV-A</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1556"><b>Cavite Sub-District Engineering Office</b>
<br>
Carmona, Cavite</a>          </td>
                  <td>
            <b>DE TEOFILO A. AYON </b>
<br>
Contact No(s): (046) 482-9149 	
<br>
Fax No: 
<br>
Email Address: <a href="ayon.teofilo@dpwh.gov.ph">ayon.teofilo@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE DONNIE D. CUNA</b>
<br>
Contact No(s).: (046) 482-9141 
<br>
Fax No.: 
<br>
Email Address: <a href="cuna.donnie@dpwh.gov.ph">cuna.donnie@dpwh.gov.ph</a>
          </td>
              </tr>

              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv" >Region IV-A</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1557"><b>Laguna 1st District Engineering Office</b>
<br>
Manuel L. Quezon Ave., Brgy. Callios, Sta. Cruz, Laguna</a>          </td>
                  <td>
            <b>DE NILO B. GAVIA</b>
<br>
Contact No(s): (049) 808-6556 	
<br>
Fax No: (049)501-2081 	
<br>
Email Address: <a href="gavia.nilo@dpwh.gov.ph">gavia.nilo@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE GERARDO DE CELLO </b>
<br>
Contact No(s).: (049) 808-6556 
<br>
Fax No.: 
<br>
Email Address: <a href="decello.gerardo@dpwh.gov.ph">decello.gerardo@dpwh.gov.ph</a>
          </td>
              </tr>


              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv">Region IV-A</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1558"><b>Laguna 2nd District Engineering Office</b>
<br>
Brgy. Bambang, Los Baños, Laguna</a>          </td>
                  <td>
            <b>DE JULIANA D. VERGARA</b>
<br>
Contact No(s): (049) 827-7959 	
<br>
Fax No: (049 )536-3714 	
<br>
Email Address: <a href="vergara.juliana@dpwh.gov.ph">vergara.juliana@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE JEFFREY MICHAEL C. JAMIAS (OIC)</b>
<br>
Contact No(s).: (049 )536-9265 , (049) 827-7962 
<br>
Fax No.: 
<br>
Email Address: <a href="jamias.jeffrey_michael@dpwh.gov.ph">jamias.jeffrey_michael@dpwh.gov.ph</a>
          </td>
              </tr>

              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv">Region IV-A</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1559"><b>Laguna 3rd District Engineering Office</b>
<br>
San Pablo City (former Laguna Sub-Engineering District)</a>          </td>
                  <td>
            <b>DE JOVEL G. MENDOZA	</b>
<br>
Contact No(s): (049) 562-8114 	
<br>
Fax No: 
<br>
Email Address: <a href="mendoza.jovel@dpwh.gov.ph">mendoza.jovel@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE JOVEN M. CALABIA</b>
<br>
Contact No(s).: (049) 800-3894 
<br>
Fax No.: 
<br>
Email Address: <a href="calabia.joven@dpwh.gov.ph">calabia.joven@dpwh.gov.ph</a>
          </td>
              </tr>

              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv">Region IV-A</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1560"><b>Quezon 1st District Engineering Office</b>
<br>
Lucban, Quezon</a>          </td>
                  <td>
            <b>DE SALVADOR E. SALVAÑA	</b>
<br>
Contact No(s): (042) 540-4158 	
<br>
Fax No: (042) 540-6097 	
<br>
Email Address: <a href="salvana.salvador@dpwh.gov.ph">salvana.salvador@dpwh.gov.ph	</a>          </td>
                  <td>
            <b>ADE DEL ROSARIO C. NACA</b>
<br>
Contact No(s).: (042) 540-3353 
<br>
Fax No.: 
<br>
Email Address: <a href="naca.del_rosario@dpwh.gov.ph">naca.del_rosario@dpwh.gov.ph</a>
          </td>
              </tr>

              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv">Region IV-A</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1561"><b>Quezon 2nd District Engineering Office</b>
<br>
Dalahican Road, Lucena City</a>          </td>
                  <td>
            <b>DE ROGELIO S. CRESPO</b>
<br>
Contact No(s): (042) 373-5242 	
<br>
Fax No: (042) 373-5242 	
<br>
Email Address: <a href="crespo.rogelio@dpwh.gov.ph">crespo.rogelio@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE MA. CHYMBELIN D. IBAL</b>
<br>
Contact No(s).: (042) 373-0412 
<br>
Fax No.: 
<br>
Email Address: <a href="ibal.ma._chymbelin@dpwh.gov.ph">ibal.ma._chymbelin@dpwh.gov.ph</a>
          </td>
              </tr>

              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv">Region IV-A</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1562"><b>Quezon 3rd District Engineering Office</b>
<br>
Catanauan, Quezon</a>          </td>
                  <td>
            <b>DE JUANITO B. ALAMAR </b>
<br>
Contact No(s): (042) 315-8194 	
<br>
Fax No: (042) 315-8195 	
<br>
Email Address: <a href="alamar.juanito@dpwh.gov.ph">alamar.juanito@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE JORGE C. PASIA  (OIC)</b>
<br>
Contact No(s).: (042) 315-8195 
<br>
Fax No.: 
<br>
Email Address: <a href="pasia.jorge@dpwh.gov.ph">pasia.jorge@dpwh.gov.ph</a>
          </td>
              </tr>

              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv">Region IV-A</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1563"><b>Quezon 4th District Engineering Office</b>
<br>
Barangay Isabang, Lucena City</a>          </td>
                  <td>
            <b>DE CELESTIAL S. FLANCIA	</b>
<br>
Contact No(s): (042) 373-4947 	
<br>
Fax No: (042) 373-1222 	
<br>
Email Address: <a href="flancia.celestial@dpwh.gov.ph">flancia.celestial@dpwh.gov.ph	</a>          </td>
                  <td>
            <b>ADE GENER J. ABERGAS</b>
<br>
Contact No(s).: (042) 373-5626 
<br>
Fax No.: 
<br>
Email Address: <a href="abergas.gener@dpwh.gov.ph">abergas.gener@dpwh.gov.ph</a>
          </td>
              </tr>

              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv">Region IV-A</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1564"><b>Rizal 1st District Engineering Office</b>
<br>
Binangonan, Rizal</a>          </td>
                  <td>
            <b>DE NESTOR I CLEOFAS</b>
<br>
Contact No(s): (02) 652-3657 	
<br>
Fax No: 
<br>
Email Address: <a href="cleofas.nestor@dpwh.gov.ph">cleofas.nestor@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE FERDINAND T. MONAKIL</b>
<br>
Contact No(s).: (02) 652-3652 , (02) 652-5093 
<br>
Fax No.: 
<br>
Email Address: <a href="monakil.ferdinand@dpwh.gov.ph">monakil.ferdinand@dpwh.gov.ph</a>
          </td>
              </tr>

              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv">Region IV-A</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1565"><b>Rizal 2nd District Engineering Office</b>
<br>
Westbank Road Manggahan Floodway, Brgy. Rosario, Pasig City</a>          </td>
                  <td>
            <b>DE ADILBERT B. ROSETE	</b>
<br>
Contact No(s): (02) 643-8865 	
<br>
Fax No: (02) 900-1928 	
<br>
Email Address: <a href="rosete.adilbert@dpwh.gov.ph">rosete.adilbert@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE FRANCISCO F. CRUZ</b>
<br>
Contact No(s).: (02) 900-1929 
<br>
Fax No.: 
<br>
Email Address: <a href="cruz.francisco@dpwh.gov.ph">cruz.francisco@dpwh.gov.ph</a>
          </td>
              </tr>
	</table>
  </div>
  </ion-content>
  </ion-view>