<ion-view view-title="Region V">
	
    <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
    
  <div style="overflow-x:auto;">
      <table class="depttable">
        <tr>
          <th>Region</th>
          <th>Locatione</th>
          <th>Regional Director</th>
          <th>Asst. Regional Director</th>
          
        </tr>
        <tr>
          <td>Region V</td>
          <td>Rawis, Legaspi City/td>
          <td>RD DANILO E. VERSOLA 
            Contact No(s).: (052) 482-0395	
            Fax No.: (052) 482-0395	
            Email:<a href="#">versola.danilo@dpwh.gov.ph</a></td>
          <td>ARD ESMERALDO S. SARMIENTO (OIC) 
            Contact No(s).: (052) 481- 2093	
            Fax No.: 
            Email:<a href="">sarmiento.esmeraldo@dpwh.gov.ph</a></td>
          
        </tr>
        </table>
        <br><br><br>
        <table class="depttable">
            <tr>
                <th>Region</th>
                <th>Office</th>
                <th>District Engineer</th>
                <th>Asst. District Engineer</th>
                
              </tr>
          
          <tr>
              <td>Region V</td>
              <td><a href="http://www.dpwh.gov.ph/dpwh/node/1407">Albay 1st District Engineering Office 
                Airport Site, Legaspi City </a></td>
              <td>DE SIMON N. ARIAS 
                Contact No(s): (052) 480-0560 
                Fax No: (052) 481-9343 
                Email Address:<a href="">arias.simon@dpwh.gov.ph</a></td>
              <td>ADE GUILBERT P. ROMERO 
                Contact No(s).: (052) 480-0560 
                Fax No.: 
                Email Address:<a href="">romero.guilbert@dpwh.gov.ph</a></td>
          </tr>
  
              <tr>
                  <td>Planning and Field Operations</td>
                  <td>Jesus Lorenzo R. Mateo</td>
                  <td>Undersecretary</td>
                  <td>633-7206
                      631-8494 (fax)</td>
              </tr>
              <tr>
                  <td>Region V</td>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/node/1575">Albay 2nd District Engineering Office 
                    Airport Site, Legaspi City</a></td>
                  <td>DE DANILO J. VILLA, JR.	
                    Contact No(s): (052)480-3656 
                    Fax No: (052)481-4290 
                    Email Address:<a href="#">villa.danilo@dpwh.gov.ph</a></td>
                  <td>ADE ELEONOR L. AREOLA 
                    Contact No(s).: (052)435-0617 
                    Fax No.: (052)820-3032 
                    Email Address:<a href="#">areola.eleonor@dpwh.gov.ph</a></td>
              </tr>
              <tr>
                  <td>Region V</td>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/node/1576">Albay 3rd District Engineering Office 
                    Paulog, Ligao city</a></td>
                  <td>DE EDNA F. MEÑEZ 
                    Contact No(s): (052) 837-0818 
                    Fax No: 
                    Email Address:<a href="#">menez.edna@dpwh.gov.ph</a></td>
                  <td>ADE NANCY D. DOLOIRAS 
                    Contact No(s).: (052) 837-0818 
                    Fax No.: 
                    Email Address:<a href="#">doloiras.nancy@dpwh.gov.ph</a></td>
              </tr>
              <tr>
                  <td>Region V</td>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/node/1578"> Norte District Engineering Office 
                    Daet, Camarines Norte</a></td>
                  <td>DE RICARDO R. GUTIERREZ 
                    Contact No(s): (054) 440-0414 
                    Fax No: (054) 440-0319 
                    Email Address:<a href="#">doloiras.romeo@dpwh.gov.ph</a></td>
                  <td>ADE VICTORIO F. CORPORAL 
                    Contact No(s).: (054) 440-0414 
                    Fax No.: 
                    Email Address:<a href="#">corporal.victorio@dpwh.gov.ph</a></td>
              </tr>
              <tr>
                  <td>Region V</td>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/node/1580">Camarines Sur 1st District Engineering Office 
                    Ragay, Camarines Sur</a></td>
                  <td>DE RUBEN S. SANTOS, JR. (OIC) 
                    Contact No(s): (054) 473-1404 
                    Fax No: (054) 474-0100 
                    Email Address:<a href="#">santos.ruben_jr@dpwh.gov.ph</a></td>
                  <td>ADE SALVACION LORA C. DELEÑA 
                    Contact No(s).: (054) 473-1404 
                    Fax No.: 
                    Email Address:<a href="#"> delena.salvacion_lora@dpwh.gov.ph</a></td>
              </tr>
              <tr>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/node/1581">Camarines Sur 2nd District Engineering Office 
                    Canaman, Camarines Sur</a></td>
                  <td>DE REBECCA J. ROCES	
                    Contact No(s): (054) 474-9134 
                    Fax No: 
                    Email Address:<a href="#">roces.rebecca@dpwh.gov.ph</a></td>
                  <td>ADE RICHARD EMMANUEL P. RAGRAGIO 
                    Contact No(s).: (054) 474-9134 
                    Fax No.: 
                    Email Address:<a href="#">ragragio.richard_emmanuel@dpwh.gov.ph</a></td>
              </tr>
              <tr>
                  <td>Region V</td>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/node/1583">Camarines Sur 3rd District Engineering Office 
                    Tigaon, Camarines Sur</a></td>
                  <td>DE GEMMA B. TIMBANG	
                    Contact No(s): (054) 452-3411 
                    Fax No: (054) 452-3411 
                    Email Address:<a href="#">timbang.gemma@dpwh.gov.ph</a></td>
                  <td>ADE GLENN L. SAÑOSA 
                    Contact No(s).: (054) 452-3430 
                    Fax No.: (054) 452-3430 
                    Email Address:<a href="#">sanosa.glenn@dpwh.gov.ph</a></td>
              </tr>
              <tr>
                  <td>Region V</td>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/node/1584">Camarines Sur 4th District Engineering Office 
                    Baao, Camarines Sur</a></td>
                  <td>DE NESTOR P. GORIMBAO	
                    Contact No(s): (054) 266-3465 
                    Fax No: 
                    Email Address:<a href="#"> gorimbao.nestor@dpwh.gov.ph</a></td>
                  <td>ADE FLORIDA P. NUÑEZ 
                    Contact No(s).: (054) 266-3465 
                    Fax No.: 
                    Email Address:<a href="#">nunez.florida@dpwh.gov.ph</a></td>
              </tr>
              <tr>
                  <td>Region V</td>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/node/1585"> Camarines Sur 5th District Engineering Office 
                    Baras, Canaman, Camarines Sur</a></td>
                  <td>DE WILLARD KENNETH I. ATUTUBO	
                    Contact No(s): (054) 474-5789 , (054) 811-3418 
                    Fax No: 
                    Email Address:<a href="#">atutubo.willard_kenneth@dpwh.gov.ph</a></td>
                  <td>ADE FERDINAND R. JOVEN 
                    Contact No(s).: (054) 474-5586 
                    Fax No.: 
                    Email Address:<a href="#">joven.edy_ferdinand@dpwhg.gov.ph</a></td>
              </tr>
              <tr>
                <td>Region V</td>
                <td><a href="http://www.dpwh.gov.ph/dpwh/node/1586"> Catanduanes District Engineering Office 
                    Virac, Catanduanes</a></td>
                <td>DE ELMER R. REDRICO	
                    Contact No(s): (052) 811-1038 
                    Fax No: 
                    Email Address:<a href="#">redrico.elmer@dpwh.gov.ph</a></td>
                <td>ADE ROMEO F. CIELO 
                    Contact No(s).: (0917)5582294 
                    Fax No.: 
                    Email Address:<a href="#"> cielo.romeo@dpwh.gov.ph</a></td>
            </tr>
            <tr>
                <td>Region V</td>
                <td><a href="http://www.dpwh.gov.ph/dpwh/node/1588"> Masbate 1st District Engineering Office 
                    Masbate City</a></td>
                <td>DE RAINERO A. ZERDA	
                    Contact No(s): (056) 333-5456 , (056) 333-2722 
                    Fax No: 
                    Email Address:<a href="#"> zerda.rainero@dpwh.gov.ph</a> </td>
                <td>ADE GERRYLIN M. CANTILLEP (OIC) 
                    Contact No(s).: (056) 333-4955 
                    Fax No.: 
                    Email Address:<a href="#"> cantillep.gerrylin@dpwh.gov.ph</a></td>
            </tr>
            <tr>
                <td>Region V</td>
                <td><a href="http://www.dpwh.gov.ph/dpwh/node/1589"> Masbate 2nd District Engineering Office 
                    Dimasalang, Masbate City</a></td>
                <td>DE ROMEO O. DOLOIRAS 
                    Contact No(s): 0920-9168085 
                    Fax No: 
                    Email Address:<a href="#"> doloiras.romeo @dpwh.gov.ph</a></td>
                <td>ADE MARIANO M. ESPARES, JR. 
                    Contact No(s).: 0919-6291675 
                    Fax No.: 
                    Email Address:<a href="#"> espares.mariano_jr@dpwh.gov.ph</a></td>
            </tr>
            <tr>
                <td>Region V</td>
                <td><a href="http://www.dpwh.gov.ph/dpwh/node/1590">Masbate 3rd District Engineering Office 
                    San Jacinto, Masbate (former Masbate Sub- Engineering District)</a></td>
                <td>DE WALTER F. LUBIANO	
                    Contact No(s): 
                    Fax No: 
                    Email Address:<a href="#"> lubiano.walter@dpwh.gov.ph</a></td>
                <td>ADE JESSIE B. BALUYOT 
                    Contact No(s).: 0920-9517273 
                    Fax No.: 
                    Email Address:<a href="#"> baluyot.jessie@dpwh.gov.ph</a></td>
            </tr>
            <tr>
                <td>Region V</td>
                <td><a href="http://www.dpwh.gov.ph/dpwh/node/1591">Sorsogon I District Engineering Office 
                    Sorsogon City</a></td>
                <td>DE IGNACIO T. ODIAMAN	
                    Contact No(s): (054) 211-3725 
                    Fax No: 
                    Email Address:<a href="#"> odiaman.ignacio@dpwh.gov.ph</a></td>
                <td>ADE FELIX M. DIMAANO, JR 
                    Contact No(s).: (054) 211-3725 
                    Fax No.: 
                    Email Address:<a href="#"> dimaano.felix_jr@dpwh.gov.ph</a></td>
            </tr>
            <tr>
                <td>Region V</td>
                <td><a href="http://www.dpwh.gov.ph/dpwh/node/1593">Sorsogon II District Engineering Office 
                    Gubat, Sorsogon</a></td>
                <td>DE EFREN C. MANALO	
                    Contact No(s): (054) 474-5278 
                    Fax No: 
                    Email Address:<a href="#"> manalo.efren@dpwh.gov.ph</a></td>
                <td>ADE GIL AUGUSTUS A. BALMADRID 
                    Contact No(s).: (054) 474-5278 
                    Fax No.: 
                    Email Address:<a href="#"> balmadrid.gil_augustus@dpwh.gov.ph</a></td>
            </tr>
              
  
        
      </table>
    </div>
    </ion-content>
    </ion-view>