<ion-view view-title="Region IV-B">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Region</th>
		<th>Location</th>
		<th>Regional Director</th>
		<th>Asst. Regional Director</th>
		
	  </tr>

	  <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv-b">Region IV-B</a>          </td>
                  <td>
            EDSA, Quezon City       </td>
                  <td>
            <b>RD WILFREDO S. MALLARI (OIC)</b>
<br>
Contact No(s).: (02) 425-1977, (02) 481-0304
<br>
Fax No.: (02) 425-1975	
<br>
Email: <a href="mallari.wilfredo@dpwh.gov.ph">mallari.wilfredo@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ARD ARMANDO G. ESTRELLA </b>
<br>
Contact No(s).: (02) 481-0306, (02) 481-0307
<br>
Fax No.: (02) 425-1975
<br>
Email: <a href="estrella.armando@dpwh.gov.ph">estrella.armando@dpwh.gov.ph</a>
          </td>
              </tr>
	  </table>
<br><br><br>
<table class="depttable">
	  <tr>
		<th>Region</th>
		<th>Office	</th>
		<th>District Engineer</th>
		<th>Asst. District Engineer</th>
		
	  </tr>

	  <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv-b">Region IV-B</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1406"><b>Marinduque District Engineering Office</b>
<br>
Boac, Marinduque</a>          </td>
                  <td>
            <b>DE JOSEFINA T. PANALIGAN (OIC)</b>
<br>
Contact No(s): (042) 332-1500
<br>
Fax No: 
<br>
Email Address: <a href="panaligan.josefina@dpwh.gov.ph">panaligan.josefina@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE </b>
<br>
Contact No(s).: (042) 311-1503
<br>
Fax No.: 
<br>
Email Address: <a href="#"></a>
          </td>
              </tr>

              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv-b">Region IV-B</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1406"><b>Mindoro Occidental District Engineering Office</b>
<br>
Mamburao, Mindoro Occidental</a>          </td>
                  <td>
            <b>DE JOSEFINO M. MELGAR, JR	</b>
<br>
Contact No(s): (043) 711-1012	
<br>
Fax No: 
<br>
Email Address: <a href="melgar.josefino_jr.@dpwh.gov.ph">melgar.josefino_jr.@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE SALVADOR E. ABAD</b>
<br>
Contact No(s).: (043) 711-1885
<br>
Fax No.: 
<br>
Email Address: <a href="abad.salvador@dpwh.gov.ph">abad.salvador@dpwh.gov.ph</a>
          </td>
              </tr>

              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv-b">Region IV-B</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1566"><b>Mindoro Oriental District Engineering Office</b>
<br>
Calapan City, Mindoro Oriental</a>          </td>
                  <td>
            <b>DE NESTOR L. DEL ROSARIO	</b>
<br>
Contact No(s): (043) 288-9121 	
<br>
Fax No: 
<br>
Email Address: <a href="delrosario.nestor@dpwh.gov.ph">delrosario.nestor@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE ERWIN DG. UMALI</b>
<br>
Contact No(s).: (043) 288-2365 
<br>
Fax No.: 
<br>
Email Address: <a href="umali.erwin@dpwh.gov.ph">umali.erwin@dpwh.gov.ph</a>
          </td>
              </tr>

              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv-b">Region IV-B</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1569"><b>Palawan I District Engineering Office</b>
<br>
Roxas, Palawan</a>          </td>
                  <td>
            <b>DE AMELIA B. FAJARDO	</b>
<br>
Contact No(s): (048)  723-0339
<br>
Fax No: 
<br>
Email Address: <a href="fajardo.amelia@dpwh.gov.ph">fajardo.amelia@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE EDDIE R. UY (OIC)</b>
<br>
Contact No(s).: 
<br>
Fax No.: 
<br>
Email Address: <a href="uy.eddie@dpwh.gov.ph">uy.eddie@dpwh.gov.ph</a>
          </td>
              </tr>

              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv-b">Region IV-B</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1570"><b>Palawan II District Engineering Office</b>
<br>
National Highway Brgy.Antipuluan, Narra Palawan</a>          </td>
                  <td>
            <b>DE ALEJANDRO M. VENTILACION	</b>
<br>
Contact No(s): (048) 711-1012 	
<br>
Fax No: 
<br>
Email Address: <a href="ventilacion.alejandro@dpwh.gov.ph">ventilacion.alejandro@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE ELMER L. MAYANGITAN</b>
<br>
Contact No(s).: (048) 711-1012 
<br>
Fax No.: 
<br>
Email Address: <a href="mayangitan.elmer@dpwh.gov.ph">mayangitan.elmer@dpwh.gov.ph</a>
          </td>
              </tr>

              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv-b">Region IV-B</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1571"><b>Palawan III District Engineering Office</b>
<br>
Puerto Princesa City</a>          </td>
                  <td>
            <b>DE ROMMEL P. AGUIRRE	</b>
<br>
Contact No(s): (048) 433-7313 	
<br>
Fax No: 
<br>
Email Address: <a href="aguirre.rommel@dpwh.gov.ph">aguirre.rommel@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE ALBINO D. SOCRATES (OIC)</b>
<br>
Contact No(s).: (048) 433-7313 
<br>
Fax No.: 
<br>
Email Address: <a href="socrates.albino@dpwh.gov.ph">socrates.albino@dpwh.gov.ph</a>
          </td>
              </tr>

              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv-b">Region IV-B</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1573"><b>Romblon District Engineering Office</b>
<br>
Odiongan, Romblon</a>          </td>
                  <td>
            <b>DE NAPOLEON S. FAMADICO	</b>
<br>
Contact No(s): (042) 567-5007 	
<br>
Fax No: 
<br>
Email Address: <a href="famadico.napoleon@dpwh.gov.ph">famadico.napoleon@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE ROGER F. DAVID</b>
<br>
Contact No(s).: (042) 567-5178 
<br>
Fax No.: 
<br>
Email Address: <a href="david.roger@dpwh.gov.ph">david.roger@dpwh.gov.ph</a>
          </td>
              </tr>

              <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-iv-b">Region IV-B</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1574"><b>Southern Mindoro District Engineering Office</b>
<br>
Roxas, Mindoro Oriental</a>          </td>
                  <td>
            <b>DE EFREN G. PADILLA </b>
<br>
Contact No(s): (043) 289-3102 	
<br>
Fax No: 
<br>
Email Address: <a href="padilla.efren@dpwh.gov.ph">padilla.efren@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE ANNIELYN E. PADULLO</b>
<br>
Contact No(s).: (043) 289-2565 
<br>
Fax No.: 
<br>
Email Address: <a href="padullo.annielyn@dpwh.gov.ph">padullo.annielyn@dpwh.gov.ph</a>
          </td>
              </tr>
	  </table>

  </div>
  </ion-content>
  </ion-view>