<ion-view view-title="Region VI">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Division</th>
		<th>Address</th>
		<th>Superintendent</th>
		<th>Asst. Superintendent/s</th>
		<th>Contact Number</th>
	  </tr>
	  <tr>
		<td>Aklan</td>
		<td>Kalibo, Aklan</td>
		<td>Kalibo, Aklan</td>
		<td></td>
		<td>(036) 268-3097<br>
268-4235<br>
268-4234 (fax)</td>
	  </tr>
	   <tr>
		<td>Antique</td>
		<td>San Jose, Antique</td>
		<td>Reynaldo G. Gico (OIC)</td>
		<td>Ma. Roselyn J. Palcat</td>
		<td>(036) 540-8987<br>
540-9837(fax)</td>
	  </tr>
		  <tr><td>Capiz</td>
<td >Roxas City</td>
<td >Miguel Mac D. Aposin</td>
<td>Nicasio S. Frio</td>
<td >(036) 621-0974<br>
					621-0059</td>
</tr>
			<tr><td >Guimaras</td>
<td>Jordan, Guimaras</td>
<td>Ma. Luz M. De Los Reyes</td>
<td>Novelyn M. Vilchez (OIC-ASDS)</td>
<td>(033) 237-1612<br>
					581-3055<br>
					237-1032</td>
</tr>
			  <tr><td >Iloilo</td>
<td >Iloilo City</td>
<td>Myrna S. Castillo</td>
<td >Felisa B. Beriong<br>
					Lilibeth T. Estoque (OIC-ASDS)<br>
					Nordy D. Siason, Jr. (OIC-ASDS)</td>
<td >(033) 320-1402<br>
					320-0728<br>
					320-0719</td>
</tr>
		<tr><td >Negros Occidental</td>
<td>Bacolod City, Negros Occidental</td>
<td >Gladys Amylaine D. Sales</td>
<td>---</td>
<td>(034) 435-3960<br>
					433-4479<br>
					434-4479 to 80</td>
</tr>
		<tr><td>Bacolod City</td>
<td >Bacolod City, Negros Occidental</td>
<td>Cynthia G. Demavivas</td>
<td>Michell L. Acoyong (OIC)</td>
<td>(034)433-8841<br>
					434-7603<br>
					433-8842</td>
</tr>
		
				<tr><td>Bago City</td>
<td >Bago City, Negros Occidental</td>
<td>Ma. Lorlinie M. Ortillo</td>
<td>---</td>
<td >(034)461-1246<br>
					461-0744</td>
</tr>
					<tr><td >Cadiz City</td>
<td>Cadiz City, Negros Occidental</td>
<td>Arlene G. Bermejo (OIC)</td>
<td>---</td>
<td>(034)493-1174<br>
					493-0678<br>
					493-0352</td>
</tr>
					<tr><td>Escalante City</td>
<td>Escalante City, Negros Occidental</td>
<td >Salvador D. Ochavo, Jr. (OIC)</td>
<td>---</td>
<td >---</td>
</tr>
<tr><td>Iloilo City</td>
<td >Gen. Luna St., Iloilo City</td>
<td>Clarissa G. Zamora (OIC)</td>
<td>Renato T. Ballesteros</td>
<td>(033) 336-9273<br>
					336-4745<br>
					508-6089</td>
</tr>
<tr><td>Kabankalan City</td>
<td >Kabankalan City, Negros Occidental</td>
<td>Anthony H. Liobet (OIC)</td>
<td >Rogelio P. Amador</td>
<td>(034)471-2454<br>
					471-2003</td>
</tr>
<tr><td>La Carlota City</td>
<td>La Carlota City, Negros Occidental</td>
<td>Portia M. Mallorca</td>
<td>---</td>
<td>(034)460-2571<br>
					460-2253</td>
</tr>
<tr><td>Passi City</td>
<td >Iloilo</td>
<td>Maura F. Pait</td>
<td>Feliciano C. Buenafe, Jr.</td>
<td>(033) 311-5843<br>
					311-6088</td>
</tr>
<tr><td>Roxas City</td>
<td>Arnaldo Blvd., Roxas City</td>
<td>Roel F. Bermejo</td>
<td>Ferdinand S. Sy</td>
<td>(036) 621-0360<br>
					621-2246</td>
</tr>
<tr><td >Sagay City</td>
<td >Sagay City, Negros Occidental</td>
<td>Marsette D. Sabbaluca (OIC)</td>
<td >Azucena T. Falales (OIC-ASDS)</td>
<td>(034)488-0216<br>
					722-9141</td>
</tr>
<tr><td>San Carlos City</td>
<td>San Carlos City, Negros Occidental</td>
<td>Allan B. Yap</td>
<td >Nelly E. Garrote</td>
<td >(034)312-5953</td>
</tr>
<tr><td >Silay City</td>
<td>Silay City, Negros Occidental</td>
<td>Neri Anne M. Alibuyog</td>
<td >Lynee A. Penaflor</td>
<td>(034)495-2763<br>
					495-0161 (fax)<br>
					495-2071</td>
</tr>
	  
	</table>
  </div>
  </ion-content>
  </ion-view>