<ion-view view-title="Regional Offices (I to NCR)">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<h3>Regional Offices (I to NCR)</h3>
	<table class="depttable">
	  <tr>
		<th>Region</th>
		<th>Office Address</th>
		<th>Regional Director</th>
		<th>Asst. Regional Director</th>
		<th>Contact Number</th>
		
	  </tr>
	  <tr>
		<td>Region I</td>
		<td>Flores St., Catbangen, San Fernando City, La Union</td>
		<td>Alma Ruby C. Torio</td>
		<td>Vacant</td>
		<td>(072) 607-8137<br>
			607-8143<br>
			607-8133<br>
			607-8136 (fax)</td>
		
	  </tr>
	  <tr>
		<td>Region II</td>
		<td>Carig, Tuguegarao City, Cagayan</td>
		<td>Estela L. Cariño (OIC)</td>
		<td>Benjamin D. Paragas (OIC-ARD)</td>
		<td>(078) 304-3855<br>
			304-1862<br>
			304-1587<br>
			304-0724<br>
			304-9623<br>
			304-7742 (fax)</td>
		
		</tr>
		
	  <tr>
		<td>Region III</td>
		<td>Maimpis, City of San Fernando, Pampanga</td>
		<td>Malcolm S. Garma (OIC)</td>
		<td>Nicolas T. Capulong (OIC-ARD)</td>
		<td>(045) 961-7825<br>
			860-5212<br>
			455-2311<br>
			455-2312<br>
			455-2309 (fax)</td>
		
		</tr>

		<tr>
		<td>Region IV-A (CALABARZON)</td>
		<td>Karangalan ES, Karangalan Village, Cainta, Rizal</td>
		<td>Diosdado M. San Antonio</td>
		<td>Francis Cesar B. Bringas (OIC-ARD)</td>
		<td>(02) 682-2114<br>
			647-6204<br>
			682-1223 (fax)</td>
		
		</tr>


	 <tr>
		<td>Region IV-B (MIMAROPA)</td>
		<td>Meralco Ave. corner St. Paul Road, Pasig City, Metro Manila</td>
		<td>Gilbert T. Sadsad (OIC)</td>
		<td>Danilo E. Despi (OIC-ARD)</td>
		<td>(02) 631-4070<br>
			637-3139<br>
			637-2897<br>
			637-3446<br>
			637-3093 (fax)</td>
		
		</tr>

	 <tr>
		<td>Region V</td>
		<td>Rawis, Legazpi City</td>
		<td>Ramon Fiel G. Abcede</td>
		<td>Tolentino G. Aquino (OIC-ARD)</td>
		<td>(052) 820-8404<br>
			482-0373<br>
			820-2663<br>
			820-4045<br>
			482-0523<br>
			482-0046 (fax)</td>
		
		</tr>

	 <tr>
		<td>Region VI</td>
		<td>Duran St., Iloilo City</td>
		<td>Gemma M. Ledesma (OIC)</td>
		<td>TVictor G. De Gracia, Jr. (OIC-ARD)</td>
		<td>(033) 336-2816<br>
			509-5971<br>
			509-7653<br>
			337-3892<br>
			335-0207 (fax)</td>
		
		</tr>


	<tr>
		<td>Region VII</td>
		<td>Sudlon, Lahug, Cebu City</td>
		<td>Juliet A. Jeruta (OIC)</td>
		<td>Salustiano T. Jimenez (OIC-ARD)</td>
		<td>(032) 231-1309<br>
			414-7399<br>
			255-4542<br>
			255-1313<br>
			414-7326</td>
		
		</tr>

	<tr>
		<td>Region VIII</td>
		<td>Gov't. Center, Candahug, Palo, Leyte</td>
		<td>Ramir B. Uytico (OIC)</td>
		<td>Fiel Y. Almendra</td>
		<td>(053) 323-7031<br>
			524-9120<br>
			323-6075<br>
			323-3156 (fax)</td>
		
		</tr>

	<tr>
		<td>Region IX</td>
		<td>Tiguma, Airport Road, Pagadian City</td>
		<td>Isabelita M. Borres</td>
		<td>Vacant</td>
		<td>(062) 925-2275<br>
			215-3785<br>
			215-3789</td>
		
		</tr>


	<tr>
		<td>Region X</td>
		<td>Masterson Avenue, Zone 1, Upper Bulalang, Cagayan de Oro City</td>
		<td>Allan G. Farnazo</td>
		<td>Atty. Shirley O. Chatto (OIC-ARD)</td>
		<td>(088) 880-7071<br>
			880-7072<br>
			880-2087<br>
			852-2023</td>
		
		</tr>


	<tr>
		<td>Region XI</td>
		<td>F. Torres St., Davao City</td>
		<td>Atty. Alberto T. Escobarte</td>
		<td>Teresita G. Tambagan (OIC-ARD)</td>
		<td>(082) 227-9342<br>
			227-1102<br>
			291-1665<br>
			221-6147<br>
			221-8459</td>
		
		</tr>

	<tr>
		<td>Region XII</td>
		<td>Carpenter Hill, Koronadal City</td>
		<td>Arturo B. Bayocot (OIC)</td>
		<td>Evelyn R. Fetalvero (OIC-ARD)</td>
		<td>(083) 228-8825<br>
			520-0421<br>
			228-9753</td>
		
		</tr>

	<tr>
		<td>Region XIII (CARAGA)</td>
		<td>Km. 3, Libertad St., Butuan City</td>
		<td>Beatriz G. Torno (OIC)</td>
		<td>Fidela M. Rosas (OIC-ARD)</td>
		<td>(085) 342-6267<br>
			342-8207<br>
			342-0302<br>
		 	342-5969<br>
		 	342-2198<br>
		 	815-2021<br>
		 	342-6267</td>
		
		</tr>


	<tr>
		<td>CAR</td>
		<td>Wangal, La Trinidad, Benguet</td>
		<td>May B. Eclar (OIC)</td>
		<td>Bettina D. Aquino</td>
		<td>(074) 422-1318<br>
			309-3013<br>
			422-1804<br>
		 	422-4074 (fax)</td>
		
		</tr>

	<tr>
		<td>NCR</td>
		<td>Misamis St., Bago Bantay, Quezon City</td>
		<td>Wilfredo E. Cabral (OIC)</td>
		<td></td>
		<td>(02) 920-5824<br>
			921-4274<br>
			928-0104<br>
			929-4212<br>
			926-9256<br>
		 	453-8374 (fax)</td>
		
		</tr>


		
	  
	</table>

	<h3>Regional Office (ARMM)
</h3>

<table class="depttable">
	  <tr>
		<th>Region</th>
		<th>Office Address</th>
		<th>Regional Secretary</th>
		<th>Asst. Regional Secretary</th>
		<th>Undersecretary (Madrasah Education)</th>
		<th>Contact Number</th>
		
	  </tr>

<tr>
		<td>ARMM</td>
		<td>Cotabato City</td>
		<td>John A. Magno</td>
		<td>Macalinog I. Saligoin</td>
		<td>Ustadz Alzad Sattar</td>
		<td>(064) 390-1465<br>
			421-9682<br>
			421-9687<br>
			390-1458<br>
			421-3838 (fax)</td>
		
		</tr>


	</table>


  </div>
  </ion-content>
  </ion-view>