<ion-view view-title="Region XII">
	
 <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"  on-swipe-right="hideTime = true" data-ng-init="init()">
 
<div style="overflow-x:auto;">
	<table class="depttable">
	 <tr>
		<th>Division</th>
		<th>Address</th>
		<th>Superintendent</th>
		<th>Asst. Superintendent/s</th>
		<th>Contact Number</th>
		
	 </tr>
	<tr>
		<td>Cotabato</td>
		<td>Kidapawan City, Cotabato</td>
		<td>Omar A. Obas</td>
		<td>Miguel P. Fillalan, Jr.<br>
							Natividad G. Ocon</td>
		<td>(064) 288-1799<br>
							278-7017<br>
							278-7016</td>
	</tr>
	<tr>
		<td>Saranggani</td>
		<td>Alabel, Saranggani</td>
		<td>Crispin A. Soliven, Jr. (OIC)</td>
		<td>Diosdado F. Ablanido</td>
		<td>(083) 508-2029</td>
	</tr>
	<tr>
		<td>South Cotabato</td>
		<td>Alunan Ave., Koronadal City</td>
		<td>Isagani S. Dela Cruz</td>
		<td>Mario M. Madrero (OIC-ASDS)</td>
		<td>(083) 228-3801</td>
	</tr>
	<tr>
		<td>Sultan Kudarat</td>
		<td>Tacurong City, Sultan Kudarat</td>
		<td>Raphael C. Fontanilla</td>
		<td>Ruth L. Estacio</td>
		<td>(064) 200-3672<br>
							200-6255<br>
							200-7632 (fax)</td>
	</tr>
	<tr>
		<td>Cotabato City</td>
		<td>Cotabato City</td>
		<td>Concepcion F. Balawag (OIC)</td>
		<td>Edgar S. Sumapal (OIC-ASDS)</td>
		<td>(064) 421-4854</td>
	</tr>
	<tr>
		<td>General Santos City</td>
		<td>Gen. Santos City</td>
		<td>Gildo G. Mosqueda</td>
		<td>Mario M. Bermudez</td>
		<td>(083) 552-8909<br>
							552-8907</td>
	</tr>
	<tr>
		<td>Kidapawan City</td>
		<td>Kidapawan City</td>
		<td>Romelito G. Flores (OIC)</td>
		<td>Jasmin P. Isla (OIC-ASDS)</td>
		<td>(064) 278-4144</td>
	</tr>
	<tr>
		<td>Koronadal City</td>
		<td>Koronadal City</td>
		<td>Kahar H. Macasayon</td>
		<td>Roberto J. Montero (OIC-ASDS)</td>
		<td>(083) 228-9705<br>
							228-2437</td>
	</tr>
	<tr>
		<td>Tacurong City</td>
		<td>Tacurong City</td>
		<td>Leonardo M. Balala (OIC)</td>
		<td>Levi B. Butihen(OIC-ASDS)</td>
		<td>(064) 200-6093 (fax)</td>
	</tr>
	</table>
 </div>
 </ion-content>
 </ion-view>