<ion-view view-title="Region XI">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable" border="2">
		 		<tr>
					<th>Region</th>
					<th>Location</th>
					<th>Regional Director</th>
					<th>Asst. Regional Director</th>
				</tr>

		  		<tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-xi">Region XI</a></td>
					<td>Ramon Magsaysay Avenue, Davao City	</td>
					<td><strong>RD ALLAN S. BORROMEO </strong><br>
					Contact No(s).: (082) 226-9302 (local 75002)	<br>
					Fax No.: (082) 226-9370	<br>
					Email:<b>borromeo.allan@dpwh.gov.ph</b>
					</td>

					<td><strong>ARD ZENAIDA T. TAN </strong><br>
							Contact No(s).: (082) 226-9306 (local 75006)	<br>
							Fax No.:<br>
							Email:<b>tan.zenaida@dpwh.gov.ph</b>
					</td>
			    </tr>
	</table>

<br><br>
	<table class="depttable"  border="2">
	  <tr>
		<th>Region</th>
		<th>Office</th>
		<th>District Engineer </th>
		<th>Asst. District Engineer</th>
		
	  </tr>

	  <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xi">Region XI</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1414"><b>Compostela Valley District Engineering Office </b></a><br>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1414">Humabon St., Purok 18 Poblacion Nabunturan, Compostela Valley	</a>
					</td>
					<td><strong>DE JOSELITO B. CABALLERO </strong><br>
					Contact No(s): (084) 376-1040 <br>
					Fax No: <br>
					Email Address: <br>
					<b>caballero.joselito@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE MINDA R. ROSLINDA (OIC)</strong><br>
							Contact No(s).: (084) 376-1040 <br>
							Fax No.: <br>
							Email Address:<br>
							<b>roslinda.minda@dpwh.gov.ph</b>
					</td>
			    </tr>



	    <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xi">Region XI</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1641"><b>Davao City I District Engineering Office </b></a><br>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1641">L.M. Guerrero St., Davao City</a>
					</td>
					<td><strong>DE WILFREDO G. AGUILAR (OIC)	</strong><br>
					Contact No(s): (082) 221-6444 <br>
					Fax No: (082) 221-6444<br>
					Email Address: <br>
					<b>aguilar.wilfredo@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE MILAGROS E. DELOS REYES (OIC) </strong><br>
							Contact No(s).: (082) 226-4775<br>
							Fax No.: <br>
							Email Address:<br>
							<b>delosreyes.milagros@dpwh.gov.ph</b>
					</td>
			    </tr>




			       <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xi">Region XI</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1642"><b>Davao City 2nd District Engineering Office</b></a><br>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1642">Tirol St., Tugbok, Davao City</a>
					</td>
					<td><strong>DE GENE P. LOZANO	</strong><br>
					Contact No(s): (082) 293-1232<br>
					Fax No: (082) 293-0551 <br>
					Email Address: <br>
					<b>lozano.gene@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE EDWARD R. SEVILLA (OIC) </strong><br>
							Contact No(s).: (082) 234-0478<br>
							Fax No.: <br>
							Email Address:<br>
							<b>sevilla.edward@dpwh.gov.ph</b>
					</td>
			    </tr>



			     <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xi">Region XI</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1643"><b>Davao del Norte District Engineering Office </b></a><br>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1643">Km.48 Brgy. Canocotan,Tagum City Davao del Norte</a>
					</td>
					<td><strong>DE NOEL C. BASAÑES (OIC)	</strong><br>
					Contact No(s): (084) 400-3678<br>
					Fax No:<br>
					Email Address: <br>
					<b>basanes.noel@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE DANIEL A. JARAVATA </strong><br>
							Contact No(s).: (084) 400-3678<br>
							Fax No.: <br>
							Email Address:<br>
							<b>jaravata.daniel@dpwh.gov.ph</b>
					</td>
			    </tr>



			     <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xi">Region XI</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1644"><b>Davao del Sur District Engineering Office </b></a><br>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1644">Lapu-Lapu St., Brgy. Zone 3, Digos City, Davao del Sur</a>
					</td>
					<td><strong>DE NICOMEDES D. PARILLA, JR. </strong><br>
					Contact No(s): (082) 553-6465 <br>
					Fax No: (082) 553-6465<br>
					Email Address: <br>
					<b>parillajr.nicomedes@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE MARIA THERESA R. LUCABERTE (OIC) </strong><br>
							Contact No(s).: (082) 553-6465<br>
							Fax No.: <br>
							Email Address:<br>
							<b>lucaberte.maria_teresa@dpwh.gov.ph</b>
					</td>
			    </tr>


			    <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xi">Region XI</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1645"><b>Davao Occidental District Engineering Office </b></a><br>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1645">National Highway, Brgy. Buhangin, Malita, Davao del Sur</a>
					</td>
					<td><strong>DE EMEDIO C. ONTAL (OIC) </strong><br>
					Contact No(s): (087) 318-1598<br>
					Fax No:<br>
					Email Address: <br>
					<b>ontal.emedio@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE RODRIGO C. LARETE </strong><br>
							Contact No(s).: (087) 318-0372 <br>
							Fax No.: <br>
							Email Address:<br>
							<b>larete.rodrigo@dpwh.gov.ph</b>
					</td>
			    </tr>



			     <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xi">Region XI</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1646"><b>Davao Oriental 1st District Engineering Office </b></a><br>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1646">Baganga, Davao Oriental</a>
					</td>
					<td><strong>DE ALBERTO L. CAINGHOG </strong><br>
					Contact No(s): (082) 298-3736<br>
					Fax No:<br>
					Email Address: <br>
					<b>cainghog.alberto@dpwh.gov.ph</b>
					</td>

					<td><strong>ADE CIRILO M. LASACA (OIC)  </strong><br>
							Contact No(s).: (082) 234-4622 <br>
							Fax No.: <br>
							Email Address:<br>
							<b>lasaca.cirilo@dpwh.gov.ph</b>
					</td>
			    </tr>



			     <tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xi">Region XI</a></td>
					<td><a href="http://www.dpwh.gov.ph/dpwh/node/1647"><b>Davao Oriental 2nd District Engineering Office </b></a><br>
									<a href="http://www.dpwh.gov.ph/dpwh/node/1647">Mati-ao, City of Mati, Davao Oriental</a>
					</td>
					<td><strong>DE CYNTHIA GRACE C. TIU (OIC)	</strong><br>
					Contact No(s): (087) 811-1073 <br>
					Fax No: (087) 811-1073 <br>
					Email Address: <br>
					<b>tiu.cynthia_grace@dpwh.gov.ph	</b>
					</td>

					<td><strong>ADE JANE D. CAINGHOG (OIC) </strong><br>
							Contact No(s).: (087) 811-1073<br>
							Fax No.: <br>
							Email Address:<br>
							<b>cainghog.jane@dpwh.gov.ph</b>
					</td>
			    </tr>





		
		
	 


	</table>
  </div>
  </ion-content>
  </ion-view>
