<ion-view view-title="Region XII">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable" border="2">
		 		<tr>
					<th>Region</th>
					<th>Location</th>
					<th>Regional Director</th>
					<th>Asst. Regional Director</th>
				</tr>

		  		<tr>
					<td><a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-xii">Region XII</a></td>
					<td>Mabini St. corner Alunan Avenue, Korondal City	</td>
					<td><strong>RD BASIR M. IBRAHIM </strong><br>
					Contact No(s).: (083)228-3908	<br>
					Fax No.: (083)228-9577		<br>
					Email:<b> ibrahim.basir@dpwh.gov.ph</b>
					</td>

					<td><strong>ARD ROSIE C. JAVATE </strong><br>
							Contact No(s).: (083)228-9577<br>
							Fax No.:<br>
							Email:<b>javate.rosie@dpwh.gov.ph</b>
					</td>
			    </tr>
	</table>
<br><br>

<table class="depttable"  border="2">
         <thead>
     		 <tr>
                  <th>Region</th>
                  <th>  Office   </th>
          
                  <th>
            District Engineer          </th>
                  <th>
            Asst. District Engineer          </th>
              </tr>
    </thead>
    <tbody>
          <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xii"> Region XII</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1415"><b>North Cotabato 1st District Engineering Office</b>
<br>
Kidapawan City, North Cotabato</a>          </td>
                  <td>
            <b>DE ELPIDIO A. BIROG</b>
<br>
Contact No(s): (064) 288-1633
<br>
Fax No: (064) 278-3315
<br>
Email Address: <a href="mailto:birog.elpidio@dpwh.gov.ph">birog.elpidio@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE SUNDAY B. GUDITO</b>
<br>
Contact No(s).: (064) 288-1633
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:gudito.sunday@dpwh.gov.ph">gudito.sunday@dpwh.gov.ph</a>
          </td>
              </tr>





          <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xii">Region XII</a></td>

                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1634"><b>North Cotabato 2nd District Engineering Office</b>
<br>
Villarica, Midsayap, North Cotabato</a>          </td>
                  <td>
            <b>DE ELISEO L. OTOC (OIC)</b>
<br>
Contact No(s): (064) 229-8494 	
<br>
Fax No: (064) 229-8925 	
<br>
Email Address: <a href="mailto:otoc.eliseo@dpwh.gov.ph">otoc.eliseo@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE BARTOLOME T. PAGADUAN, SR.</b>
<br>
Contact No(s).: (064) 229-8494 
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:pagaduan.bartolome@dpwh.gov.ph">pagaduan.bartolome@dpwh.gov.ph</a>
          </td>
              </tr>

          <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xii">Region XII</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1635"><b>Cotabato City District Engineering Office</b>
<br>
Ramon H. Rabago Sr. Motorpool Access Road, Cotabato City</a>          </td>
                  <td>
            <b>DE MARLO P. DE GUIA (OIC)	</b>
<br>
Contact No(s): (064) 421-2206 	
<br>
Fax No: 
<br>
Email Address: <a href="mailto:deguia.marlo@dpwh.gov.ph">deguia.marlo@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE USMAN A. BARAGUIR</b>
<br>
Contact No(s).: (064) 421-2206 
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:baraguir.usman@dpwh.gov.ph">baraguir.usman@dpwh.gov.ph</a>
          </td>
              </tr>



          <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xii">Region XII</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1636"><b>Sarangani District Engineering Office</b>
<br>
Alabel, Sarangani Province</a>          </td>
                  <td>
            <b>DE JONATHAN G. BANTUG (OIC)	</b>
<br>
Contact No(s): (083) 554-2530 	
<br>
Fax No: (083)554-2545 	
<br>
Email Address: <a href="mailto:bantug.jonathan@dpwh.gov.ph">bantug.jonathan@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE MARY JOY S. LOZADA (OIC)</b>
<br>
Contact No(s).: (083) 554-2530 
<br>
Fax No.: (083)554-2545 
<br>
Email Address: <a href="mailto:lozada.mary_joy@dpwh.gov.ph">lozada.mary_joy@dpwh.gov.ph</a>
          </td>
              </tr>



          <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xii">Region XII</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1637"><b>South Cotabato 1st District Engineering Office</b>
<br>
Koronadal City, South Cotabato</a>          </td>
                  <td>
            <b>DE EDDIE M. AMIR	</b>
<br>
Contact No(s): (083) 228-2334 	
<br>
Fax No: (083) 228-2334 	
<br>
Email Address: <a href="mailto:amir.eddie@dpwh.gov.ph">amir.eddie@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE SORAYYAH M. IBRAHIM</b>
<br>
Contact No(s).: (083) 228-2334 
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:ibrahim.soray'yah@dpwh.gov.ph">ibrahim.soray'yah@dpwh.gov.ph</a>
          </td>
              </tr>
          <tr>
                  <td>
            <a href= "http://www.dpwh.gov.ph/dpwh/directory/region/region-xii">Region XII</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1638"><b>South Cotabato 2nd District Engineering Office</b>
<br>
General Santos City (former South Cotabato Sub-District Engineering Office)</a>          </td>
                  <td >
            <b>DE REY V. FRANCISCO	</b>
<br>
Contact No(s): (083) 553-1428 	
<br>
Fax No: (083) 553-1428 	
<br>
Email Address: <a href="mailto:francisco.rey@dpwh.gov.ph">francisco.rey@dpwh.gov.ph</a>          </td>
                  <td >
            <b>ADE ELSA URMENITA</b>
<br>
Contact No(s).: (083) 553-1428 
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:urmenita.elsa@dpwh.gov.ph">urmenita.elsa@dpwh.gov.ph</a>
          </td>
              </tr>
          <tr class="odd">
                  <td>
            <a href=" http://www.dpwh.gov.ph/dpwh/directory/region/region-xii">Region XII</a>          </td>
                  <td >
            <a href="http://www.dpwh.gov.ph/dpwh/node/1639"><b>Sultan Kudarat 1st District Engineering Office</b>
<br>
Isulan, Sultan Kudarat</a>          </td>
                  <td>
            <b>DE ALAN D. ARUMPAC, CSEE	</b>
<br>
Contact No(s): (064) 201-3131 	
<br>
Fax No: (064) 471-0201 	
<br>
Email Address: <a href="mailto:arumpac.alan@dpwh.gov.ph">arumpac.alan@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE AMER T. PUNDAG</b>
<br>
Contact No(s).: (064) 201-3131 
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:pundag.amer@dpwh.gov.ph">pundag.amer@dpwh.gov.ph</a>
          </td>
              </tr>


          <tr>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xii" >Region XII</a>          </td>
                  <td class="views-field views-field-field-dir-district-office">
            <a href="http://www.dpwh.gov.ph/dpwh/node/1640"><b>Sultan Kudarat 2nd District Engineering Office</b>
<br>
Lebak, Sultan Kudarat</a>          </td>
                  <td>
            <b>DE MAMINTAL T. TAHA	</b>
<br>
Contact No(s): (064) 205-3606 	
<br>
Fax No: (064) 205-3607 	
<br>
Email Address: <a href="mailto:taha.mamintal@dpwh.gov.ph">taha.mamintal@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE ELISEO L. OTOC</b>
<br>
Contact No(s).: (064) 205-3606 
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:otoc.eliseo@dpwh.gov.ph">otoc.eliseo@dpwh.gov.ph</a>
          </td>
              </tr>
      </tbody>
</table>
  </div>
  </ion-content>
  </ion-view>
