<ion-view view-title="Region VIII">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Division</th>
		<th>Address</th>
		<th>Superintendent</th>
		<th>Asst. Superintendent/s</th>
		<th>Contact Number</th>
	  </tr>
	  <tr>
	  <td >Biliran</td>
<td >Naval, Leyte</td>
<td >Pedro T. Escobarte, Jr.</td>
<td >Judella R. Lumpas (OIC-ASDS)</td>
<td >(053) 500-9280<br>
					500-9279 (telefax)</td>
</tr>
<tr>
<td >Eastern Samar</td>
<td >Borongan, Samar</td>
<td >Judith C. Boco (OIC)</td>
<td >Elena S. De Luna (OIC-ASDS)</td>
<td >(055) 261-2027<br>
					560-9193 (telefax)</td>
</tr>
<tr>
<td >Leyte</td>
<td >Tacloban City</td>
<td >Ronelo Al K. Firmo</td>
<td >Edgar Y. Tenasas (OIC-ASDS)<br>
					Marilyn B. Siao&nbsp;(OIC-ASDS)</td>
<td >(053) 341-1708<br>
					323-3553<br>
					323-7645<br>
					341-1708 (fax)</td>
</tr>
<tr>
<td >Northern Samar</td>
<td >Catarman, N. Samar</td>
<td >Bernardo A. Adina (OIC)</td>
<td >Moises D. Labian, Jr. (OIC-ASDS)</td>
<td >(055) 500-9037<br>
					500-9038 (telefax)</td>
</tr>
<tr>
<td >Samar (Western)</td>
<td >Catbalogan, Samar</td>
<td >Mariza S. Magan</td>
<td >Mario Rodgie R. Sombilon</td>
<td >(055) 251-6089<br>
					251-2595 (telefax)</td>
</tr>
<tr>
<td >Southern Leyte</td>
<td >Maasin, Southern Leyte</td>
<td >Genis S. Murallos</td>
<td >Margarito A. Cadayona, Jr. (OIC-ASDS)</td>
<td >(053) 381-3835<br>
					570-8933<br>
					570-8930 (telefax)</td>
</tr>
<tr>
<td >Baybay City</td>
<td >---</td>
<td >Carmela R. Tamayo (OIC)</td>
<td >Sherlita A. Palma (OIC-ASDS)</td>
<td >---</td>
</tr>
<tr>
<td >Borongan City</td>
<td >Borongan City</td>
<td >Gorgonio G. Diaz, Jr. (OIC)</td>
<td >Gaudencio C. Aljibe, Jr. (OIC-ASDS)</td>
<td >---</td>
</tr>
<tr>
<td >Calbayog City</td>
<td >Calbayog City</td>
<td >Raul D. Agban (OIC)</td>
<td >Joel A. Zartiga (OIC-ASDS)</td>
<td >(055) 209-3368<br>
					209-1639 (telefax)</td>
</tr>
<tr>
<td >Catbalogan City</td>
<td >Catbalogan City</td>
<td >Cristito A. Eco</td>
<td >Francis Angelo S. Gelera (OIC-ASDS)</td>
<td >---</td>
</tr>
<tr>
<td >Maasin City</td>
<td >Maasin City</td>
<td >Carmelino P. Bernadas (OIC)</td>
<td >Generosa C. Genosa (OIC-ASDS)</td>
<td >(053) 570-8066 (telefax)</td>
</tr>
<tr>
<td >Ormoc City</td>
<td >Ormoc City</td>
<td >Manuel P. Albaño</td>
<td >Lani H. Cervantes</td>
<td >(053) 561-9399 (telefax)<br>
					255-5919</td>
</tr>
<tr>
<td >Tacloban City</td>
<td >Tacloban City</td>
<td >Thelma C. Quitalig</td>
<td >Carmelino P. Bernadas</td>
<td >(053) 325-9201<br>
					325-2002<br>
					321-3207 (fax)</td>
</tr>
	</table>
  </div>
  </ion-content>
  </ion-view>