<ion-view view-title="Region X">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Division</th>
		<th>Address</th>
		<th>Superintendent</th>
		<th>Asst. Superintendent/s</th>
		<th>Contact Number</th>
		
	  </tr>
	<tr>
		<td>Bukidnon</td>
		<td>Malaybalay, Bukidnon</td>
		<td>Cherry Mae L. Limbago</td>
		<td>Edgardo V. Abanil (OIC-ASDS)
			Shambaeh A. Usman (OIC-ASDS)</td>
		<td>(088) 221-2452<br><br>
			813-3634</td>
	</tr>
	<tr>
		<td>Camiguin</td>
		<td>Mambajao, Camiguin</td>
		<td>Reynaldo E. Manuel (OIC)</td>
		<td>Conniebel C. Nistal (OIC-ASDS)</td>
		<td>(088) 387-0094</td>
	 </tr>
	 <tr>
		<td>Lanao del Norte</td>
		<td>Tobod, Lanao del Norte</td>
		<td>Roy Angelo E. Gazo</td>
		<td>Mary Ann M. Allera (OIC-ASDS)</td>
		<td>(063) 341-5655<br><br>
			341-5244 </td>
	</tr>

		
		<tr>
			<td>Misamis Occidental</td>
			<td>Oroquieta City</td>
			<td>Emmalinda E. Duhaylungsod</td>
			<td>Edwin R. Maribojoc	</td>
			<td>(088) 531-1145<br><br>
				531-1872<br><br>
				531-2144</td>
		</tr>

	<tr>
		<td>Misamis Oriental</td>
		<td>Cagayan de Oro City</td>
		<td>Randolph B. Tortola</td>
		<td>Rowena H. Para-on (OIC-ASDS)</td>
		<td>(088) 856-4524<br><br>
					856-4454<br><br>
					(08822)724-615</td>
	</tr>
		
		<tr>
			<td>Cagayan de Oro City</td>
			<td>Cagayan de Oro City</td>
			<td>Jonathan S. Dela Peña</td>
			<td>Alicia E. Anghay (OIC-ASDS)</td>
			<td>(08822) 722-633<br><br>
				711-762</td>
		</tr>
		
		<tr>
			<td>El Salvador City</td>
			<td>El Salvador City</td>
			<td>Agustines E. Cepe (OIC)</td>
			<td>---</td>
			<td>---</td>
		</tr>
		<tr>
			<td>Gingoog City</td>
			<td>Gingoog City</td>
			<td>Myrna T. Castaños</td>
			<td>Olga C. Alonsabe (OIC-ASDS)</td>
			<td>(088) 861-1446</td>
		</tr>
		 <tr>
		 	<td>Iligan City</td>
			<td>Iligan City</td>
			<td>Elena M. Borcillo</td>
			<td>Nympha R. Lago (OIC-ASDS)</td>
			<td>(063) 221-3815<br><br>
				221-6069<br><br>
				223-2255</td>
		</tr>
		<tr>
			<td>Malaybalay City</td>
			<td>Malaybalay City</td>
			<td>Edilberto L. Oplenaria (OIC)</td>
			<td>Sunny Ray F. Amit (OIC-ASDS)</td>
			<td>---</td>
		</tr>
		<tr>
			<td>Oroquieta City</td>
			<td>Oroquieta City</td>
			<td>Jesnar Dems S. Torres (OIC)</td>
			<td>---</td>
			<td>(085) 531-0035</td>
		</tr>
		<tr>
			<td>Ozamis City</td>
			<td>Ozamis City</td>
			<td>Rebonfamil R. Baguio</td>
			<td>Audie S. Borres (OIC-ASDS)</td>
			<td>(088) 521-3317<br><br>
					521-1105<br><br>
					521-2878</td>
		</tr>
		<tr>
			<td>Tangub City</td>
			<td>Tangub City</td>
			<td>Jean G. Veloso</td>
			<td>Rosemarie T. Macesar (OIC-ASDS)</td>
			<td>---</td>
		</tr>
		<tr>
			<td>Valencia City</td>
			<td>Valencia City</td>
			<td>Victoria V. Gazo</td>
			<td>Eugene I. Macahis (OIC-ASDS)</td>
			<td>(0916) 264-1608</td>
		</tr>
	  
	</table>
  </div>
  </ion-content>
  </ion-view>