<ion-view view-title="Region IX">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Division</th>
		<th>Address</th>
		<th>Superintendent</th>
		<th>Asst. Superintendent/s</th>
		<th>Contact Number</th>
		
	  </tr>
	  <tr>
		<td>Zamboanga del Norte</td>
		<td>Dipolog City</td>
		<td>Pedro Melchor M. Natividad (OIC)</td>
		<td>Virgilio P. Batan, Jr. (OIC-ASDS)
Filma B. Catalan (OIC-ASDS)</td>
		<td>(065) 212-2607<br><br>
			212-9644<br><br>
			212-2603<br><br>
			
			212-5843(fax)</td>
	 </tr>
		  <tr>
		<td>Zamboanga del Sur</td>
		<td>Pagadian City</td>
		<td>Jeanelyn A. Aleman</td>
		<td>Danny B. Cordova (OIC-ASDS)
Judith V. Romaguera (OIC-ASDS)</td>
		<td>(062) 214-3575<br><br>
			214-2579<br><br>
			214-1991<br><br>
			215-3873<br><br>
			214-1991 (telefax)</td>
	 </tr>
	 <tr>
			<td>Zamboanga Sibugay</td>
			<td>Zamboanga Sibugay</td>
			<td>Natividad P. Bayubay (OIC)</td>
			<td>Oliver B. Talaoc (OIC-ASDS)</td>
			<td>(062) 333-5492<br><br>
				333-5534 </td>
		</tr>

		
		<tr>
			<td>Dapitan City</td>
			<td>Dapitan City</td>
			<td>Roy C. Tuballa (OIC)</td>
			<td>Lourma I. Poculan (OIC-ASDS)</td>
			<td>(065) 213-6947<br><br>
				213-6216<br><br>
				213-6227 (telefax)</td>
		</tr>

		<tr>
			<td>Dipolog City</td>
			<td>Dipolog City</td>
			<td>Ma. Liza R. Tabilon (OIC)</td>
			<td>Jay S. Montealto (OIC-ASDS)</td>
			<td>(065) 212-3824<br><br>
				212-2777<br><br>
				212-6986(telefax)</td>
		</tr>
		<tr>
			<td>Isabela City</td>
			<td>Ulbert Ulama St.,<br>
			 Isabela City, <br>
			 Basilan</td>
			<td>Hilda U. Babon</td>
			<td>Concordia E. Busadre (OIC-ASDS)</td>
			<td>(062) 200-3871<br><br>
				200-3967<br><br>
				200-3775 (fax)</td>
		</tr>
		<tr>
			<td>Pagadian City</td>
			<td>Pagadian City</td>
			<td>Majarini M. Jacinto    (OIC)</td>
			<td>Maria Madelene P. Mituda (OIC-ASDS)</td>
			<td>(062) 214-4143 <br><br>
				(telefax)<br><br>
				 215-3060</td>
		</tr>
		<tr>
			<td>Zamboanga City</td>
			<td>Zamboanga City</td>
			<td>Felix Romy A. Triambulo (OIC)</td>
			<td>Julieto H. Fernandez (OIC-ASDS)</td>
			<td>(062) 992-4267 <br><br>
				992-2470<br><br>
				993-1514 (fax)</td>
		</tr>
			

	  
	</table>
  </div>
  </ion-content>
  </ion-view>