<ion-view view-title="Region II">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Division</th>
		<th>Address</th>
		<th>Superintendent</th>
		<th>Asst. Superintendent/s</th>
		<th>Contact Number</th>
		
	  </tr>
	 <tr><td >Batanes</td>
<td >Basco, Batanes</td>
<td >Reynante Z. Caliguiran (OIC)</td>
<td >Rachel R. Llana (OIC-ASDS)</td>
<td >---</td>
</tr><tr><td >Cagayan</td>
<td >Lingu, Solana, Cagayan</td>
<td >Leila P. Areola (OIC)</td>
<td >Marites L. Llanes (OIC-ASDS)<br>
					Benito S. Alipio, Jr. (OIC-ASDS)</td>
<td >(078) 304-0474<br>
					501-0336</td>
</tr><tr><td >Isabela</td>
<td >Ilagan, Isabela</td>
<td >Jessie L. Amin</td>
<td >Jesus B. Maggay<br>
					Edna P. Abuan</td>
<td >(078) 622-2563<br>
					624-2015</td>
</tr><tr><td >Nueva Vizcaya</td>
<td >Bayombong, Nueva Vizcaya</td>
<td >Flordeliza C. Gecobe (OIC)</td>
<td >Eduardo C. Escorpiso, Jr. (OIC-ASDS)</td>
<td >(078) 321-2169<br>
					805-1047<br>
					805-1049</td>
</tr><tr><td >Quirino</td>
<td >Cabarroguis, Quirino</td>
<td >Orlando E. Manuel</td>
<td >Samuel R. Soliven (OIC-ASDS)</td>
<td >(078) 692-5019</td>
</tr><tr><td >Cauayan City</td>
<td >Cauayan City</td>
<td >Gilbert N. Tong</td>
<td >Madelyn L. Macalling (OIC-ASDS)</td>
<td >(078) 652-1614</td>
</tr><tr><td >Ilagan City</td>
<td >Ilagan City</td>
<td >Cherry S. Ramos (OIC)</td>
<td >Vilma C. Cabrera (OIC-ASDS)</td>
<td >---</td>
</tr><tr><td >Santiago City</td>
<td >Santiago City</td>
<td >Florante E. Vergara (OIC)</td>
<td >Dante J. Marcelo (OIC-ASDS)</td>
<td >(078) 305-2016</td>
</tr><tr><td >Tuguegarao City</td>
<td >Tuguegarao City, Cagayan</td>
<td >Denizon P. Domingo (OIC)</td>
<td >Alfredo B. Gumaru(OIC-ASDS)</td>
<td >(078) 304-7767</td>
</tr>

	  
	</table>
  </div>
  </ion-content>
  </ion-view>