<ion-view view-title="Region VIII">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Region</th>
		<th>Location</th>
		<th>Regional Director</th>
		<th>Asst. Regional Director</th>
		
	  </tr>

	 <tr>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-viii">Region VIII</a></td>
                  <td>Government Center, Baras, Palo, Leyte</td>
                  <td><b>RD EDGAR B. TABACON </b><br>
						Contact No(s).: (053) 323-1004<br>
						Fax No.: (053) 323-3121	<br>
		Email: <a href="mailto:tabacon.edgar@dpwh.gov.ph">tabacon.edgar@dpwh.gov.ph</a>          </td>
                  <td><b>ARD ERIC A. AYAPANA</b><br>
						Contact No(s).: (053) 323-1002<br>
						Fax No.: (053) 323-3122	<br>
					Email: <a>ayapana.eric@dpwh.gov.ph</a></td>
              </tr>		

	  
	</table><br><br><br>
	<table class="depttable">
	  <tr>
		<th>Region</th>
		<th>Office</th>
		<th>District Engineer</th>
		<th>Asst. District Engineer</th>
		
		
	  </tr>

	  
          <tr>
                  <td><a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-viii">Region VIII></a></td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1411"><b>Biliran District Engineering Office</b>
<br>
Naval, Biliran</a>          </td>
                  <td>
            <b>DE DAVID P. ADONGAY, JR.</b>
<br>
Contact No(s): (053) 500-9099, (053) 500-9097
<br>
Fax No: (053) 500-9097
<br>
Email Address: <a href="mailto:adongay.david@dpwh.gov.ph">adongay.david@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE ALFREDO L. BOLLIDO (OIC)</b>
<br>
Contact No(s).: (053) 500-9097
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:bollido.alfredo@dpwh.gov.ph">bollido.alfredo@dpwh.gov.ph</a>
          </td>
              </tr>
          <tr >
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-viii">Region VIII</a>          </td>
                  <td >
            <a href="http://www.dpwh.gov.ph/dpwh/node/1667"><b>Eastern Samar District Engineering Office</b>
<br>
Borongan, Eastern Samar</a>          </td>
                  <td>
            <b>DE MANOLO A. ROJAS	</b>
<br>
Contact No(s): (055) 560-9423 	
<br>
Fax No: (055) 261-2196 	
<br>
Email Address: <a href="mailto:rojas.manolo@dpwh.gov.ph">rojas.manolo@dpwh.gov.ph</a>          </td>
                  <td >
            <b>ADE RUDYARD M. LIM</b>
<br>
Contact No(s).: (055) 261-2196 
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:lim.rudyard@dpwh.gov.ph">lim.rudyard@dpwh.gov.ph</a>
          </td>
              </tr>
          <tr>
                  <td >
            <a  href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-viii">Region VIII</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1668"><b>Leyte 1st District Engineering Office</b>
<br>
Tacloban City</a>          </td>
                  <td >
            <b>DE JOHNNY M. ACOSTA </b>
<br>
Contact No(s): (053)832-4896 	
<br>
Fax No: 
<br>
Email Address: <a href="mailto:acosta.johnny@dpwh.gov.ph">acosta.johnny@dpwh.gov.ph</a>          </td>
                  <td >
            <b>ADE PABLO D. DELOS REYES, JR. (OIC)</b>
<br>
Contact No(s).: (053)832-4896 
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:delosreyes.pablo_jr@dpwh.gov.ph">delosreyes.pablo_jr@dpwh.gov.ph</a>
          </td>
              </tr>
          <tr>
                  <td >
            <a>Region VIII</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1669"><b>Leyte 2nd District Engineering Office</b>
<br>
Barugohay Central Carigara, Leyte</a>          </td>
                  <td >
            <b>DE CARLOS G. VELOSO	</b>
<br>
Contact No(s): (053) 331-2808 	, (053)331-1108 	
<br>
Fax No: (053) 331-2808 	
<br>
Email Address: <a href="mailto:veloso.carlos@dpwh.gov.ph">veloso.carlos@dpwh.gov.ph</a>          </td>
                  <td >
            <b>ADE JOEL MELCHOR R. BOCO</b>
<br>
Contact No(s).: (053) 331-1107 
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:boco.joel_melchor@dpwh.gov.ph">boco.joel_melchor@dpwh.gov.ph</a>
          </td>
              </tr>
          <tr>
                  <td >
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-viii" >Region VIII</a>          </td>
                  <td >
            <a href="http://www.dpwh.gov.ph/dpwh/node/1670"><b>Leyte 3rd District Engineering Office</b>
<br>
Villaba, Leyte</a>          </td>
                  <td >
            <b>DE LUT B. BACLEA-AN	</b>
<br>
Contact No(s): (053) 552-9265 	
<br>
Fax No: (053) 552-9266 	
<br>
Email Address: <a href="mailto:baclea-an.lut@dpwh.gov.ph">baclea-an.lut@dpwh.gov.ph</a>          </td>
                  <td >
            <b>ADE LEO EDWARD L. OPPURA (OIC)</b>
<br>
Contact No(s).: (053) 552-9266 
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:oppura.leo_edward@dpwh.gov.ph">oppura.leo_edward@dpwh.gov.ph</a>
          </td>
              </tr>
          <tr>
                  <td >
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-viii" >Region VIII</a>          </td>
                  <td >
            <a href="http://www.dpwh.gov.ph/dpwh/node/1671"><b>Leyte 4th District Engineering Office</b>
<br>
Ormoc City</a>          </td>
                  <td >
            <b>DE LINO FRANCISCO C. GONZALEZ</b>
<br>
Contact No(s): (053) 255-2243 	, (053) 255-2230 	
<br>
Fax No: (053) 255-5547/561-9379 	
<br>
Email Address: <a href="mailto:gonzalez.lino_francisco@dpwh.gov.ph">gonzalez.lino_francisco@dpwh.gov.ph</a>          </td>
                  <td >
            <b>ADE IRWIN L. ANTONIO</b>
<br>
Contact No(s).: (053) 255-5612  
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:antonio.irwin@dpwh.gov.ph">antonio.irwin@dpwh.gov.ph</a>
          </td>
              </tr>
          <tr>
                  <td >
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-viii" >Region VIII</a>          </td>
                  <td >
            <a href="http://www.dpwh.gov.ph/dpwh/node/1672"><b>Leyte 5th District Engineering Office</b>
<br>
Baybay, Leyte</a>          </td>
                  <td >
            <b>DE EUSEBIO T. CULAS</b>
<br>
Contact No(s): (053) 335-2503 	
<br>
Fax No: (053) 335-4126 	
<br>
Email Address: <a href="mailto:culas.eusebio@dpwh.gov.ph">culas.eusebio@dpwh.gov.ph</a>          </td>
                  <td >
            <b>ADE DANIELITO P. PADON (OIC)</b>
<br>
Contact No(s).: (053) 335-4830  
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:padon.danielito@dpwh.gov.ph">padon.danielito@dpwh.gov.ph</a>
          </td>
              </tr>
          <tr >
                  <td >
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-viii" >Region VIII</a>          </td>
                  <td >
            <a href="http://www.dpwh.gov.ph/dpwh/node/1673"><b>Northern Samar 1st District Engineering Office</b>
<br>
Catarman,Northern Samar</a>          </td>
                  <td >
            <b>DE MARIO G. SORIANO (OIC)	</b>
<br>
Contact No(s): (055) 251-8190  	
<br>
Fax No: 
<br>
Email Address: <a href="mailto:soriano.mario@dpwh.gov.ph">soriano.mario@dpwh.gov.ph</a>          </td>
                  <td >
            <b>ADE RUEL V. UMALI</b>
<br>
Contact No(s).: (055)500-9165 
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:umali.ruel@dpwh.gov.ph">umali.ruel@dpwh.gov.ph</a>
          </td>
              </tr>
          <tr >
                  <td >
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-viii" >Region VIII</a>          </td>
                  <td >
            <a href="http://www.dpwh.gov.ph/dpwh/node/1674"><b>Northern Samar 2nd District Engineering Office</b>
<br>
Brgy. Buradub, Laoang Northern Samar</a>          </td>
                  <td >
            <b>DE FERDINAND A. BRIONES	</b>
<br>
Contact No(s): (055) 251-8254  	
<br>
Fax No: (055) 251-8254 	
<br>
Email Address: <a href="mailto:briones.ferdinand@dpwh.gov.ph">briones.ferdinand@dpwh.gov.ph</a>          </td>
                  <td >
            <b>ADE CHARLITO S. CARLOBOS</b>
<br>
Contact No(s).: (055) 251-8254 
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:carlobos.charlito@dpwh.gov.ph">carlobos.charlito@dpwh.gov.ph</a>
          </td>
              </tr>
          <tr >
                  <td >
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-viii" >Region VIII</a>          </td>
                  <td >
            <a href="http://www.dpwh.gov.ph/dpwh/node/1675"><b>Samar 1st District Engineering Office</b>
<br>
Calbayog City</a>          </td>
                  <td >
            <b>DE ALVIN A. IGNACIO	</b>
<br>
Contact No(s): (055) 209-1177 	, (055)533-8786 	
<br>
Fax No: (055) 533-9670 	
<br>
Email Address: <a href="mailto:ignacio.alvin@dpwh.gov.ph">ignacio.alvin@dpwh.gov.ph</a>          </td>
                  <td >
            <b>ADE DENIS C. CAGOMOC (OIC)</b>
<br>
Contact No(s).: (055) 209-1463 
<br>
Fax No.: (055) 209-3718 
<br>
Email Address: <a href="mailto:cagomoc.denis@dpwh.gov.ph">cagomoc.denis@dpwh.gov.ph</a>
          </td>
              </tr>
          <tr >
                  <td >
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-viii" >Region VIII</a>          </td>
                  <td >
            <a href="http://www.dpwh.gov.ph/dpwh/node/3330"><b>Samar 2nd District Engineering Office</b>
<br>
Brgy. Guindapunan, Catbalogan, Samar</a>          </td>
                  <td >
            <b>GEORGE O. SUY</b>
<br>
Contact No(s): (055) 251-6046
<br>
Fax No: (055) 251-6046
<br>
Email Address: <a href="mailto:suy.george@dpwh.gov.ph">suy.george@dpwh.gov.ph</a>          </td>
                  <td >
            <b>RUBEN D. DELOS REYES</b>
<br>
Contact No(s).: (055) 251-0094
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:delosreyes.ruben@dpwh.gov.ph">delosreyes.ruben@dpwh.gov.ph</a>
          </td>
              </tr>
          <tr >
                  <td >
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-viii" >Region VIII</a>          </td>
                  <td >
            <a href="http://www.dpwh.gov.ph/dpwh/node/1677"><b>Southern Leyte District Engineering Office</b>
<br>
Maasin,Southern Leyte</a>          </td>
                  <td >
            <b>DE MA. MARGARITA C. JUNIA	</b>
<br>
Contact No(s): (053) 381-2141 	
<br>
Fax No: (053) 381-3581 	
<br>
Email Address: <a href="mailto:junia.ma_margarita@dpwh.gov.ph">junia.ma_margarita@dpwh.gov.ph</a>          </td>
                  <td >
            <b>ADE ALLAN D. EWAY (OIC)</b>
<br>
Contact No(s).: (053) 381-3581  
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:eway.allan@dpwh.gov.ph">eway.allan@dpwh.gov.ph</a>
          </td>
              </tr>
          <tr>
                  <td >
            <a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-viii" >Region VIII</a>          </td>
                  <td >
            <a href="http://www.dpwh.gov.ph/dpwh/node/1678"><b>Tacloban City District Engineering Office</b>
<br>
Tacloban City (former Tacloban City Sub-Engineering District)</a>          </td>
                  <td >
            <b>DE ARNALDO R. BONIFACIO	</b>
<br>
Contact No(s): (053) 321-6485 	
<br>
Fax No: 
<br>
Email Address: <a href="mailto:bonifacio.arnaldo@dpwh.gov.ph">bonifacio.arnaldo@dpwh.gov.ph</a>          </td>
                  <td >
            <b>ADE REBECCA G. YUSE</b>
<br>
Contact No(s).: (053) 321-6485  
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:yuse.rebecca@dpwh.gov.ph">yuse.rebecca@dpwh.gov.ph</a>
          </td>
              </tr>
     

	  </table>

  </div>
  </ion-content>
  </ion-view>