<ion-view view-title="Region XIII">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
		 
        <thead>
      		<tr>
           		<th>Region</th>
                <th>Location</th>
		        <th>Regional Director          </th>
		        <th>Asst. Regional Director          </th>
		    </tr>
    </thead>
    
          <tr>
                <td>
            		<a>Region XIII</a></td>
                <td>J. Rosales Avenue, Butuan City</td>
                 <td><b>RD POL M. DELOS SANTOS  (OIC)</b>	
						<br>Contact No(s).: (085) 815-3502	, (085)-815-3503<br>
						Fax No.: (085)-815-3551	<br>Email: <a href="delossantos.pol@dpwh.gov.ph">delossantos.pol@dpwh.gov.ph</a></td>
                <td>
       				<b>ARD NOMER ABEL P. CANLAS (OIC)</b>
					<br>Contact No(s).: (085) 815-3504	
					<br>Fax No.: 
					<br>Email: <a>canlas.nomer_abel@dpwh.gov.ph</a>
				</td>
			</tr>
     
	</table>
  <br><br>
	  <table class="depttable">
        
      		<tr>
                <th>Region</th>
                <th>Office</th>
                <th>District Engineer</th>
                <th>Asst. District Engineer</th>
             </tr>
    
  
          <tr>
            <td>
            	<a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xiii" >Region XIII</a>
            </td>
            <td>
            	<a href="http://www.dpwh.gov.ph/dpwh/node/1416">
            		<b>Agusan del Norte District Engineering Office</b>
					<br>J. Rosales Avenue, Butuan City</a>
			</td>
            <td>
            	<b>DE NICOLAS O. ALAMEDA</b>
				<br>Contact No(s): (085) 342-5162, (085) 341-3051<br>
				Fax No: (085) 342-3505<br>Email Address: <a href="mailto:alameda.nicolas@dpwh.gov.ph">alameda.nicolas@dpwh.gov.ph</a>      
			</td>
            <td>
            	<b>ADE RAOUL D. LERIAS</b>
				<br>Contact No(s).: (085) 342-5162
				<br>Fax No.: <br>Email Address:
 					<a href="mailto:lerias.raoul@dpwh.gov.ph">lerias.raoul@dpwh.gov.ph</a>
          	</td>
          </tr>
          <tr>
            	<td>
            		<a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xiii" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="" class="active">Region XIII</a>          
            	</td>
                <td>
            		<a href="http://www.dpwh.gov.ph/dpwh/node/1626"><b>Agusan del Sur 1st District Engineering Office</b>
					<br>Patin-ay, Prosperidad, Agusan del Sur</a>          
				</td>
                <td>
            		<b>DE ALIPIO B. GRANA</b>
					<br>Contact No(s): (085) 343-7116 	<br>
						Fax No: <br>
						Email Address: <a href="mailto:grana.alipio@dpwh.gov.ph">grana.alipio@dpwh.gov.ph</a>          
				</td>
                 <td>
            		<b>ADE MAURO S. AGUERO , Jr.</b>
					<br>Contact No(s).: (085) 343-7116 
					<br>Fax No.: <br>
					Email Address: <a href="mailto:aguero.mauro_jr@dpwh.gov.ph">aguero.mauro_jr@dpwh.gov.ph</a>
          		</td>
              </tr>
          <tr>
                <td>
            		<a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xiii" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="" class="active">Region XIII</a>          </td>
                <td>
            		<a href="http://www.dpwh.gov.ph/dpwh/node/1627"><b>Agusan del Sur 2nd District Engineering Office</b>
					<br>Brgy. Karaos, San Francisco, Agusan Del Sur</a>          
				</td>
                <td>
            		<b>DE MARCELINO M. OPERARIO	</b>
					<br>Contact No(s): (085) 343-8726 	
					<br>Fax No: <br>
						Email Address: <a href="mailto:operario.marcelino@dpwh.gov.ph">operario.marcelino@dpwh.gov.ph</a>          
				</td>
                <td>
            		<b>ADE ANNIE R. SUMASTRE</b>
					<br>Contact No(s).: (085) 343-8726 <br>
					Fax No.: <br>
					Email Address: <a href="mailto:sumastre.annie@dpwh.gov.ph">sumastre.annie@dpwh.gov.ph</a>
          		</td>
              </tr>
          <tr >
                <td>
           			 <a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xiii" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="" class="active">Region XIII</a>          
           		</td>
                <td>
            		<a href="http://www.dpwh.gov.ph/dpwh/node/1628"><b>Butuan City District Engineering Office</b>
					<br>R. Palma, Butuan City</a>          
				</td>
                <td>
            		<b>DE JOSE CAESAR A. RADAZA	</b>
<br>
Contact No(s): (085) 342-5331 	
<br>
Fax No: 
<br>
Email Address: <a href="mailto:radaza.jose_ceasar@dpwh.gov.ph">radaza.jose_ceasar@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE ERVIN P. SALANG</b>
<br>
Contact No(s).: (085) 342-5330 
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:salang.ervin@dpwh.gov.ph">salang.ervin@dpwh.gov.ph</a>
          </td>
              </tr>
          <tr class="odd">
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xiii" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="" class="active">Region XIII</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1629"><b>Dinagat Islands District Engineering Office</b>
<br>
San Jose, Dinagat Islands, Surigao del Norte</a>          </td>
                  <td>
            <b>DE LINDA A. UYPALA	</b>
<br>
Contact No(s): 0927-3430004, 0906-9387911
<br>
Fax No: 
<br>
Email Address: <a href="mailto:uypala.linda@dpwh.gov.ph">uypala.linda@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE RODULFO A. LIBAY </b>
<br>
Contact No(s).: 
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:libay.rodulfo@dpwh.gov.ph">libay.rodulfo@dpwh.gov.ph</a>
          </td>
              </tr>
          <tr >
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xiii" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="" class="active">Region XIII</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1630"><b>Surigao del Norte 1st District Engineering Office</b>
<br>
Capitol Road, Surigao City</a>          </td>
                  <td>
            <b>DE HENRY CRUZ J. MARAPAO	</b>
<br>
Contact No(s): (086) 826-5013 , 	
<br>
Fax No: 
<br>
Email Address: <a href="mailto:marapao.henry_cruz@dpwh.gov.ph">marapao.henry_cruz@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE EMMANUEL J. CABANOS</b>
<br>
Contact No(s).: (086) 232-6906 
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:cabanos.emmanuel@dpwh.gov.ph">cabanos.emmanuel@dpwh.gov.ph</a>
          </td>
              </tr>
          <tr class="odd">
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xiii" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="" class="active">Region XIII</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1631"><b>Surigao del Norte 2nd District Engineering Office</b>
<br>
Dapa, Surigao del Norte</a>          </td>
                  <td>
            <b>DE ALEX B. RAMOS (OIC)</b>
<br>
Contact No(s): 0908-9056233, 0918-4132058
<br>
Fax No: 
<br>
Email Address: <a href="mailto:ramos.alex@dpwh.gov.ph">ramos.alex@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE LIONEL B. MIGUEL (OIC)</b>
<br>
Contact No(s).: 
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:miguel.lionel@dpwh.gov.ph">miguel.lionel@dpwh.gov.ph</a>
          </td>
              </tr>
          <tr >
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xiii" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="" class="active">Region XIII</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1632"><b>Surigao del Sur 1st District Engineering Office</b>
<br>
Tandag, Surigao del Sur</a>          </td>
                  <td>
            <b>DE RUEL B. BANTUGAN	</b>
<br>
Contact No(s): (086) 211-3679 	
<br>
Fax No: 
<br>
Email Address: <a href="mailto:bantugan.ruel@dpwh.gov.ph">bantugan.ruel@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE ANNABELLE L. ACMA</b>
<br>
Contact No(s).: (086) 211-3679 
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:acma.annabelle@dpwh.gov.ph">acma.annabelle@dpwh.gov.ph</a>
          </td>
              </tr>
          <tr class="odd views-row-last">
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-xiii" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="" class="active">Region XIII</a>          </td>
                  <td>
            <a href="http://www.dpwh.gov.ph/dpwh/node/1633"><b>Surigao del Sur 2nd District Engineering Office</b>
<br>
Bislig City, Surigao del Sur</a>          </td>
                  <td>
            <b>DE NOEL R. OCLARIT	</b>
<br>
Contact No(s): (086) 853-4308 	
<br>
Fax No: 
<br>
Email Address: <a href="mailto:oclarit.noel@dpwh.gov.ph">oclarit.noel@dpwh.gov.ph</a>          </td>
                  <td>
            <b>ADE CANDELARIO  P. PORTILLO (OIC)</b>
<br>
Contact No(s).: (086) 853-2143 
<br>
Fax No.: 
<br>
Email Address: <a href="mailto:portillo.candelario@dpwh.gov.ph">portillo.candelario@dpwh.gov.ph</a>
          </td>
              </tr>
      	
	  </table>
  </div>
  </ion-content>
  </ion-view>