<ion-view view-title="Executive Committee">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		    <th>Region</th>
        <th>Location</th>
        <th>Regional Director</th>
        <th>Asst. Regional Director</th>
		
	  </tr>
	 <tr>
      <td><a href="http://www.dpwh.gov.ph/dpwh/directory/regional_directory/region-vii">Region VII</a> </td>
      <td>South Road Properties, Cebu City </td>
      <td><b>RD ADOR G. CANLAS</b><br>Contact No(s).: (032)-411-6714  , (032)-411-6715<br>Fax No.: <br>Email: <a href="mailto:canlas.ador@dpwh.gov.ph">canlas.ador@dpwh.gov.ph</a>  </td>
      <td> <b>ARD JUBY B. CORDON</b><br>Contact No(s).: (032)-411-6757  <br>Fax No.: <br>Email: <a>cordon.juby@dpwh.gov.ph</a></td>
             
    </tr>
		
	</table>

  <table class="depttable">
	  <tr>
			<th>Region</th>
	     <th>Office</th>
	        <th>District Engineer</th>
	        <th>Asst. District Engineer</th>
		</tr>
	 	<tr>
      <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-vii">Region VII</a> </td>
      <td><a href="http://www.dpwh.gov.ph/dpwh/node/1410"><b>Bohol 1st District Engineering Office</b><br>Tagbilaran City</a> </td>
      <td><b>DE FRANCIS ANTONIO L. FLORES</b><br>Contact No(s): (038) 411-3136<br>Fax No: (038) 411-3136<br>Email Address: <a href="mailto:flores.francis_antonio@dpwh.gov.ph">flores.francis_antonio@dpwh.gov.ph</a>  </td>
      <td><b>ADE BEN ALDEN R. SERNA</b><br>Contact No(s).: (038) 412-3136<br>Fax No.: <br>Email Address: <a href="mailto:serna.ben_alden@dpwh.gov.ph">serna.ben_alden@dpwh.gov.ph</a> </td>
    </tr>
    <tr>
        <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-vii">Region VII</a>  </td>
        <td><a href="http://www.dpwh.gov.ph/dpwh/node/1616"><b>Bohol 2nd District Engineering Office</b><br>Ubay, Bohol</a>  </td>
        <td><b>DE MARIO M. MONTEJO  </b><br>Contact No(s): (038) 518-8050   <br>Fax No: <br>Email Address: <a href="mailto:montejo.mario@dpwh.gov.ph">montejo.mario@dpwh.gov.ph</a>  </td>
        <td><b>ADE JUNIBE A. FROILAN, JR. (OIC)</b><br>Contact No(s).: (038) 518-8051 <br>Fax No.: <br>Email Address: <a href="mailto:froilan.junibe_jr@dpwh.gov.ph">froilan.junibe_jr@dpwh.gov.ph</a> </td>
    </tr>
    <tr>
        <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-vii">Region VII</a>  </td>
        <td><a href="http://www.dpwh.gov.ph/dpwh/node/1617"><b>Bohol 3rd District Engineering Office</b><br>Guindulman, Bohol</a>  </td>
        <td><b>DE ARAMIS E. TORREFRANCA </b><br>Contact No(s): (038) 529-1060   <br>Fax No: <br>Email Address: <a href="mailto:torrefranca.aramis@dpwh.gov.ph">torrefranca.aramis@dpwh.gov.ph</a>  </td>
        <td>  <b>ADE CONCORDIO A. LANGOMEZ</b><br>Contact No(s).: (038) 510-8478 <br>Fax No.: <br>Email Address: <a href="mailto:langomez.concordio@dpwh.gov.ph">langomez.concordio@dpwh.gov.ph</a> </td>
    </tr>
    <tr>
        <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-vii">Region VII</a>  </td>
        <td><a href="http://www.dpwh.gov.ph/dpwh/node/1618"><b>Cebu 1st District Engineering Office</b><br>Medellin, Cebu</a>  </td>
        <td>  <b>DE GODOFREDO R. LAGA, JR.  </b><br>Contact No(s): (032) 256-1955   <br>Fax No: <br>Email Address: <a href="mailto:laga.godofredo@dpwh.gov.ph">laga.godofredo@dpwh.gov.ph</a>  </td>
        <td><b>ADE MAGITING A. CRUZ </b><br>Contact No(s).: (032) 436-2052 <br>Fax No.: <br>Email Address: <a href="mailto:cruz.magiting@dpwh.gov.ph">cruz.magiting@dpwh.gov.ph</a></td>
    </tr>
    <tr>
        <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-vii">Region VII</a>   </td>
        <td><a href="http://www.dpwh.gov.ph/dpwh/node/1619"><b>Cebu 2nd District Engineering Office</b><br>Lawa-an, Talisay City, Cebu</a>  </td>
        <td><b>DE LESLIE ANTHONY S. MOLINA  </b><br>Contact No(s): (032)272-8927  <br>Fax No: <br>Email Address: <a href="mailto:molina.leslie_anthony@dpwh.gov.ph">molina.leslie_anthony@dpwh.gov.ph</a> </td>
        <td> <b>ADE PAZ A. ADLAWAN (OIC)</b><br>Contact No(s).: (032)272-8924 <br>Fax No.: <br>Email Address: <a href="mailto:adlawan.paz@dpwh.gov.ph">adlawan.paz@dpwh.gov.ph</a> </td>
    </tr>
    <tr>
        <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-vii">Region VII</a> </td>
        <td><a href="http://www.dpwh.gov.ph/dpwh/node/1620"><b>Cebu 3rd District Engineering Office</b><br>Ibo, Toledo City, Cebu</a> </td>
        <td><b>DE DAISY B. TOLEDO </b><br>Contact No(s): (032) 322-6321   <br>Fax No: <br>Email Address: <a href="mailto:toledo.daisy@dpwh.gov.ph ">toledo.daisy@dpwh.gov.ph  </a> </td>
        <td><b>ADE REYNALDO V. NAVALES</b><br>Contact No(s).: (032) 322-6321 <br>Fax No.: <br>Email Address: <a href="mailto:navales.reynaldo@dpwh.gov.ph">navales.reynaldo@dpwh.gov.ph</a> </td>
    </tr>
    <tr>
        <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-vii">Region VII</a> </td>
        <td><a href="http://www.dpwh.gov.ph/dpwh/node/1621"><b>Cebu 4th District Engineering Office</b><br>Dalaguete, Cebu</a>  </td>
        <td><b>DE JAMES D. DELLOSA  </b><br>Contact No(s): (032) 484-8412   <br>Fax No: (032) 484-8412  <br>Email Address: <a href="mailto:dellosa.james@dpwh.gov.ph">dellosa.james@dpwh.gov.ph</a>  </td>
        <td><b>ADE RENULT G. RICARDO</b><br>Contact No(s).: (032) 484-8412 <br>Fax No.: <br>Email Address: <a href="mailto:ricardo.renault@dpwh.gov.ph">ricardo.renault@dpwh.gov.ph</a> </td>
    </tr>
    <tr>
        <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-vii">Region VII</a>   </td>
        <td><a href="http://www.dpwh.gov.ph/dpwh/node/1622"><b>Cebu 5th District Engineering Office</b><br>7th RES Compound, V. Sotto St., Cebu City</a>  </td>
        <td> <b>DE YUSOPH D. RASUMAN </b><br>Contact No(s): (032) 255-2394   <br>Fax No: (032) 239-8886  <br>Email Address: <a href="mailto:rasuman.yusoph@dpwh.gov.ph">rasuman.yusoph@dpwh.gov.ph</a>  </td>
        <td><b>ADE FERNANDO J. TALAGSA (OIC)</b><br>Contact No(s).: (032) 505-8291 <br>Fax No.: <br>Email Address: <a href="mailto:talagsa.fernando@dpwh.gov.ph">talagsa.fernando@dpwh.gov.ph</a></td>
    </tr>
    <tr>
        <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-vii">Region VII</a>    </td>
        <td><a href="http://www.dpwh.gov.ph/dpwh/node/1623"><b>Cebu 6th District Engineering Office</b><br>A.C. Cortes Avenue,Mandaue City</a> </td>
        <td><b>DE SUZETTE C. NWANAKA  </b><br>Contact No(s): (032)520-2044  <br>Fax No: 032)520-2044   <br>Email Address: <a href="mailto:nwanaka.suzette@dpwh.gov.ph">nwanaka.suzette@dpwh.gov.ph</a> </td>
        <td><b>ADE WILMA B. CAMPOS</b><br>Contact No(s).: (032)238-3242 <br>Fax No.: <br>Email Address: <a href="mailto:campos.wilma@dpwh.gov.ph">campos.wilma@dpwh.gov.ph</a></td>
    </tr>
    <tr>
        <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-vii">Region VII</a> </td>
        <td><a href="http://www.dpwh.gov.ph/dpwh/node/1624"><b>Cebu City District Engineering Office</b><br>V. Sotto St., Cebu City</a> </td>
        <td><b>DE NICOMEDES M. LEONOR, JR.  </b><br>Contact No(s): (032) 255-5326   <br>FaxNo: (032) 255-5326  <br>Email Address: <a href="mailto:leonor.nicomedes@dpwh.gov.ph">leonor.nicomedes@dpwh.gov.ph</a>   </td>
        <td> <b>ADE JOSE R. GAURAN, JR.</b><br>Contact No(s).: (032) 256-1955 <br>Fax No.: <br>Email Address: <a href="mailto:gauran.jose_jr@dpwh.gov.ph">gauran.jose_jr@dpwh.gov.ph</a></td>
    </tr>
    <tr>
        <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-vii">Region VII</a> </td>
        <td><a href="http://www.dpwh.gov.ph/dpwh/node/1625"><b>Siquijor District Engineering Office</b><br>Larena, Siquijor</a>  </td>
        <td> <b>DE ELVIS G. CALUNOD (OIC)  </b><br>Contact No(s): (035) 377-2039   <br>Fax No: <br>Email Address: <a href="mailto:calunod.elvis@dpwh.gov.ph">calunod.elvis@dpwh.gov.ph</a>   </td>
        <td><b>ADE NORMAN C. CARPIO</b><br>Contact No(s).: (035) 377-2039 <br>Fax No.: <br>Email Address: <a href="mailto:carpio.norman@dpwh.gov.ph">carpio.norman@dpwh.gov.ph</a> </td>
    </tr>
    <tr>
        <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-vii">Region VII</a>   </td>
        <td><a href="http://www.dpwh.gov.ph/dpwh/node/1612"><b>Negros Oriental 1st District Engineering Office</b><br>Guinhulngan, Negros Oriental</a> </td>
        <td><b>DE ALEXANDER G. DUHIG  </b><br>Contact No(s): (035) 410-3046   <br>Fax No: <b>Email Address: <a href="mailto:duhig.alexander@dpwh.gov.ph">duhig.alexander@dpwh.gov.ph</a>   </td>
        <td><b>ADE HERMINIO V. GULMATICO</b><br>Contact No(s).: (035) 410-3046 <br>Fax No.: <br>Email Address: <a href="mailto:gulmatico.herminio@dpwh.gov.ph">gulmatico.herminio@dpwh.gov.ph</a></td>
    </tr>
    <tr>
        <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-vii">Region VII</a>  </td>
         <td><a href="http://www.dpwh.gov.ph/dpwh/node/1613"><b>Negros Oriental 2nd District Engineering Office</b><br>Dumaguete City, Negros Oriental</a>     </td>
        <td><b>DE RICARDO C. DURAN  </b><br>Contact No(s): (035) 225-2540 <br>Fax No: <br>Email Address: <a href="mailto:duran.ricardo@dpwh.gov.ph">duran.ricardo@dpwh.gov.ph</a> </td>
        <td><b>ADE ERLINDA M. MAMHOT</b><br>Contact No(s).: (035) 225-5631 <br>Fax No.: <br>Email Address: <a href="mailto:mamhot.erlinda@dpwh.gov.ph">mamhot.erlinda@dpwh.gov.ph</a></td>
    </tr>
    <tr>
        <td><a href="http://www.dpwh.gov.ph/dpwh/directory/region/region-vii">Region VII</a> </td>
        <td><a href="http://www.dpwh.gov.ph/dpwh/node/1614"><b>Negros Oriental 3rd District Engineering Office</b><br>Siaton, Negros Oriental</a>  </td>
        <td><b>DE ANGEL C. BELTRAN, JR. </b><br>Contact No(s): (038) 427-0158   <br>Fax No: <br>Email Address: <a href="mailto:beltran.angel@dpwh.gov.ph  ">beltran.angel@dpwh.gov.ph   </a>  </td>
        <td><b>ADE JESSY A. MACIAS</b><br>Contact No(s).: (038) 427-0158 <br>Fax No.: <br>Email Address: <a href="mailto:macias.jessy@dpwh.gov.ph">macias.jessy@dpwh.gov.ph</a> </td>
    </tr>
		
</table>

  </div>
  </ion-content>
  </ion-view>