<ion-view view-title="Region XI">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Division</th>
		<th>Address</th>
		<th>Superintendent</th>
		<th>Asst. Superintendent/s</th>
		<th>Contact Number</th>
		
	  </tr>
	<tr>
		<td>Compostela Valley</td>
		<td>Nabunturan, Compostela Valley</td>
		<td>Reynante A. Solitario (OIC)</td>
		<td>Phoebe Gay L. Refamonte (OIC-ASDS)</td>
		<td>(084) 376-0123<br>
			376-0140 (telefax)</td>
	</tr>
	<tr>
		<td>Davao del Norte</td>
		<td>Tagum City, Davao</td>
		<td>Josephine L. Fadul</td>
		<td>---</td>
		<td>(084) 216&nbsp;6506<br>
			216 6497 (fax)</td>
	</tr>
	<tr>
		<td>Davao del Sur</td>
		<td>Digos, Davao del Sur</td>
		<td>Eufemia T. Gamutin</td>
		<td>Marilyn V. Deduyo (OIC-ASDS)</td>
		<td>(082) 553-4288<br>
							553-2496<br>
							533-7243</td>
	</tr>
	<tr>
		<td>Davao Oriental</td>
		<td>Mati, Davao Oriental</td>
		<td>Lorenzo E. Mendoza (OIC)</td>
		<td>Alona C. Uy (OIC-ASDS)</td>
		<td>(087) 388-3370<br>
							811-4346 (fax)</td>
	</tr>
	<tr>
	<td>Davao City</td>
	<td>Palma Gil St., Davao City</td>
	<td>Maria Ines C. Asuncion</td>
	<td>Basilio P. Mana-ay (OIC-ASDS)<br>
						Emma E. Camporedondo (OIC-ASDS)</td>
	<td>(082) 224-3274<br>
						224-0100<br>
						224-3274<br>
						221-0059 (fax)</td>
	</tr>
	<tr>
		<td>Digos City</td>
		<td>Digos City</td>
		<td>Winnie E. Batoon (OIC)</td>
		<td>Melanie P. Estacio (OIC-ASDS)</td>
		<td>(082) 553-8376<br>
							553-8375<br>
							553-8396</td>
	</tr>
	<tr>
		<td>Mati City</td>
		<td>Mati City</td>
		<td>Reynaldo M. Guillena</td>
		<td>Ma. Genevieve J. Francisquete (OIC-ASDS)</td>
		<td>(087) 388-3372<br>
							388-3370</td>
	</tr>
	<tr>
		<td>Panabo City</td>
		<td>Panabo City</td>
		<td>Dee D. Silva</td>
		<td>Rommel R. Jandayan (OIC-ASDS)</td>
		<td>(084) 628-4161 (telefax)</td>
	</tr>
	<tr>
		<td>Samal City</td>
		<td>Island Garden City of Samal</td>
		<td>Cristy C. Epe (OIC)</td>
		<td>Filomena M. Lopez (OIC-ASDS)</td>
		<td>(084) 301-4121</td>
	</tr>
	<tr>
		<td>Tagum City</td>
		<td>Tagum City</td>
		<td>Nelson C. Lopez (OIC)</td>
		<td>Christine C. Bagacay (OIC-ASDS)</td>
		<td>(084) 217-2326<br>
							217-3370 (fax)</td>
	</tr>
	  
	</table>
  </div>
  </ion-content>
  </ion-view>