<ion-view view-title="Region VII">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Division</th>
		<th>Address</th>
		<th>Superintendent</th>
		<th>Asst. Superintendent/s</th>
		<th>Contact Number</th>
	  </tr>
	<tr>
	<td>Bohol</td>
<td>Tagbilaran City</td>
<td>Wilfreda D. Bongalos</td>
<td>Marina S. Salamanca (OIC-ASDS)</td>
<td>(038) 411-2720<br>
					501-7537<br>
					411-4938</td>
</tr>
<tr>
<td>Cebu</td>
<td  >BAEX Bldg., Capitol, Cebu City</td>
<td  >Rhea Mar A. Angtud</td>
<td  >Roseller N. Gelig<br>
					Ester A. Futalan</td>
<td  >(032) 255-6405<br>
					255-5208<br>
					253-8533 (fax)</td>
</tr>
<tr>
<td  >Negros Oriental</td>
<td  >Dumaguete City, Negros Oriental</td>
<td  >Salustiano T. Jimenez</td>
<td  >Eduardo M. Ompad</td>
<td  >(035) 225-0667<br>
					225-2838<br>
					422-0267</td>
</tr>
<tr>
<td  >Siquijor</td>
<td  >Larena, Siquijor</td>
<td  >Ronald G. Gutay</td>
<td  >Levi S. Macahig (OIC-ASDS)</td>
<td  >(035) 377-2034<br>
					484-1175<br>
					377-2038 (fax)</td>
</tr>
<tr>
<td  >Bais City</td>
<td  >Bais City, Negros Oriental</td>
<td  >Orlando G. Cadano (OIC)</td>
<td  >Arnulfo A. Adana (OIC-ASDS)</td>
<td  >(035) 402-9468<br>
					402-3732</td>
</tr>
<tr>
<td  >Bayawan City</td>
<td  >Bayawan City, Negros Oriental</td>
<td  >Ma. Theresa V. Avanzado (OIC)</td>
<td  >Adolf P. Aguilar (OIC-ASDS)</td>
<td  >(035) 228-3089</td>
</tr>
<tr>
<td  >Bogo City</td>
<td  >Bogo City</td>
<td  >Nimfa D. Bongo</td>
<td  >Bernadette A. Susvilla</td>
<td  >(032) 434-9133 (telefax)</td>
</tr>
<tr>
<td  >Carcar City</td>
<td  >Carcar City</td>
<td  >Gregorio Cyrus R. Elejorde</td>
<td  >Allan B. Matin-Aw</td>
<td  >(032) 487-8495 (telefax)</td>
</tr>
<tr>
<td  >Cebu City</td>
<td  >Cebu City</td>
<td  >Bianito A. Dagatan</td>
<td  >Danilo G. Gudelosao (OIC-ASDS)</td>
<td  >(032) 255-1516</td>
</tr>
<tr>
<td  >Danao City</td>
<td  >Danao City</td>
<td  >Rosalie M. Pasaol</td>
<td  >Leah B. Apao (OIC-ASDS)</td>
<td  >(032) 200-4459<br>
					200-4021 (telefax)</td>
</tr>
<tr>
<td  >Dumaguete City</td>
<td  >Dumaguete City, Negros Oriental</td>
<td  >Evangel M. Luminarias</td>
<td  >Neri C. Ojastro</td>
<td  >(035) 225-2838<br>
					225-0667 (telefax)<br>
					422-0267</td>
</tr>
<tr>
<td  >Guihulngan City</td>
<td  >Guihulngan City, Negros Oriental</td>
<td  >Lelanie T. Cabrera (OIC)</td>
<td  >&nbsp;Anelito A. Bongcawil (OIC-ASDS)</td>
<td  >(035) 231-3297 (telefax)</td>
</tr>
<tr>
<td  >Lapu-Lapu City</td>
<td  >Lapu-Lapu City</td>
<td  >Marilyn S. Andales</td>
<td  >Marcelita S. Dignos (OIC-ASDS)</td>
<td  >(032) 340-7887<br>
					340-1141<br>
					340-7354 (fax)<br>
					(035) 231-3297 (telefax)</td>
</tr>
<tr>
<td  >Mandaue City</td>
<td  >Mandaue City</td>
<td  >Arden D. Monisit</td>
<td  >Estella B. Susvilla</td>
<td  >(032) 345-0545<br>
					345-1553 (telefax)</td>
</tr>
<tr>
<td  >Naga City</td>
<td  >Naga City</td>
<td  >Senen P. Paulin</td>
<td  >Lorenzo M. Dizon (OIC-ASDS)</td>
<td  >(032) 489-8673<br>
					489-7426 (fax)</td>
</tr>
<tr>
<td  >Tagbilaran City</td>
<td  >Tagbilaran City</td>
<td  >Virginia C. Zapanta</td>
<td  >Marcelo K. Palispis (OIC-ASDS)</td>
<td  >(038) 235-6239<br>
					235-6239<br>
					501-9449 (fax)</td>
</tr>
<tr>
<td  >Talisay City</td>
<td  >Talisay City</td>
<td  >Leah P. Noveras (OIC)</td>
<td  >Cartesa M. Perico</td>
<td  >(032) 491-3398<br>
					491-5929<br>
					272-4635</td>
</tr>
<tr>
<td  >Tanjay City</td>
<td  >Tanjay City, Negros Oriental</td>
<td  >Dexter Y. Aguilar (OIC)</td>
<td  >&nbsp;</td>
<td  >(035) 415-9360 (telefax)<br>
					415-8991</td>
</tr>
<tr>
<td  >Toledo City</td>
<td  >Toledo City</td>
<td  >Joseph Irwin A. Lagura</td>
<td  >Michaelangelo R. Sauro (OIC-ASDS)</td>
<td  >(032) 467-8284<br>
					467-8448<br>
					322-6038 (fax)</td>
</tr>
	  
	</table>
  </div>
  </ion-content>
  </ion-view>