<ion-view view-title="Region XIII(CARRAGA)">
	
 <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"  on-swipe-right="hideTime = true" data-ng-init="init()">
 
<div style="overflow-x:auto;">
	<table class="depttable">
	 <tr>
		<th>Division</th>
		<th>Address</th>
		<th>Superintendent</th>
		<th>Asst. Superintendent/s</th>
		<th>Contact Number</th>
		
	 </tr>
	<tr>
		<td>Agusan del Norte</td>
		<td>Butuan City</td>
		<td>Arsenio T. Cornites</td>
		<td>Felisa G. Laranjo (OIC-ASDS)</td>
		<td>(085) 341-8207<br>
							342-6822<br>
							342-9587</td>
	</tr>
	<tr>
		<td>Agusan del Sur</td>
		<td>Prosperidad, Agusan del Sur</td>
		<td>Minerva T. Albis (OIC)</td>
		<td>Gemma A. De Paz</td>
		<td>(085) 343-7115<br>
							232-3820<br>
							242-3827<br>
							242-3786<br>
							242-3786 (fax)</td>
	</tr>
	<tr>
		<td>Dinagat Islands</td>
		<td>Dinagat Islands</td>
		<td>Karen L. Galanida (OIC)</td>
		<td>Leonevee S. Botero (OIC-ASDS)</td>
		<td>(086) 365-1667</td>
	</tr>
	<tr>
		<td>Surigao del Norte</td>
		<td>Rizal St., Surigao City</td>
		<td>Nelia S. Lomocso (OIC)</td>
		<td>Laila F. Dabaque (OIC-ASDS)</td>
		<td>(086) 231-7517<br>
							826-8216<br>
							826-8216 (telefax)</td>
	</tr>
	<tr>
		<td>Surigao del Sur</td>
		<td>Tandag, Surigao del Sur</td>
		<td>Marilou B. Dedumo</td>
		<td>Jasmin P. Rendon-Lacuna (OIC-ASDS)&nbsp;</td>
		<td>(086) 211-3225<br>
							211-3970</td>
	</tr>
	<tr>
		<td>Bayugan City</td>
		<td>Bayugan City</td>
		<td>Imelda N. Sabornido (OIC)</td>
		<td>Rita S. Reyes (OIC-ASDS)</td>
		<td>---</td>
	</tr>
	<tr>
		<td>Bislig City</td>
		<td>Bislig City</td>
		<td>Josita B. Carmen&nbsp;</td>
		<td>Hector D. Macalalang (OIC-ASDS)</td>
		<td>(086) 628-2068<br>
							853-4454<br>
							853-2004 (fax)</td>
	</tr>
	<tr>
		<td>Butuan City</td>
		<td>Butuan City</td>
		<td>Romeo O. Aprovechar (OIC)</td>
		<td>---</td>
		<td>(085) 341-6830<br>
							342-9777</td>
	</tr>
	<tr>
		<td>Cabadbaran City</td>
		<td>Cabadbaran City</td>
		<td>Lorenzo O. Macasocol (OIC)</td>
		<td>Antonieta O. Narra (OIC-ASDS)</td>
		<td>---</td>
	</tr>
	<tr>
		<td>Siargao</td>
		<td>Dapa, Siargao</td>
		<td>Ma. Theresa M. Real (OIC)</td>
		<td>Harem L. Taruc (OIC-ASDS)</td>
		<td>(086) 365-1635</td>
	</tr>
	<tr>
		<td>Surigao City</td>
		<td>Surigao City</td>
		<td>Gilda G. Berte (OIC)</td>
		<td>Florence E. Almaden (OIC-ASDS)</td>
		<td>(086) 826-3075<br>
							826-1268<br>
							242-5249 (fax)</td>
	</tr>
	<tr>
		<td>Tandag City</td>
		<td>Tandag City</td>
		<td>Gregoria T. Su (OIC)</td>
		<td>Segundino A. Madjos, Jr. (OIC-ASDS)</td>
		<td>---</td>
	</tr>
	
	</table>
 </div>
 </ion-content>
 </ion-view>