<ion-view view-title="Reset Password">
	<ion-content>
		<div class="row">
			<div class="col ColMargin">
				<img src="img/CMS.png" class="RegLogo">
			</div>
		</div>
		<form name="resetForm">
			<div class="list">
				<label class="item item-input item-floating-label">
				    <span class="input-label labelColor">Email</span>
				    <input type="email" placeholder="Email" ng-model="data.mail" name="mail" required="">

			  	<div ng-messages="resetForm.mail.$error" ng-if='submitted'  style="color:red;font-size: 13px;" role="alert">
		            <div ng-message="required" class="error message"  ng-show="!resetForm.mail.$valid">Please Enter Email</div>
		        </div>
			  	</label>
			</div>
			<div class="row">
		        <div class="col col-50">
		          <button class="button button-energized button-block sign_btn" ng-click="resetchangepassword(resetForm)">
								Send Code
		          </button>
		        </div>
		        <div class="col col-50">
		          <button class="button button-block resetBtn" ui-sref="login">
		            Cancel
		          </button>
		        </div>
		     </div>
		</form>
	</ion-content>	
</ion-view>