<ion-view view-title="Change Password">
	<ion-content>
		<div class="row">
			<div class="col">
				<img src="img/CMS.png" class="RegLogo">
			</div>
		</div>
		<form name="signupForm">
			<div class="list">
				<label class="item item-input item-floating-label">
			    	<span class="input-label labelColor">Old Password</span>
			    	<input type="password" placeholder="Old Password" ng-model="data.opwd" name="opassword" required="">
			  	<div ng-messages="signupForm.opassword.$error" ng-if='submittedpwd'  style="color:red;font-size: 13px;" role="alert">
		            <div ng-message="required" class="error message"  ng-show="!signupForm.opassword.$valid">Please Enter Old Password</div>
		        </div>

			  	</label>

				<label class="item item-input item-floating-label">
			    	<span class="input-label labelColor">New Password</span>
			    	<input type="password" placeholder="New Password" ng-model="data.pwd" name="password" required="">
			  	<div ng-messages="signupForm.password.$error" ng-if='submittedpwd'  style="color:red;font-size: 13px;" role="alert">
		            <div ng-message="required" class="error message"  ng-show="!signupForm.password.$valid">Please Enter New Password</div>
		        </div>

			  	</label>
			  	<label class="item item-input item-floating-label">
			    	<span class="input-label labelColor">Confirm New Password</span>
			    	<input type="password" placeholder="Confirm New Password" ng-model="data.con_pwd" name="con_pwd" required="" ng-pattern="data.pwd">

			<div ng-messages="signupForm.con_pwd.$error" ng-if='submittedpwd' style="color:red;font-size: 13px;" role="alert">
			            <div ng-message="required" class="error message"  ng-show="signupForm.con_pwd.$error.required">Please enter confirm password</div>          

			            <span ng-show="submittedpwd && signupForm.con_pwd.$error.pattern && !signupForm.con_pwd.$error.required">Password doesn't match</span>
			 </div>
			        
			  	</label>
			</div>
			<div class="row">
				<div class="col col-50">
					<button class="button button-energized button-block sign_btn" ng-click="changePwd(signupForm)">
						Chnage Password
					</button>
				</div>
				<div class="col col-50">
					<button class="button button-block resetBtn" ui-sref="app.editprofile">
						Cancel
					</button>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>