<ion-view view-title="Review Information">
	<ion-content>
		<form ng-submit="">
			<div class="row responsive-sm ContentPad">
				<div class="col idenCol">
					<img src="img/CMS.png" class="RegLogo statefrm">
					<div class="list">
						<div class="item reviewque">
						    <h2>Are available info useful?</h2>
						    <label class = "toggle toggle-energized ">
					         <input type = "checkbox"  ng-checked="{{useful}}" ng-model="status1" ng-click="stateChanged1(status1)"/>
					         <div class = "track">
					            <div class = "handle"></div>
					         </div>
					      </label>
						</div>

						

						<div class="item reviewque">
						     <h2>Was issue mentioned in any of the accessed info?</h2>
						    <label class = "toggle toggle-energized ">
					         <input type = "checkbox" ng-checked="{{mention}}" ng-model="status2" ng-click="stateChanged2(status2)"/>
					         <div class = "track">
					            <div class = "handle"></div>
					         </div>
					      </label>
						</div>
						<div class="item reviewque">
						    <h2>Does available info identify the office responsible for the issue?</h2>
						    <label class = "toggle toggle-energized ">
					         <input type = "checkbox" ng-checked="{{office_res}}" ng-click="stateChanged3(status3)" ng-model="status3"/>
					         <div class = "track">
					            <div class = "handle"></div>
					         </div>
					      </label>
						</div>
					</div>
						
					<button ng-disabled="{{buttonDisabled}}" class="button button-block button-energized sign_btn" ng-click="save()">
			  		Save
					</button>
				</div>	
			</div>
			
		</form>
	</ion-content>
</ion-view>