<ion-view view-title="Schools">
 	<ion-nav-buttons side="right">
      <button class="button button-icon ion-plus plusIcon" ui-sref="app.addschool"></button>
  	</ion-nav-buttons>

  	<ion-content scroll="false">
  	<div class="row">
  		<div class="col">
  			<img src="img/checkschool.png" class="schLogo">
  		</div>
  		<div class="col col-75">
  			<div class="list list-inset">
			    <div class="item">
			      Rizal HS
			    </div>
			    <div class="item">
			      Bonifacio ES
			    </div>
			    <div class="item">
			      Tandang Sora ES
			    </div>
			</div>
  		</div>
  	</div>
  	<div class="row">
	  		<div class="col">
	  			<button class="button button-outline button-block button-positive">
				  More
				</button>
			</div>
		</div>
  	</ion-content>
</ion-view>