<ion-view view-title="Statement Form">
	<ion-content>
		<form ng-submit="">
			<div class="row responsive-sm ContentPad">
				<div class="col idenCol">
					<img src="img/CMS.png" class="RegLogo statefrm">
					<p class="padBottom">We are concerned with and affected by this issue of <input type="text" name="txtbox" class="textBox1"> in {{schoolName}}.</p>
						<div class="list">
						  	<label class="item item-input">
						    	<span class="input-label">Name</span>
						    	<input type="text" ng-model="data.name">
						  	</label>
						  	<label class="item item-input">
						    	<span class="input-label">Telephone</span>
						    	<input type="text" ng-model="data.telephone">
					  		</label>
						  	<label class="item item-input">
						    	<span class="input-label">Email</span>
						    	<input type="text" ng-model="data.email">
						  	</label>
						  	<label class="item item-input">
						    	<span class="input-label">Comment</span>
						    	<input type="text" ng-model="data.comment">
						  	</label>
						</div>

						<div class="list" ng-if="shownow">
						  	<label class="item item-input">
						    	<span class="input-label">Name</span>
						    	<input type="text" ng-model="data2.name">
						  	</label>
						  	<label class="item item-input">
						    	<span class="input-label">Telephone</span>
						    	<input type="text" ng-model="data2.telephone">
					  		</label>
						  	<label class="item item-input">
						    	<span class="input-label">Email</span>
						    	<input type="text" ng-model="data2.email">
						  	</label>
						  	<label class="item item-input">
						    	<span class="input-label">Comment</span>
						    	<input type="text" ng-model="data2.comment">
						  	</label>
						</div>		
					<button class="button button-energized sign_btn" ng-click="next()">
			  			Add People
					</button>

					<button class="button button-energized sign_btn" ng-click="print()">
			  		Download
					</button>
				</div>	
			</div>
			
		</form>
	</ion-content>
</ion-view>