<ion-view view-title="Executive Committee">
	
  <ion-content class="has-header content-stable" on-swipe-left="hideTime = false"   on-swipe-right="hideTime = true" data-ng-init="init()">
  
<div style="overflow-x:auto;">
	<table class="depttable">
	  <tr>
		<th>Office</th>
		<th>Head of Office</th>
		<th>Designation</th>
		<th>Contact Number</th>
		
	  </tr>
	  <tr>
		<td>DISASTER RISK REDUCTION AND MANAGEMENT SERVICE (DRRMS)</td>
		<td>Ronilda R. Co</td>
		<td>Director IV</td>
		<td>635-3764<br>
			637-4933<br>
			</td>
		
	  </tr>
	  <tr>
		<td>EXTERNAL PARTNERSHIPS SERVICE (EPS)</td>
		<td>Margarita Consolacion C. Ballesteros</td>
		<td>Director IV</td>
		<td>637-6463<br>
			638-7110<br>
			636-7523</td>
		
		</tr>
		
		<tr>
			<td>INFORMATION AND COMMUNICATIONS TECHNOLOGY SERVICE (ICTS)</td>
			<td>Aida C. Yuvienco</td>
			<td>Director IV</td>
			<td>631-9636<br>
				636-6548
				</td>
		</tr>

			<tr>
				<td>Solutions Development Division (SDD)</td>
				<td>---</td>
				<td>Information Technology Officer III	</td>
				<td>633-2092
					</td>
			</tr>
			<tr>
				<td>Technology Infrastructure Division (TID)</td>
				<td>---</td>
				<td>Information Technology Officer III	</td>
				<td>633-2363</td>
			</tr>
			<tr>
				<td>User Support Division (USD)</td>
				<td>Encarnacion T. Escuadro</td>
				<td>Information Technology Officer III</td>
				<td>633-7264<br>
					636-4878</td>
			</tr>
			<tr>
				<td>PLANNING SERVICE (PS)</td>
				<td>Roger B. Masapo</td>
				<td>Director IV</td>
				<td>687-2744</td>
			</tr>
			<tr>
				<td>Educational Management Information System Division (EMISD)</td>
				<td>Marietta C. Atienza</td>
				<td>Project Development Officer V</td>
				<td>638-2251<br>
					635-3958<br>
					635-3986 (fax)</td>
			</tr>
			<tr>
				<td>Planning and Programming Division (PPD)</td>
				<td>Mary Jane B. Feliciano	</td>
				<td>Project Development Officer V</td>
				<td>633-7216<br>
					638-8634</td>
			</tr>
			<tr>
				<td>Policy Research and Development Division (PRDD)</td>
				<td>Mariel Bayangos (OIC)</td>
				<td>Project Development Officer V</td>
				<td>633-7257<br>
					635-3976
					</td>
			</tr>
			<tr>
				<td>PUBLIC AFFAIRS SERVICE (PAS) </td>
				<td>--</td>
				<td>Director IV</td>
				<td>---</td>
			</tr>
			<tr>
				<td>Communications Division </td>
				<td>Blanquita Dolores D. Bautista</td>
				<td>Chief Administrative Officer</td>
				<td>633-7254<br>
					633-2120</td>
			</tr>

			<tr>
				<td>Publications Division</td>
				<td>Josefina B. Mariano</td>
				<td>Chief Administrative Officer</td>
				<td>633-9341</td>
			</tr>
			

	  
	</table>
  </div>
  </ion-content>
  </ion-view>