<ion-view view-title="Witness implementation">
	<ion-content>
		<div class="row responsive-sm ContentPad">
			<div class="col idenCol">
				<p class="padBottom">Visit school to verify implementation of solution. Ask for copy of document like contract, memorandum of agreement or resolution.</p>
				<form ng-submit="">
				<div class="padBottom">
					
						<label class="item item-input">
					    	<span class="input-label itemWrap ser_Item">Value of improved service item: PHP</span>
					    	<input type="number" class="sourceTxtbx textbox_margin_left" ng-model="temp.voi_service">
					  	</label>
					  	<label class="item item-input">
					    	<span class="input-label">Sources of fund:</span>
					    	<input type="text" class="sourceTxtbx" ng-model="temp.sof_service">
					  	</label>
					
					</div>
					<h4 class="report">Take photo of contract/agreement:</h4>
						<img src="img/photo-camera.png" class="photoImg reportImg" ng-click="showPopup()" ng-src="{{cameraimage64}}"	ng-if="uploaded_contract == 'not'">

						<img src="{{imageurl}}" class="photoImg reportImg" ng-click="showPopup()" ng-src="{{cameraimage64}}"	ng-if="uploaded_contract == 'ok'">

					<h4 class="report">Take photo of improve service:</h4>
						<img src="img/photo-camera.png" class="photoImg reportImg" ng-click="showPopup2()" ng-src="{{cameraimage642}}"	ng-if="uploaded_service_photo == 'not'">

						<img src="{{imageurl2}}" class="photoImg reportImg" ng-click="showPopup2()" ng-src="{{cameraimage642}}"	ng-if="uploaded_service_photo == 'ok'">

					<button ng-disabled="{{buttonDisabled}}" class="button button-energized button-block sign_btn" ng-click="save()">
			  		Save
				</button>
				</form>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>